[2016-05-24 21:42] natew commented on #239
Was this not released with 1.0?

[2016-05-24 21:43] dalanmiller commented on #464
@nwwells I would reckon that your Docker Host isn't `127.0.0.1`. Are you using `docker-machine` with a remote host, using VirtualBox with a boot2docker image, or using the new Docker Beta for Mac? (Or something else?)

[2016-05-24 21:56] dalanmiller commented on #239
Unfortunately no @natew, are you coming across an issue where you need CORS?

[2016-05-24 21:56] deontologician commented on #428
This is medium term, so not necessarily the next release. Before taking a crack at it @stellanhaglund, we might want to get a comment from @Tryneus on the api design. My understanding of the auth classes right now is fuzzy, so I can't provide too much useful commentary.

[2016-05-24 22:02] stellanhaglund commented on #410
This doesnt show up for me anymore, so i dont think its an active issue

[2016-05-24 22:10] dalanmiller commented on #428
@marshall007 Is this in addition to having a supported set of OAuth providers? I like this API but I think it's too much boilerplate for developers who want to just add Google, Github, Twitter, etc to their application.

[2016-05-24 22:42] marshall007 commented on #428
@dalanmiller yea so the idea is that we would use this API internally to pre-configure the default set of supported auth strategies. You would only have to use the `horizon.auth.strategy()` API if you needed support for something else.

Server would initialize built-in strategies automatically:

[code]

Which get consumed by the user in one of the following ways:

[code]

[code]

[code]

[2016-05-24 22:49] marshall007 commented on #428
Also note that while I only illustrated options specifically related to OAuth strategies, the idea is that `protocol` could be a variety of things (`anonymous`, `unauthenticated`, `http-basic`, etc) and hopefully this API would allow you to configure arbitrary authentication workflows. I just haven't had time to think through all that yet.

[2016-05-24 23:01] natew commented on #239
We are doing a little nginx proxy in front so no worries.

[2016-05-24 23:14] jwarning commented on #501
I've been having a similar problem on OSX since a couple of days ago. Firefox is fine, but for me it won't connect to the websocket if I use localhost:8181 in Chrome anymore. Using 127.0.0.1 or 0.0.0.0 seems to be ok.

[2016-05-24 23:14] dalanmiller commented on #239
Hey if you think it novel, would you mind sharing the nginx config? Are you
just adding headers to the responses with Nginx? @natew

2016-05-24 16:01 GMT-07:00 Nate Wienert notifications@github.com:

[2016-05-25 00:19] deontologician commented on #410
Thanks for the update @stellanhaglund

[2016-05-25 02:48] Tryneus commented on #486
Fixed in PR #499 - thanks for reporting this, @nphyatt!

[2016-05-25 02:48] #486 closed, assigned to nobody

[2016-05-25 03:01] nphyatt commented on #486
Thanks for the quick response and fix @Tryneus and @danielmewes!

[2016-05-25 03:27] Rajan opened #505 "The Positioning Problem for Horizon Framework"
I've been watching horizon and also played with it a bit.
It seems more like a co-framework to me than a standalone framework so far.
Is it how it's positioned? or It can be used independently of other Node.js frameworks.
If it can be used independently, why don't we have some framework-independent examples?

[2016-05-25 09:43] nwwells commented on #464
@dalanmiller - you are correct, `docker-machine`

[2016-05-25 09:54] nwwells commented on #464
@deontologician, no. I started `rethinkdb` on my local host (no docker) and it was the same result as well.

[2016-05-25 09:57] nwwells commented on #464
I added the `--debug` flag to `hz serve` and got the following in the logs:

[code]

[2016-05-25 10:24] silentworks commented on #464
@nwwells that looks like an JWT issue, try clearing the token from local storage again and see what happens.

[2016-05-25 12:09] stellanhaglund commented on #428
here is a pr for @ericb's suggestion.

Right now it goes completely outside the default auth, allowing you to do whatever you want starting from the handshake this is beacause I want to use other than the internal tables for my users, but you could use those if you wanted to.

https://github.com/rethinkdb/horizon/pull/506

[2016-05-25 12:43] nwwells commented on #464
There was nothing in local storage when I saw that error.
On Wed, May 25, 2016 at 06:24 Andrew Smith notifications@github.com wrote:

[2016-05-25 14:35] deontologician commented on #464
@nwwells can you check if your config.toml contains the line `allow_unauthenticated=true` ?

[2016-05-25 15:25] Penagwin opened #508 "redirect_uri is hardcoded for https"
This affects [github.js](https://github.com/rethinkdb/horizon/blob/061f784fa6f8cd6b30ffcaf6b88e823e0e386b3f/server/src/auth/github.js) however it does/may affect other Oauth endpoints. Currently the code adds `&redirect_uri=https%3A%2F%2F[Rest of url]` to the url that the user is directed to at github. When this redirect_url isn't the same as the one specified in github's settings it will cause an

[2016-05-25 16:13] haukurk commented on #420
+1

[2016-05-25 17:55] danielmewes commented on #505
Horizon is indeed not a full standalone framework and is not intended to be (unlike Meteor for example). Instead Horizon concentrates on the functionality that you would typically implement in your backend, such as data storage, push updates, authentication, security and a few other components.

This is why http://horizon.io/ talks about a "JavaScript backend", not "framework". Is there a section

[2016-05-25 18:24] Rajan commented on #505
You could but making this clear isn't enough.
A developer wanting to build something would be ideally looking for:
- A web development framework which does the complete job: sails.js, meteor, rails etc.
- Mobile Backend As A Service: Firebase, Strongloop Loopback, backendless etc.
- Individual components for various use cases for a framework: push, auth, redis etc. Most frameworks have also their

[2016-05-25 18:43] danielmewes commented on #505
Thanks for sharing your thoughts.

Horizon quite closely fits the second category ("Mobile backend as a service"). The "as a service" part is optional with Horizon (well, right now it's not even available yet, but we're working on changing that. Look out for "Horizon Cloud"). It also is not limited to mobile apps, but neither are the other services you list as far as I can tell. I think once Horiz

[2016-05-25 18:45] joshwiens commented on #505
@Rajan - This makes perfect sense. In essence it is a self hosted `backend as a service` which allows for integration and transition to a more robust API when you need to extend the functionality.

We don't need another framework, we need a simple way to get data from a DB into an Application that can step out of the way when a more robust server implementation is required.

As an aside, basing a

[2016-05-25 18:54] deontologician commented on #505
Going to close since it's not a bug, but feel free to discuss here or on our discourse forum: https://discuss.horizon.io

As far as splitting things into npm packages, I think we should do that as the design process naturally spins off independent chunks. It's definitely the node/js way to break things out into smaller units (both for code size reasons and just culturally), so it makes sense to mo

[2016-05-25 18:55] #505 closed, assigned to nobody

[2016-05-25 18:57] deontologician commented on #505
A good example where the module -> public api discussion is going on is #428

[2016-05-25 20:01] deontologician opened #509 "Add hz command to generate custom horizon client builds"
This would build with a couple different config options:
- [ ] Set the horizon server explicitly
  - Sometimes (probably usually in production servers) the static domain and hz domain are different. This would bake the horizon server's location into the client itself.
- [ ] Include or exclude Observable methods
  - Right now we export a barebones observable. It would be convenient to let the user

[2016-05-25 20:39] #376 closed

[2016-05-25 20:54] dalanmiller opened #510 "Create options for basic REST endpoints for data ingress / webhooks"
Similar to https://www.firebase.com/docs/rest/guide/saving-data.html

Given a pre-existing database, Horizon should have a way to allow people to ingest large `.json` dumps into Horizon. I got this question a fair number of times at OSCON from people thinking about how to move their data into Horizon.

Currently, your best bet is to hope that your data is in a format which is usable by `rethinkdb

[2016-05-25 21:00] dalanmiller commented on #496
I read about something like this on Gitlab:

http://docs.gitlab.com/ce/monitoring/health_check.html

This would be pretty cool. Do you think we need to use an access token like they do @encryptio?

[2016-05-25 21:08] #493 closed, assigned to nobody

[2016-05-25 21:10] dalanmiller commented on #482
Since this is the expected result for the moment, I'm going to close this issue. @aihornmac if you have a proposal to make this or `set-schema` better feel free to open a new issue.

[2016-05-25 21:10] #482 closed, assigned to nobody

[2016-05-25 21:11] dalanmiller commented on #479
Should be fixed now with #472, thank you @casche

[2016-05-25 21:11] #479 closed, assigned to nobody

[2016-05-25 21:18] dalanmiller commented on #142
Hey @mike-thompson-day8 would you mind trying this out again? I'm going to close the issue for now as we've seen this closed in most instances, but please re-open if it's still occurring for you.

[2016-05-25 21:18] #142 closed

[2016-05-25 21:19] dalanmiller commented on #63
Closing for now, as this hasn't been an issue.

[2016-05-25 21:23] deontologician commented on #482
Do we have an issue for fixing this? If not we could use this one

[2016-05-25 21:47] Tryneus commented on #508
I may be wrong, but the documentation for most (if not all) auth providers say that you should only use HTTPS for the redirect URI.  At least some of them will change `http` to `https` or reject your redirect URI if it is not secure.  Out of security concerns, I'm not convinced we should allow `http` redirect URIs in the release branch.  Omitting the redirect URI if it is not specified seems fine,

[2016-05-25 22:08] encryptio commented on #496
Looks like Gitlab uses [the `health_check` gem](https://github.com/ianheggie/health_check) which does extensive and expensive checks for the entire rails stack, including services that are not the process you're querying, or even rails processes at all (like memcached, mysql, and the smtp mail server.) Gitlab's kind of check would be very well suited to point an alerting system at (where you want

[2016-05-25 22:21] deontologician commented on #352
This was fixed

[2016-05-25 22:21] #352 closed

[2016-05-25 23:46] dalanmiller opened #511 "When not using `--serve-static`, a handler needs to be setup to correctly 404 requests"
Currently if you don't have `--serve-static` set, the browser will just hang until it times out when you go to any path on the domain (except for `/horizon/*` of course) `http[s]://localhost:8181`  It should immediately 404.

[2016-05-26 01:27] deontologician opened #512 "Fix race conditions in subscription client tests"
Right now you will occasionally get "Write invalidated by another request, try again", which should not happen in the client tests with a single client.

[2016-05-26 01:30] deontologician opened #513 "Retry writes if they fail due to another write intervening"
If the user doesn't provide a $hz_v$ field in the document to write, the server should retry the write on version check failures up to some timeout.

If the user provides an $hz_v$ value in their document, and the version check fails, the write should fail and not retry.

[2016-05-26 01:32] dalanmiller opened #514 "Create example using react-router."
I've seen a few instances where people are trying to use Horizon with react-router.

For it to work it requires all routes to be redirected to index.html. Creating some boilerplate which extends Horizon with koa, hapi, and express to do this I think would be helpful.

[2016-05-26 01:34] deontologician commented on #512
Whoops, dupe of #475

[2016-05-26 01:34] #512 closed, assigned to nobody

[2016-05-26 01:41] deontologician commented on #511
So it looks like the reason this doesn't happen is because the fileServer assumes any paths it doesn't handle will be handled by the horizon server (we have two static file servers at this point, one the server manages, and one the cli manages). In reality of course, there are paths that neither the cli nor the server handle, and these hang forever.

I think the reasonable solution would be to get

[2016-05-26 01:46] deontologician commented on #501
It looks like this may be related to either HMR or engine.io. I assume you've tried it without HMR enabled?

[2016-05-26 01:54] #470 closed, assigned to nobody

[2016-05-26 02:13] dalanmiller commented on #511
If we pick express, it wouldn't be ridiculous to just use passportjs after
that, no?

cc @marshall007
Le 25 mai 2016 18:41, "Josh Kuhn" notifications@github.com a écrit :

[2016-05-26 02:17] deontologician commented on #511
Well express is kinda big for this, since it's meant for dynamic serving. We just need to serve files from a directory, give 404s on missing, give 500 on errors, pick the right mime-type etc. All stuff we've got coded ourselves at the moment (and not particularly cleanly). Plus, this wouldn't be used if the user is integrating Horizon into an existing app, only in the config/backendless mode

[2016-05-26 02:34] joshwiens commented on #161
@niieani One thing in regards to the d.ts files being generated. I propose they be maintained in https://github.com/orgs/typed-typings and we should really generate them per the Typings guidelines ( they have a project template for typings )

This group is really pushing to standardize the generation and maintenance of Type definitions to make TypeScript easier for everyone to use.

Also worth not

[2016-05-26 03:58] DanielRosenwasser commented on #161
I would actually recommend that if there's a commitment to keeping official and up-to-date `.d.ts` files, that you keep them in the package itself - especially if you eventually start generating them directly from source.

Check out our guidelines on [Typings for NPM Packages](https://www.typescriptlang.org/docs/handbook/typings-for-npm-packages.html) for more details.

[2016-05-26 04:30] garthk opened #518 "Integrate with Auth0 (OAUTH2 meta-authentication provider)"
Further to @dweldon's comment on #176:

Auth0's back end [identity providers](https://auth0.com/docs/identityproviders) include:
- Most of the OAUTH2 social providers you'd expect
- ADFS, Active Directory, LDAP, and SAML-P for enterprise SSO
- Password-less authentication via email, SMS, and the iOS touch sensor
- Auth0's own cloud identity service
- The database of your choice

That, plus a free

[2016-05-26 05:07] blakeembrey commented on #161
👍 to @DanielRosenwasser's comment. If you're writing type definitions, they should be maintained in the library. See https://github.com/typings/typings/issues/322 for more information. Of course, if you ever need a hand you can ping anyone from @typings for help. I've helped a few packages transition to inline typings.

Edit: I'll also add collaborators to @typed-typings if someone wants to mainta

[2016-05-26 05:17] kushwahashiv commented on #161
+1

[2016-05-26 05:29] catkins commented on #278
Having an official `rethinkdb/horizon` docker image would be 👌.

I 💖 @janders223 idea of creating a `Dockerfile` and `docker-compose.yml` on init. It would make onboarding devs onto a horizon project super simple, especially for people without too much background in node.

[2016-05-26 10:02] nwwells commented on #464
@deontologician, yeah, that was it. So, I guess this is either a docs issue (the getting started guide doesn't say anything about changing the default `config.toml`) or a defaults issue (the default `config.toml` doesn't set `allow_unauthenticated = true`).

Just a little note on the default `config.toml`: Many of the config variables are commented out with non-default values. Typically (in my exp

[2016-05-26 14:30] deontologician commented on #464
You're absolutely right, options commented out with non-default values is a bug

[2016-05-26 14:36] deontologician opened #520 "Config file shouldn't have non-default values commented out"
See https://github.com/rethinkdb/horizon/issues/464#issuecomment-221829988

Right now our config file has things like `allow_unauthenticated = true` commented out, which is not the default

[2016-05-26 14:37] deontologician commented on #464
I've opened #520 to track fixing the config

[2016-05-26 14:37] #464 closed, assigned to nobody

[2016-05-26 14:45] stellanhaglund commented on #441
I am looking for a way to unsubscribe and close active cursors when using sendRequest, im able to unsubscribe but it doesnt close the cursors until i reload the page, but maybe that is another thing than this?

[2016-05-26 14:46] stellanhaglund commented on #441
So i guess close it even though done isnt send from the request handler

[2016-05-26 15:03] deontologician commented on #441
@stellanhaglund is this in the context of #515 ?

[2016-05-26 15:12] deontologician commented on #518
This sounds reasonable. I think we should probably work on getting something like #428 first so that it's easier to build 3rd party modules to different auth types

[2016-05-26 15:16] stellanhaglund commented on #441
Yeah i didnt see that.
Looks like its what im talking about but doesnt look like it solves my
problem all the way yet

torsdag 26 maj 2016 skrev Josh Kuhn notifications@github.com:

[2016-05-26 16:12] stellanhaglund commented on #470
Does this allow me to unsubscribe and close the cursor from the client?

Im strugggling with closing the cursors when i change route in angular, im able to unsubscribe but it doesnt close the cursor

[2016-05-26 16:44] GenericUK opened #521 "Blank on iphone/Safari"
EXAMPLE CHAT APP BLANK ON IPHONE

I've installed the latest versions of everything today. I started a ngrok session and works fine on desktop and Android but its blank on iphone. The page loads and body css works but the chat app js is not loading.

[2016-05-26 16:47] deontologician opened #522 "Elm example"
Would be cool. Given that we don't have an elm client ([yet](https://discuss.horizon.io/t/a-pure-elm-client-for-the-horizon-server/175)) we'd need to use ports probably

[2016-05-26 16:48] deontologician commented on #521
Is it possible to run it in an emulator and see what the console output is?

[2016-05-26 16:48] fredp46 opened #523 "join"
If you have a question,  please open a new topic in Horizon's Help forum:
    https://discuss.horizon.io/c/get-help

If you're suggesting a feature but aren't sure how it might be implemented, we have a more free-form discussion forum for features:
    https://discuss.horizon.io/c/features

If you're reporting a bug please include the following:
- Server version
- Client version

[2016-05-26 16:51] #523 closed, assigned to nobody

[2016-05-26 16:52] GenericUK commented on #521
I'm on Ubuntu, is there one you can suggest?

[2016-05-26 16:54] GenericUK commented on #521
https://e1a87bbd.ngrok.io/

[2016-05-26 20:49] Tryneus commented on #470
@stellanhaglund - if you define custom request types that use cursors or feeds, this should allow you to close that request from the client by calling `unsubscribe` on the observable for that request.

[2016-05-26 20:59] stellanhaglund commented on #470
I do that and i can see isSubscribed is false, but the cursor still seems
to be there, when i trigger a change on that feed i see it logged on the
server anyway, and if i do the same request several times and unsubscribe
them i see logs from then trigger a change the feed is triggered the same
amount of times.

Ive been able to get to different states, one is the above, another is that
the feed cl

[2016-05-26 21:01] dalanmiller opened #525 "Engine.io endpoint breaks when extending express"
Saw this [on SO](https://stackoverflow.com/questions/37469900/horizion-connect-to-an-existing-expressjs-app-results-in-400-bad-request) and reproduced.

You can repro this with the following:

[code]

[code]

![screenshot 2016-05-26 13 58 45](https://cloud.githubusercontent.com/assets/863286/15589947/fcfaa680-2349-11e6-95da-8c4297c3ca3d.png)

Attempting to use `wsta` or just `new WebSocket("localh

[2016-05-26 21:29] #511 closed, assigned to nobody

[2016-05-26 21:49] deontologician commented on #470
On the server end there may not be an unsubscribe callback by default

[2016-05-26 22:28] deontologician commented on #521
I was thinking maybe xcode or something might do it. It's hard to debug when there isn't a message :/

[2016-05-26 22:30] #476 closed, assigned to deontologician

[2016-05-26 22:56] #426 closed, assigned to nobody

[2016-05-26 23:14] deontologician opened #527 "Add keepalives to protocol"
This is to avoid firewalls closing websocket connections, now that we've reverted back from engine.io as the transport

I propose we add a new message type 'keepalive' that's sent at a configurable interval from the ~~server~~ client and contains nothing else. `{ "type": "keepalive" }`. The default interval should probably be ~~30 minutes or something~~ 5 minutes

[2016-05-26 23:15] deontologician commented on #413
Fixed in #526

[2016-05-26 23:15] #413 closed, assigned to nobody

[2016-05-26 23:20] danielmewes commented on #527
The client also needs to send keepalive messages, not just the server I think.
I also suggest that we make the interval significantly lower than 30 minutes. Maybe 5 minutes, or even less?

Apart from keeping routers from closing the connection, another important reason for sending keepalive messages is to detect when the connection has died. "Nothing" is worse than a realtime app that has silently

[2016-05-26 23:27] deontologician commented on #527
I meant client, but typed server for some reason. So is everyone ok with 5 minutes then?

[2016-05-26 23:29] danielmewes commented on #527
Actually would it be hard to make the interval configurable? I think 5 minutes is a good default, but some people might prefer more frequent checks at the cost of slightly more server load.

[2016-05-26 23:35] deontologician commented on #527
Yeah, I was planning on making it an option in the client

[2016-05-27 00:42] jswhisperer opened #528 "riotJS example doesn't work"
If you're reporting a bug please include the following:
- Server version 1.0.3
- Client version 1.0.3

[2016-05-27 00:50] jswhisperer commented on #528
PR : https://github.com/rethinkdb/horizon/pull/529

[2016-05-27 01:04] deontologician commented on #528
Fixed in #529

[2016-05-27 01:04] #528 closed, assigned to nobody

[2016-05-27 03:46] antani commented on #510
+1 - this should be a first class usecase

[2016-05-27 05:27] Rajan commented on #425
I can confirm that koa example isn't working.

`Rajans-MacBook-Pro:koa-server rajanchandi$ node --harmony main.js
usage: main.js [-h]

[code]

main.js: error: too few arguments`

[2016-05-27 06:02] jakobrosenberg commented on #497
3 for me.
1. It keeps everything synchronous
2. It doesn't complicate anything for those who don't need relations
3. It simplifies and solves relational permissions
4. ref's could sort relational queries on the client?
5. It seems like a best-practice approach to both permission configuration and client queries

[2016-05-27 06:47] stellanhaglund commented on #420
I have the same error and I'm not using webpack, I just tried to import it from node.

Installing the dependencies doesn't fix it only commenting out the

`require('imports?this=>global!exports?global.fetch!isomorphic-fetch');`

[2016-05-27 09:09] GenericUK commented on #521
It looks like I can't get Xcode without OSX. If I start another ngrok session could it then be tested from yours or another remote emulator?

[2016-05-27 09:14] marcus7777 commented on #510
+1 https://www.bountysource.com/issues/34578040-create-options-for-basic-rest-endpoints-for-data-ingress-webhooks

[2016-05-27 09:15] marcus7777 commented on #510
This would enable me to get started with Horizon as I have a a possessive web app it doesn't assume good connectivity. So it will start with rest and work it's way up to real time. What can I do to help get this started?

[2016-05-27 09:36] flipace commented on #525
i've finally been able to figure out why these 400 / bad requests happen. at least in my case.

due to engine.ios transport upgrade, it first uses xhr and then switches to websockets if available.

now, if your server is not configured to handle this correctly, it can lead to the aforementioned 400 - Bad Request.

Also see: https://github.com/socketio/socket.io/issues/1696

In my case, I was able

[2016-05-27 11:42] GenericUK commented on #521
Slava says at the end of his talk that it doesn't work on iPhone. https://youtu.be/Sb1lH5mvYmU

[2016-05-27 13:15] dawidcxx commented on #501
I had the same issue after toying with authentication and https. I think clearing the localstorage was the fix that worked (I don't have the issue now) but I can't tell for sure because I got a bit angry and did a lot of stuff in parallel like removing the rethinkdb folder.

[2016-05-27 13:31] mbeaudru commented on #501
I was working fine for hours with chrome and it suddently stopped working, but thanks to @Taximan advice I tried to clear localstorage and it **worked like a charm** ! :smile:

@deontologician I didn't tried without HMR but with these two info maybe you can connect the dots ?

[2016-05-27 13:50] Mike-neti commented on #487
same here

[2016-05-27 14:29] deontologician commented on #501
We just removed engine.io, so if this persists past 2.0, we can see if it's still happening

[2016-05-27 14:33] deontologician commented on #521
I don't have an emulator myself (linux guy) but it looks like there's a thing called jconsole that can make console output visible: https://blog.idrsolutions.com/2015/02/remote-debugging-ios-safari-on-os-x-windows-and-linux/

[2016-05-27 14:39] deontologician commented on #525
That's good news then, maybe the websockets fix will get us this for free

[2016-05-27 14:45] GenericUK commented on #521
remote console.log
link
"Download the React DevTools for a better development experience: https://fb.me/react-devtools"
"You are using the in-browser JSX transformer. Be sure to precompile your JSX for production - http://facebook.github.io/react/docs/tooling-integration.html#jsx"

[2016-05-27 14:47] GenericUK commented on #521
Thanks for the info, but jconsole doesn't show anything more than Chome dev tools

[2016-05-27 14:47] deontologician commented on #521
:disappointed:

[2016-05-27 14:50] deontologician commented on #420
If you're using node, import the version from `@horizon/client/dist/horizon` since that's compiled already.

[2016-05-27 14:52] stellanhaglund commented on #420
When i do, it doesnt seem to connect or anything.

fredag 27 maj 2016 skrev Josh Kuhn notifications@github.com:

[2016-05-27 14:58] deontologician opened #532 "Put operators back onto Observable"
At the moment, the default build of the client contains no operators on Observable. This is great for producing a smaller library, but it comes at the cost of making it annoying to add them back. Internally, we use the Stage-0 [function bind syntax](https://github.com/zenparsing/es-function-bind) `::` which babel provides, to apply operators without having to patch them onto the Observable and exp

[2016-05-27 15:00] deontologician commented on #532
An added benefit is that this eases the transition to typescript, since typescript doesn't support `::`

[2016-05-27 15:17] stellanhaglund commented on #470
do you mean this?

[code]

I'm using that and I have tried adding it in many different forms in all places of my code but the only outcomes I get is those three I mentioned above.

[2016-05-27 15:22] stellanhaglund commented on #470
The problem for me seems to be that depending on what processing is made in my endpoint, I don't know where to put `done` it's either closing to soon, or it's not closing at all..

[2016-05-27 15:25] stellanhaglund commented on #470
Couldn't the endpoint be completely cleaned up when calling unsubscribe and using sendRequest?

[2016-05-27 16:16] gz81gs commented on #522
This would be awesome.

[2016-05-27 16:30] deontologician commented on #470
ping @Tryneus for these difficult questions :D

[2016-05-27 18:06] danielmewes opened #533 "Collection "react_messages" has no index matching ["datetime"]"
Reported by @SenerDemiral in https://github.com/rethinkdb/horizon-docs/issues/71#issuecomment-222115746 :
##

Still
**Uncaught Error: Collection "react_messages" has no index matching ["datetime"]**

Example react-chat-app
Steps to produce

$ rethinkdb
$ cd reactChat
$ hz set-schema schema.toml

$ hz get-schema

[code]

$ hz serve --permissions no

**Browse localhost:8181**
    Console message

[2016-05-27 18:43] thinklinux opened #534 "Examples: Oauth + react + react-router"
A lot of people are searching for that particular example. Should I try and make something this weekend or are you guys on it already? :)

[2016-05-27 21:42] deontologician commented on #534
Have at it, I don't think we have anything in the works for this

[2016-05-27 21:44] deontologician commented on #533
Not sure whether this is a bug or intended. @Tryneus is there any way to specify indices in configuration and have the tool create them for you?

[2016-05-27 21:49] danielmewes commented on #533
I just reproduced this and there definitely seems to be some bug or inconsistency somewhere.

I followed the steps that @SenerDemiral described and loaded the following schema file initially:

[code]

Note that this defines a "datetime" index. `set-schema` also creates this index on the `react_messages` table.
If I then start Horizon with `hz serve reactChat --start-rethinkdb --secure no --allow-u

[2016-05-27 21:51] danielmewes commented on #533
It seems like maybe the server isn't initializing the list of existing indexes properly on startup?

[2016-05-27 22:19] ramstein74 commented on #534
Dont forget Vuejs , like horizon, a litle above mainstream, react or
angular..

2016-05-27 22:43 GMT+01:00 Josh Kuhn notifications@github.com:

[2016-05-27 23:57] Tryneus commented on #533
@danielmewes - this appears to be a race in initialization of the metadata.  If the index info arrives before the collection info, the information is lost.  I'll prepare a fix.

[2016-05-28 01:54] Tryneus commented on #444
@marshall007 - I don't think we need deterministic key order, rather we need to know the order that the fields go into the index (this is important for matching queries to indexes on range gets).  Therefore, I propose a slight modification to your suggestion:

| Fields | Current | Proposed |
| :-- | :-- | :-- |
| `[ 'foo', 'bar' ]` | `foo_bar` | `{"foo":0,"bar":1}` |
| `[ 'foo_bar', 'baz' ]` | `fo

[2016-05-28 02:04] mlucy commented on #444
@Tryneus -- I think you still need deterministic key order so that you always try to read from the index `{"foo": 0, "bar": 1}` instead of `{"bar": 1, "foo": 0}`.

[2016-05-28 02:11] Tryneus commented on #444
@mlucy - the index is only created once, and we save the name in our internal structures we use for matching queries to indexes - we aren't "guessing" the index name on the fly.

[2016-05-28 02:26] fineline opened #535 "token"
If you have a question,  please open a new topic in Horizon's Help forum:
    https://discuss.horizon.io/c/get-help

If you're suggesting a feature but aren't sure how it might be implemented, we have a more free-form discussion forum for features:
    https://discuss.horizon.io/c/features

If you're reporting a bug please include the following:
- Server version
- Client version

[2016-05-28 02:28] fineline commented on #535
Opened by mistake, can't see how to delete

[2016-05-28 02:28] #535 closed, assigned to nobody

[2016-05-28 06:37] danielmewes commented on #478
Data point in favor of keeping an emoji: https://twitter.com/foxteck/status/736043597594693632

I think moving it to the beginning of the line would be a definite improvement.

[2016-05-28 11:19] artisonian commented on #522
https://github.com/artisonian/horizon-elm-chat-app

[2016-05-28 12:12] Frizi opened #536 "Socket observable swallows exceptions"
When an exception happen to be thrown from inside `.subscribe` on any watched query, the unsubscription is being made by rxjs, but the error remains silent.
I found this particular line in my callstack after trapping on caught exceptons
https://github.com/rethinkdb/horizon/blob/next/client/src/socket.js#L236

Btw, what do you think about using the socket subject implementation from rxjs?
https://g

[2016-05-28 13:50] darrylryan commented on #161
+1 :)

Typescript is definitely the way forward.  I think the public tsd repos are more for providing third-party typings for libraries where the original authors are not interested in Typescript. Where it is possible, it makes a lot more sense to make the typings part of the library distribution and keep them up to date as you go along.

[2016-05-28 15:26] kennetpostigo commented on #161
You should look at flow as well.

[2016-05-28 15:27] kennetpostigo commented on #161
Flow will be easier to transition to because it can happen incrementally easier.

[2016-05-28 15:35] niieani commented on #161
@kennetpostigo Incorrect. Transitioning to TypeScript-annotated JS is exactly the same as transitioning to Flow. Yet Flow adoption is much lower and the [community traction](https://www.google.com/trends/explore#q=typescript%2C%20flow%20javascript&cmpt=q&tz=Etc%2FGMT-2) is definitely with TypeScript. For Flow support, please encourage the Flow team to implement support for TypeScript definitions.

[2016-05-28 17:25] kennetpostigo commented on #161
I don't think I'm necessarily incorrect, its easier to just add types to existing files and add babel plugin than to change all files, go to VSCode, etc. Especially if Horizon is not certain about the move. If they are looking to incrementally type their files overtime without wanting to learn nuances of typescripts build steps and take advantage of all of babels features give flow a shot.

[2016-05-28 18:49] zigomir commented on #425
I can confirm that I struggled a bit to to get up and running with server examples.
Being pretty new to `RethinkDB` ecosystem, I needed to first figured out how to run Express example.

To get it running I first needed to see what options server is accepting and I can now run it with this:

[code]

Where you need to run `./main.js` to get Express up and running, and you of course need to run `reth

[2016-05-28 20:10] ghost opened #537 "why babel?"
Since node 6.0 supports 98% of es6 couldn't we simply drop babel! doesnt less transpiling == effective and performant code? (correct me if im wrong).

[2016-05-28 20:11] joshwiens commented on #161
One of the main points is Horizons deep ties to RxJS which is written typescript.

Considering Flow has none of the benefits above nor the backing of a Corp entity to ensure a reasonable life span, I see no reason to consider it as a viable option.

[2016-05-28 21:04] rkoberg opened #538 "deprecation warnings: jade > pug & graceful-fs"
Just cloned the repo and ran setupDev.sh and saw:

[code]

[2016-05-28 22:40] niieani commented on #161
@kennetpostigo That's my point, I still believe your statement was incorrect. Because you can add types to existing files just as easily with TypeScript and a [babel plugin](https://github.com/YoloDev/babel-dts-generator/) to generate typings, without going full-on TypeScript. There's literally no benefit to Flow over TypeScript.

[2016-05-29 00:03] kennetpostigo commented on #161
@d3viant0ne is backed by Facebook, and they use it heavily in opensource projects. I would say it's lifespan is secure.

@niieani I would suggest you research flow before calling it useless. Flow provides several benefits over typescript: http://www.2ality.com/2014/10/typed-javascript.html

I'm don't try to favor one over the other I just think Flow would be a more pragmatic solution for Horizon t

[2016-05-29 00:19] niieani commented on #161
@kennetpostigo I understand you're very passionate about Flow, but I have done my research and I'm following news on Flow regularly. The article you cite is from 2014. One of the main advantages of Flow, non-nullable types, is coming to TS 2.0 in June, and they're already available in the nightlies. The speed of development of TS is much higher, the roadmap clear and [very comprehensive](https://g

[2016-05-29 00:29] kennetpostigo commented on #161
@niieani I'm not really passionate about flow, I just dislike when developers say that a library that many engineers have worked on is called "useless". Not a very great way to make a point. As it stands those using typescript lack access to future ecmascript features that many use today in browsers as typescript has in the past been bit in the ass by adding features not in spec (when they impleme

[2016-05-29 00:52] blakeembrey commented on #161
@kennetpostigo Can developers re-use the types from Flow if this project uses Flow? The thing that's important about this conversation is not just the benefits for Horizon, but also the benefits every developer using the library would gain - TypeScript would automatically be consuming the types.

I may not be up to date, but last I checked Flow didn't have a type re-use story for dependencies. Alt

[2016-05-29 01:56] Youmoo commented on #533
@Tryneus When will this fix be published? Thanks.

[2016-05-29 02:12] deontologician commented on #537
We only use babel for the client, the server doesnt use it

On Sat, May 28, 2016, 13:10 harisvsulaiman notifications@github.com wrote:

[2016-05-29 06:16] Youmoo opened #539 "Feature request: add auth success callback"
I'd like something like this implemented in _@horizon/client_:

[code]

so that I can access both user_id and auth provider:

[code]

I want this info because I want to show the auth provider on the page.

[2016-05-29 07:01] ghost commented on #537
Good enough! I sort of missed it!

[2016-05-29 07:01] #537 closed, assigned to nobody

[2016-05-29 07:46] niieani commented on #161
@kennetpostigo you keep bringing up Babel as a pro of Flow, while ignoring the fact that you can declare TypeScript typings together with Babel in the exact same say as Flow typings, using the plugin I linked to earlier (in fact, combined with the flux-strip plugin, just because TS and Flux typings are so similar). You mention it's possible to use Flux with all the new features that Babel allows,

[2016-05-29 17:48] kavaro commented on #525
Struggling with the same issue, when will this be released ?

[2016-05-30 00:15] HankMcCoy commented on #314
I got the Cycle example working locally by just converting the Rx v5 observables from Horizon into Rx v4 observables. Let me know if that is a stop-gap measure you folks would be interested in merging and I can probably open a PR later tonight.

[2016-05-30 01:24] deontologician commented on #314
This is ok, It'd be nicer if we could do it without a hack like that. I'd
like to leave this issue open even if we do, since otherwise fixing it for
real might slip through the cracks

On Sun, May 29, 2016, 17:15 Thomas Beirne notifications@github.com wrote:

[2016-05-30 04:49] cschram commented on #532
It looks like this should be as simple as changing import statements from this:

[code]

to this:

[code]

And then changing call sites to use `.` instead of `::`.

[2016-05-30 06:21] hnordt opened #541 "defaultIfEmpty() problem"
When I try to use `defaultIfEmpty()` with Horizon 1.0.3 I receive this error:

[code]

My code:

[code]

[2016-05-30 08:47] samuba opened #542 "Prevent .order from being called without .limit or .above/.below"
Version: 1.0.3

This is pretty essential in my opinion and I was very surprised to see this not working.

This will always return unordered lists: `chat.order("id").watch()`
It does properly work with fetch() tough. This works as expected: `chat.order("id").fetch()`

Here is some sample output:

[code]

[2016-05-30 21:45] danielmewes commented on #533
@Youmoo Since today is a holiday in the US, I think you can expect the next release around Wednesday or Thursday. We might have a patch before then that you can apply manually.

[2016-05-31 09:24] download13 commented on #425
Knowing how to add auth providers would be helpful too.

[code]

Is there a place I should get twitter provider? Should I import it from inside the server module?

[2016-05-31 15:02] deontologician commented on #541
I am guessing this is an issue with which `Observable` is getting patched. It's likely there are two Observable classes, one provided and used by the Horizon client, and one provided and patched here by the rxjs library I'm assuming you've packaged.

This is the reasoning behind #306 , which would mean you'd bring your own Observable, and that way things like this would just work.

[2016-05-31 15:22] philj0st commented on #412
the same thing happens for me on linux.
there are no instructions explicitly saying i have to install rethinkdb .. i'm not sure now if it comes as a npm dependency or if i have to install it myself. this should be made clear in the getting started

[2016-05-31 15:43] jswhisperer commented on #125
Might be worth chatting with the strapi team or having a look, they did some work on a waterline adapter for graphQL that works well.  https://github.com/wistityhq/waterline-graphql Not sure if it helps though.

[2016-05-31 15:49] deontologician opened #543 "Write a toml parser that preserves comments"
It would be really really convenient if we could automatically rewrite TOML files, preserving comments and whitespace where possible. None of the current js TOML parsers allow this, and it's a real shame since the `hz` tool could learn some neat tricks if we didn't have to treat the config file as read-only.

[2016-05-31 15:51] deontologician commented on #412
@phipix01 The installation instructions mention this at the top: http://horizon.io/install/

[2016-05-31 16:20] philj0st commented on #412
hhhmm embarassing :blush: i guess i skimmed through a little too fast .. thanks @deontologician

[2016-05-31 17:41] danielmewes commented on #542
Thanks for the bug report @samuba.

I bet this is because RethinkDB doesn't support changefeeds on ordered streams without a `limit`. We need to think of a good way for handling this.

One option might be implicitly adding some relatively high limit (e.g. 1,000) in the Horizon server, and erroring if the limit gets exhausted (the error message could suggest specifying a larger limit manually).
Ano

[2016-05-31 17:45] danielmewes commented on #536
Thanks for opening an issue @Frizi .

This sounds like a duplicate of https://github.com/rethinkdb/horizon/issues/500

I'm not quite sure if the line in socket.js that you found is actually relevant, as it seems like `subscribe` always discards exceptions. Pinging @deontologician .

[2016-05-31 18:15] encryptio commented on #478
I think OSX is the only case where you can assume the terminal and font set are capable of handling the emoji by default; I suspect @mlucy's problem comes from sticking emacs/eshell in the middle (but correct me if I'm wrong.)

It doesn't generally work on Linux without installing non-default font packages (on both Archlinux and Ubuntu at least), and I have no idea about terminals on Windows.

Per

[2016-05-31 18:44] dalanmiller commented on #478
I was hoping this effort would slowly die and make Linux users fight for their emoji rights 🗽, but if the check is really this simple, then I propose we add this and call it good. @mlucy is this a sufficient resolution?

[2016-05-31 19:22] danielmewes commented on #539
You could get a subscription on the `currentUser()` result: http://horizon.io/api/horizon/#currentuser
That should get updated automatically once the user is authenticated I think.

[2016-05-31 21:31] mlucy commented on #542
Inside of RethinkDB, ordered changefeeds without a limit don't really mean much because the changes will still be sent to the client in the order they happen.  Inside of Horizon, it might make sense to just subscribe to all changes and maintain an ordered list client-side.

[2016-05-31 21:44] danielmewes commented on #542
Well, the `includeOffsets` option for limited ordered changefeeds currently makes it unnecessary for the Horizon server to implement ordering I think (@Tryneus or did you still have to implement ReQL datum comparison?).

It seems conceptually slightly better to me if the RethinkDB server takes care of maintaining the ordering, rather than having the Horizon server do it. However I think that `incl

[2016-05-31 22:45] mlucy commented on #542
@danielmewes -- I was imagining that neither RethinkDB nor the Horizon server would implement it, and that the Horizon client would just take care of splicing the changes into its local ordered data structure.  That way we don't keep an extra copy of the data hanging around on the server.

[2016-05-31 22:56] deontologician commented on #542
I think the reason RethinkDB doesn't do this is a valid reason to not allow users to do this in Horizon. If you don't add a limit, you're much more likely to be accidentally shooting yourself in the foot. Much better to just require them to specify a limit.

[2016-05-31 22:57] deontologician commented on #542
We originally did not allow `.order` without a `.limit` on collections, and everybody kept saying it was needed for convenience so we added it.

[2016-05-31 23:00] danielmewes commented on #542
@mlucy Ah got it. That would make sense.

I think having it in a non-working way is bad.
How about we keep allowing it for `fetch` requests (where it works), and throw an error when trying to subscribe to it with an error message that suggests adding a limit?
Does that sounds reasonable to everyone?

[2016-05-31 23:02] mlucy commented on #542
@deontologician --  RethinkDB doesn't do this because it doesn't mean anything useful in RethinKDB, so the only reason people try to do it is if they have a misconception about how it works.  `table.changes()` and `table.orderBy(...).changes()` are identical; they both send you all changes as soon as they occur.  (`include_offsets` is the exception to this, but it didn't used to exist and isn't ge

[2016-05-31 23:02] deontologician commented on #542
I could go with that, though the fetch will fail in the same circumstances the watch will. At some point, not having a limit will blow up huge and you'll crash the browser tab

[2016-05-31 23:05] danielmewes commented on #542
@deontologician I don't think `fetch` will fail. The reason changefeeds don't have the order is because of how initial results are implemented. With a normal fetch, the results should be arriving in order.

[2016-05-31 23:05] deontologician commented on #542
@mlucy I was just referring to the case where include_offsets is activated, where the lack of a limit means a huge blowup in memory usage.

[2016-05-31 23:05] mlucy commented on #542
@danielmewes -- I think long-term we'd want `.order.watch` to work and be implemented entirely client-side.  If that's hard to do, I think in the interim erroring and telling people they need to set a limit is a good stopgap.

[2016-05-31 23:07] deontologician commented on #542
@danielmewes The fetch will fail when you get 10Ks or 100K's of documents in your collection and don't specify a limit. We don't have the concept of a cursor, so it's all fetched before anything is returned.

[2016-05-31 23:10] deontologician commented on #542
The reason I think it's bad to provide `.order.watch` without requiring a limit is because it's one of those queries that seems to work fine in development with a few documents in your collection, and then later gradually makes your page slower and laggier under production loads. If someone wants to do something like `.order.watch`, we should push them towards the pagination api (admittedly not cr

[2016-05-31 23:11] danielmewes commented on #542
@deontologician Oh I see. Does that accumulation happen on the Horizon server or in the Horizon client? Are we actually enforcing a limit on the result size in Horizon currently?
Also this is not specific to `order` right?

[2016-05-31 23:12] deontologician commented on #542
Right, this reasoning also applies to stuff like `collection.watch()` etc. The accumulation happens in the client. The server I think sends batches, but we wait for all batches to come in before emitting results.

[2016-05-31 23:21] deontologician commented on #536
I saw this recently, I believe the error suppression was to avoid situations where we would error an observable that was already closed. That was probably not the right way to handle it.

Rxjs 5's WebSocketSubject is based off the same original implementation I based our socket off of (https://github.com/blesh/RxSocketSubject) which is unmaintained, so we couldn't add it as a dependency. In additi

[2016-05-31 23:23] deontologician commented on #541
I think I'm going to try to solve this as part of #532 , but I'll leave this open to make sure it gets fixed explicitly

[2016-05-31 23:27] danielmewes commented on #542
I think accumulation in the client is fine, since it's not an issue for scaling Horizon to more users. (plus there's normally no way around it, since the browser has to render the results somehow)

[2016-05-31 23:28] deontologician commented on #538
I think a transitive dependency is causing this. We should figure out which ones and update the deps if we can

[2016-06-01 00:33] Youmoo commented on #539
@danielmewes [currentUser](http://horizon.io/api/horizon/#currentuser) returns `{id:xx,groups:[xx]}`, it is different from above and I need both _id_ and _provider_.

[2016-06-01 00:55] deontologician commented on #539
We have a handshake response that could be exposed. Something like
`horizon.utensils.handshakeResponse`

[2016-06-01 04:14] courthead commented on #425
I agree that there should be more documentation on how to use all the server features. I think it will be a common use-case to run both express and horizon together.

@download13 I just did it like this and it seems to work:

[code]

[2016-06-01 05:45] fineline commented on #501
One more data point, I also was getting this on Chrome on OSX (not on Firefox), started seemingly randomly, inspecting some of the network calls showed message about expired token, clearing local storage fixed it.

[2016-06-01 10:34] threepointone commented on #497
sharing my use case - I'm trying to build a multi-tenant content management system, and want to make 'collections' of documents that can be edited only by some users. I store metadata regarding my collections in a table called 'collections', which contains which users are allowed to edit which docs. So I'd like to allow writes/reads to a collection(/table) only if the user is in a field in a corre

[2016-06-01 17:56] rt2zz commented on #477
@arthurvi afaik you cannot do conditional requires in RN.

What exactly does  `require('imports-loader?this=>global!exports-loader?global.fetch!isomorphic-fetch');` do? is that a webpack syntax?

[2016-06-01 18:06] deontologician commented on #477
Yeah, it's webpack syntax. Maybe there's some way we can move that stuff into the webpack config. I think you can apply certain modifiers automatically

[2016-06-01 18:07] arthurvi commented on #477
@rt2zz Bummer, haven't tested it.
Yes it is: [Webpack - shimming modules](https://github.com/webpack/docs/wiki/shimming-modules)
I have never used it, but you can influence the way dependencies are imported and exported.

[2016-06-01 18:21] deontologician commented on #477
Ok, so we should probably special case fetch in the config to use the imports loader stuff. I'll check it out later today. I've been meaning to look closer at webpack, it's kind of a beast

[2016-06-01 20:25] steelbrain opened #545 "Hostname validation is too strict"
This is an error I get when I launch horizon, I am on the latest version (v1.0.2), here's the screenshot of the error

<img src="https://cloud.githubusercontent.com/assets/4278113/15724382/a29fbb24-27fb-11e6-92ad-779b99982683.png">

As you can see it says `internal_db` is an invalid hostname, it is however a very valid hostname. I am using horizon on docker where this hostname is updated by docker

[2016-06-01 20:25] steelbrain commented on #545
Also opened https://github.com/hapijs/joi/issues/908

[2016-06-01 20:40] danielmewes commented on #545
Maybe we should remove the Joi hostname check in our code until this is fixed upstream.

[2016-06-01 22:36] mlucy opened #546 "Proposal: change internal database naming scheme"
@Tryneus told me that if you have a project `foo`, we currently create two databases `foo` and `foo_internal`.  This naming scheme is kind of bad, because if a user has two projects `bar` and `bar_internal`, the internal database for the first project and the non-internal database for the second project will conflict.

Another problem is that we aren't namespacing these databases, which makes it h

[2016-06-01 22:46] mlucy opened #547 "Proposal: change behavior of set-schema and get-schema to be more intuitive"
Currently, the behavior is as follows:
- Outside of dev mode, you need to run `set-schema` with at least an empty schema after `hz-init`, or else everything will fail with cryptic error messages because some internal data don't exist yet.
- When you run `set-schema`, it looks at the current working directory to get the project name.
  - If no project with that name exists, it will create it (!!!).

[2016-06-01 22:56] deontologician opened #548 "Streamline app schema creation process"
Right now you need to run set-schema before running `hz serve` without `--dev`, or else you need to run `hz serve --auto-create-collection` and query each table you want to set up the database. This isn't great, and makes non-dev mode really annoying.

I was talking with @Tryneus and there are a couple options we thought of:
## Proposal A

Have `hz init` take a connection option, and set up the da

[2016-06-01 22:58] deontologician opened #549 "Ability to specify guaranteed users in schema.toml"
Right now we have the admin user hardcoded into the set-schema code. We should probably have the admin user specified directly in the schema.toml and allow developers to specify other default users (or rename the admin user if they want).

[2016-06-01 23:00] deontologician opened #550 "Add a create-user command"
It would be nice to be able to create a user, specify their groups, and get a token for them all in one command. Right now it's difficult to make users from the command line/manually without using anonymous auth or OAuth

[2016-06-01 23:03] deontologician commented on #547
See #548 to address `hz init` point

[2016-06-02 00:24] niieani commented on #532
@cschram You don't need to change an `import` to a `require`, you can just as easily `import` for side-effects only, like this:

[code]

[2016-06-02 11:14] steelbrain commented on #545
The bug was closed in joi mainly because this hostname works almost everywhere but is not valid according to the RFC. To make things work I renamed `internal_db` to `internal-db`

[2016-06-02 11:14] #545 closed, assigned to nobody

[2016-06-02 19:06] marshall007 commented on #444
@Tryneus I like your proposal and I think we should do that if nothing else but for clarity. However, I see the ability to "guess" the index name on the fly as an advantage. The fewer internal tables and data structures we have to maintain the easier #120 becomes.

[2016-06-02 19:28] marshall007 commented on #511
@deontologician I've been talking to @dalanmiller recently and we've been trying to figure out at what point it makes sense to just adopt an existing server framework. With things like routing, static file serving, and authentication I've been feeling like we're right on the tipping point.

I don't think it matters how "big" it is. The important part is interoperability which is why I think `expre

[2016-06-02 19:44] deontologician commented on #511
I am mostly on board, I realized afterward my previous comment doesn't fully make sense. What the cli tool uses to serve routes doesn't restrict what someone does when using the horizon server as an import. If we design it right so it can be plugged into hapi and koa on the backend, and the horizon server module itself doesn't require you to buy into a particular middleware stack, then it should b

[2016-06-02 20:13] marshall007 commented on #24
This was brought up again in #511 with some additional discussion:

---

[2016-06-02 20:14] marshall007 commented on #511
@deontologician I think it's mostly covered by #24, so I just linked and copied over this discussion.

[2016-06-03 01:48] deontologician opened #551 "Make request Observables not auto-unsubscribable"
Right now we're getting superfluous end_subscription requests on the server because all request Observables are cleaning themselves up automatically. I think this is just a matter of modifying how the request observables use `.share()`

[2016-06-03 15:10] poznyakovskiy commented on #487
Same for google. The function passed to .subscribe is also never entered.

[2016-06-03 15:22] deontologician commented on #487
I would guess it's getting an error status code which is failing the observable, but the error handling code probably tries to deserialize from json which won't work if you don't receive json back

[2016-06-03 15:32] poznyakovskiy commented on #487
@deontologician Yes, it's `response.json()` within `fetchJSON(url)` that triggers this error.

[2016-06-03 19:43] deontologician opened #552 "Remove and removeAll permissions broken"
According to a user in slack, the following permission doesn't work:

[code]

He also mentioned permissions for `remove` not working until a validator function was also added.

[2016-06-03 21:44] jordandenison commented on #487
try running this inside the `horizon.onReady` callback

[2016-06-03 22:03] #541 closed, assigned to nobody

[2016-06-03 22:04] deontologician commented on #532
Fixed by @cschram in 36bf737

[2016-06-03 22:04] #532 closed, assigned to nobody

[2016-06-03 22:17] poznyakovskiy commented on #487
@jordandenison If I understand correctly, horizon.onReady would only be triggered after a connection has been established. However, attempting to establish a connection with Horizon.connect() returns the error message _"Attempting to authenticate with a token, but no token is present"_.

[2016-06-03 22:18] deontologician commented on #551
I think we should solve this by using RxJs 5's built in websocketsubject. This isn't a bug in the meantime, just more traffic than is strictly necessary (the server ignores the extra end_subscription messages)

[2016-06-03 22:24] jordandenison commented on #487
yeah that was my understanding as well, but it seemed to fix the issue - now I am on the same boat as you : )  "Attempting to authenticate with a token, but no token is present" - haven't had a chance to look into this much yet though (can't specify horizon server host in configure for now so leaving auth for now as I'm serving statics from another server)

[2016-06-03 22:32] deontologician commented on #487
authEndpoint uses xhr/fetch under the hood, so it shouldn't have anything to do with the main horizon connection (which `onReady` is linked to).

[2016-06-03 22:39] jordandenison commented on #487
yeah, so the error in my case is likely incorrect horizon host since the assets aren't served from it - strange that the error message changes when run inside `onReady` though (likely the Attempting to authenticate raises the first uncaught)

[2016-06-03 23:04] Tryneus opened #554 "Expired JWTs linger"
In the same way that we clear tokens that fail to authenticate (usually this is due to a different secret in the server invalidating previous tokens), we should probably clear tokens that are expired, so they don't hang around causing the client to repeatedly fail to authenticate.

[2016-06-03 23:19] jordandenison commented on #487
ah, "Attempting to authenticate with a token, but no token is present" is totally unrelated - this message gets thrown when there is no token (obviously) so should only get called after being redirected back to the app from oauth, but you must instantiate Horizon before your app can call `hasAuthToken` - catch 22

[2016-06-04 00:12] mlucy commented on #548
This would be really nice actually; currently when you deploy with Horizon cloud it pushes `.hz/schema.toml` as your schema.  If the Horizon server also read that when starting, we would avoid a lot of nasty cases where people are developing with one schema, forget to export it, and end up pushing an old schema and breaking their app.

[2016-06-04 00:39] jordandenison opened #555 "Collection.store updates records with an existing id value instead of throwing error"
When running the following code twice:

[code]

the error handler never fires, but the writeFunction/success handler returns:

[code]

where `$hz_v$` is being incremented on each store.  Not sure if this is intentional or not, but the documentation does state "The objects must have unique id values, and must have id values that do not already exist in the collection or an error will be raised."

(

[2016-06-04 00:49] #478 closed, assigned to nobody

[2016-06-04 00:49] deontologician commented on #478
Moved it to the beginning of the line

[2016-06-04 00:51] deontologician commented on #478
I didn't do the `== darwin` solution because I use arch and it would prevent me from seeing it :P

[2016-06-04 01:28] #429 closed, assigned to nobody

[2016-06-04 01:41] #554 closed, assigned to deontologician

[2016-06-04 01:58] #520 closed, assigned to nobody

[2016-06-04 02:08] Tryneus commented on #533
Fix is up in PR #558 - sorry about the delay, @Youmoo!

[2016-06-04 15:14] download13 opened #559 "nonce cookies not set if developing over HTTP"
If you take a look at the [oauth utils](https://github.com/rethinkdb/horizon/blob/07dc43e7b2a6e869e332be7b7c6b314db7d95ad1/server/src/auth/utils.js#L72) you'll notice that the secure option for setting cookies is `true`.

Shouldn't this respond to the `secure` horizon option?

I'm developing an application over HTTP because it's a lot more convenient and the express server it's running from won't

[2016-06-04 15:53] jephir opened #560 "Unrecognized auth provider "0" when using HZ_AUTH environment variable"
Server version: horizon@1.0.2

I am trying to use the **HZ_AUTH** environment variable instead of _.hz/config.toml_ to configure OAuth authentication to avoid committing provider secrets to my source code repository. However this results in an error:

[code]

[code]

_.hz/config.toml:_

[code]

If I enter the google authentication options into the _[auth.google]_ section in _.hz/config.toml_ then

[2016-06-04 19:58] gutiNapo commented on #422
Hello @deontologician ,

There is no need of a new configuration: **horizon.authEndpoint** should use the host defined when creating Horizon object (ex: var horizon = Horizon({**host**: '192.168.99.100:8181', authType: 'token'});).

At https://github.com/rethinkdb/horizon/blob/061f784fa6f8cd6b30ffcaf6b88e823e0e386b3f/client/src/auth.js#L19, the **fetchJSON** should be adapted to use the host.
Some

[2016-06-04 20:34] poznyakovskiy commented on #487
This did not really fix the issue. From fetchJSON, I get the error text _"Response was not json"_ and the content of my client-side index.html.

[2016-06-04 21:57] jakobrosenberg opened #561 "Unconfigured auth type: facebook"
Using Horizon v1.1.1 I get the following error: `Uncaught Error: Unconfigured auth type: facebook`

Here's the script producing the error

[code]

And here's the result from `https://localhost:8181/horizon/auth_methods`
`{"facebook":"/horizon/facebook","github":"/horizon/github"}`

[2016-06-04 22:58] deontologician commented on #487
Ok, so now we just have to find out why your index.html is being served from the auth_methods endpoint. What's your configuration like?

[2016-06-04 23:02] deontologician commented on #561
What's are your auth settings in config.toml? (excluding secrets of course)

[2016-06-05 01:51] poznyakovskiy commented on #487
**config.toml**

[code]

At the frontend:

[code]

The frontend is an angular2 project built with webpack, runs on localhost:3000.

[2016-06-05 01:51] download13 commented on #9
Does the client already re-subscribe to the same feeds when it reconnects? It seems like everything after that is just optimization.

[2016-06-05 04:31] deontologician commented on #9
@download13 the client doesn't resubscribe automatically, you have to recreate everything. They really should resubscribe though

[2016-06-05 04:49] sunjay commented on #420
@deontologician Has this fix been released?

[2016-06-05 04:58] deontologician commented on #420
not yet

On Sat, Jun 4, 2016, 21:50 Sunjay Varma notifications@github.com wrote:

[2016-06-05 06:28] fortm opened #562 "Running horizon on EC2"
I am setting up EC2 instance with horizon for testing purposes
`hz serve --dev`
starts application but in localhost:8181
I tried to add --bind IP --port 8181
but continue to get below error -
`HTTP server: Error: listen EADDRNOTAVAIL IP:8181`

[2016-06-05 18:53] yankeeinlondon commented on #418
I'm getting the same error message in `1.1.1` (updated today) but it may have a different underlying cause. When I run in debug mode I get a number of errors from the database:

[2016-06-05 19:05] yankeeinlondon commented on #418
I reset the database and it appears now that my JWT token was expired. Is this something I am meant to manually manage or shouldn't this be done as part of the Horizon housekeeping?

[2016-06-05 20:22] 0xgeert opened #563 "feature req: connecting social oauth profiles"
Would be very useful to enable a user to connect multiple social oauth profiles to one account.
Is this on the roadmap?

[2016-06-06 10:08] alf opened #564 "Horizon can't connect to a rethinkdb proxy server"
- Server version: 2.3.3, windows
- Client version: https://github.com/ericb/horizon/commit/f3a2284ff0e1ca011ca88fc22048d8f793262c9b

In the reql_connection.js, there is an assumption that the server id exists in the server_status table. This is not correct if the server we are connecting to is a proxy.

[2016-06-06 13:21] poznyakovskiy commented on #487
We found out what the problem was. To have the issue fixed, you also need to include the "Access-Control-Allow-Origin" header on the server side:

**server/src/server.js, line 143:**
`res.writeHead(200, { 'Content-Type': 'application/json', 'Access-Control-Allow-Origin': '*' });`

Since this is a potential security issue, I was hesitant to include it into my pull request and would gladly wait for

[2016-06-06 14:32] tangshiping opened #566 "Horizon client runs in Microsoft Internet Explorer(version 10) is failed"
Using the F12 developer tool to watch the error logs, I saw some  error messages printed in console like "Object.assign can't be supported"

Is there anyone see the same error?

[2016-06-06 15:10] deontologician commented on #566
what browser version are you using?

On Mon, Jun 6, 2016, 07:32 tangshiping notifications@github.com wrote:

[2016-06-06 15:15] deontologician commented on #566
Ah, sorry I missed the title! Will have to check this out

[2016-06-06 15:16] deontologician commented on #555
Yeah, store is supposed to fail, this is acting more like upsert.

[2016-06-06 15:21] deontologician commented on #562
This looks like the address `IP:8181` is invalid. Where are the instructions coming from for these?

[2016-06-06 15:23] deontologician commented on #564
Nice catch

[2016-06-06 15:26] deontologician commented on #563
I know the metadata supports multiple auth methods per user, but I don't know how we can actually do it. I'm pretty sure doing OAuth creates a branch new user. @Tryneus how should this work?

[2016-06-06 15:27] deontologician commented on #562
I am going to close for now, since this looks like a configuration issue with EC2, feel free to reopen if you think there's actually a bug with Horizon here.

[2016-06-06 15:27] #562 closed, assigned to nobody

[2016-06-06 17:54] danielmewes commented on #564
@Tryneus Is this something that can be fixed easily?

[2016-06-06 18:46] steelbrain opened #567 "hz.currentUser doesn't execute until something else is executed"
- Server version v1.1.1
- Client version The same I think

[code]

^ this example does not work unless you perform another query or explicitly do `hz.connect()`

[2016-06-06 18:47] steelbrain commented on #216
Bump

[2016-06-07 15:43] peterlandry commented on #5
This is something I'd be willing/able to chip in on, I'm wondering if there's any information about goals or requirements that could help me get involved? I don't want to make more work for you on a feature that's in medium term, but if there's any groundwork I can help lay I'd be glad to.

[2016-06-07 17:36] hswolff opened #568 "Token no longer stored in localStorage"
Server version: `2.3.4`
Client version: `1.1.1`

When I try to instantiate Horizon with `Horizon({authType: 'anonymous'})` I don't see any token's stored in `localStorage`.

I compared this behavior to client version `1.0.2` and I saw the token saved in `localStorage`.

I believe it was this PR that caused this regression: https://github.com/rethinkdb/horizon/pull/556

[2016-06-07 18:24] alf opened #569 "Horizon should be able to update a document that has not been created by horizon"
If you're reporting a bug please include the following:
- 1.1.1
- 1.1.1

If you create a document using the rethinkdb admin interface and then try to update that document using horizon, you get hit by the following error message: `socket.js:62 Uncaught Error: Object field '$hz_v$' may not be undefined`.

If you update the document using the rethinkdb admin interface and add the '$hz_v$' field with

[2016-06-07 23:15] Bekt opened #570 "JWT token is not being stored"
Screencast: http://recordit.co/wsIahMz2KE

Hey, the docs say the JWT token is stored in localStorage, but that doesn't seem to be the case. Please see the recording above.

Horizon version: `1.1.1`
Code: [index.html](http://pastebin.com/Q26iPTHW)

[2016-06-07 23:37] 0xgeert commented on #216
This would presumably by done by asking for oauth scopes?

Related: would be great to be able to (incrementally) ask for additional scopes only when needed. E.g to only ask for full blown read/write access when an authenticated user actually intends to use a feature that requires said scope.

[2016-06-07 23:45] hswolff commented on #570
FYI https://github.com/rethinkdb/horizon/issues/568

[2016-06-08 00:52] Bekt commented on #570
Ah, very nice. I should have tested previous versions as well.

cc @deontologician

[2016-06-08 04:15] deontologician commented on #570
Sorry you guys ran into this, we should be able to address it Thursday

On Tue, Jun 7, 2016, 17:52 Kanat Bekt notifications@github.com wrote:

[2016-06-08 06:48] hnordt opened #571 "@horizon/client in Node.js"
I need to start a Horizon server and create an endpoint that will store a message in Horizon, so here is what I did:

[code]

The problem is that when I run `node server.js` I receive an error:

`Error: Cannot find module 'imports?this=>global!exports?global.fetch!isomorphic-fetch'`

Then I changed `const Horizon = require('@horizon/client')` to `const Horizon = require('@horizon/client/dist/horiz

[2016-06-08 09:08] alf opened #572 "fetch completedFunction is not called on empty resultset"
If you're reporting a bug please include the following:
- 1.1.1
- 1.1.1

According to the [documentation](http://horizon.io/api/collection/#subscribe), the `completedFunction` should be called after iterating the result set of a fetch. Unfortunately, this does not hold if the result set is empty. In that case the `completedFunction` is not executed.

IMHO the `completedFunction` should also be cal

[2016-06-08 09:28] alf commented on #572
Nevermind, this was a bug on my end that I didn't discover because horizon swallowed the exception. I'll report a bug on that instead.

Horizon behaves as expected and executes the `completedFunction` on an empty result set.

[2016-06-08 09:28] #572 closed, assigned to nobody

[2016-06-08 09:29] alf commented on #572
The issue I hit was #536 and #500.

[2016-06-08 11:27] alexbezhan commented on #477
I'm also having this issue. Any possible temp workaround, guys?

[2016-06-08 14:08] bweinand opened #573 "Horizon can't connect if RethinkDB authentication is required"
I'm new to RethinkDB and Horizon, maybe I'm missing something.

The RethinkDB server and driver port require access from the outside world. So I have to use the RethinkDB authentication system and set the admin password. If the admin user has a password set, Horizon is not able to connect (--connect).

Is it possible to give Horizon a user and password for the connection to RethinkDB? Other soluti

[2016-06-08 16:04] jvorcak commented on #477
+1

[2016-06-08 17:24] alf commented on #573
It's a work in progress #507

[2016-06-08 17:32] bweinand commented on #573
Perfect. Did not see that. Thank you.

[2016-06-08 19:56] nstadigs commented on #11
I think that it would be very valuable to be able to set a "local" (or similiar) flag per collection. This way horizon could be used for client-side only data as well, making it capable of handling all of the application state. Users could start off by having all of the data locally, and then make some of the collections persistent when setting up a server.

[2016-06-09 03:32] jswhisperer commented on #571
Don't include "const Horizon = require('@horizon/client')" on the server.
Then the on the client include a script tag`<script src="horizon/horizon.js">` this is dynamically served when you create HorizonServer. Past that there needs more documentation... I'm also stuck since you can't pass any options for authentication.

You also won't need POST routes, this is handled by horizon, and websockets

[2016-06-09 06:55] deontologician opened #574 "Allow write methods to accept Observables for what to store or delete"

[2016-06-09 06:59] deontologician commented on #568
See https://github.com/rethinkdb/horizon/pull/556#discussion_r66391507 It looks like I have the logic backwards for this :/

[2016-06-09 09:31] yankeeinlondon commented on #569
I'm having the same problem, here's an image of the stack trace if it's helpful:

![2016-06-08_18-14-42](https://cloud.githubusercontent.com/assets/980757/15924990/196ef904-2e2d-11e6-8cf5-11a87f79f32d.png)

This feels like a significant issue for a app server fronting a real-time database (where having multiple clients is probably a common feature). I hope we can see this turned around quickly. If

[2016-06-09 09:38] yankeeinlondon commented on #569
To make matters worse, this error signals a "disconnect" from the database. In my case my app will immediately attempt a re-connection which then I guess must retry the failing query. This repeats until the browser runs out of memory / tab crashes:

![2016-06-09_10-32-38](https://cloud.githubusercontent.com/assets/980757/15925181/0b6e62da-2e2e-11e6-96fd-bedcb57c2a75.png)

The stack trace for subse

[2016-06-09 14:36] BitByBen commented on #125
If GraphGL isn't adding the support for real-time subscriptions. It looks like Falcor is looking at doing so. https://github.com/Netflix/falcor/issues/425

[2016-06-09 16:39] deontologician commented on #569
ping @Tryneus , and I'll open a new issue for the client side problem of nulling out error messages since that seems unrelated to this particular error

[2016-06-09 16:43] deontologician opened #575 "Error messages from the server sometimes don't reach user"
@ksnyde reports in https://github.com/rethinkdb/horizon/issues/569#issuecomment-224846920 :

![2016-06-09_10-32-38](https://cloud.githubusercontent.com/assets/980757/15925181/0b6e62da-2e2e-11e6-96fd-bedcb57c2a75.png)

![2016-06-09_10-26-49](https://cloud.githubusercontent.com/assets/980757/15925371/c9a3978e-2e2e-11e6-944c-56b20daded52.png)

[2016-06-09 16:51] deontologician commented on #573
Seems to be a duplicate of #288 (took me 10 minutes to find it!)

Thanks for opening this though @bweinand, we knew this needed to be done but it's always helpful to see people actually running into the issue

[2016-06-09 16:51] #573 closed, assigned to nobody

[2016-06-09 16:53] deontologician commented on #568
Also reported by @Bekt in https://github.com/rethinkdb/horizon/issues/570#issue-159045781

[2016-06-09 16:54] deontologician commented on #570
Ok, closing this one as a dupe of #568 , @Bekt thanks for the screencast and demo code, I've ported your comment over to the other issue

[2016-06-09 16:54] #570 closed, assigned to nobody

[2016-06-09 16:58] deontologician commented on #571
I think this is what `require('@horizon/client/lib')` is for. `/dist/*` are all minified, the `lib` folder is the individual files, already preprocessed by babel and webpack, but not minified or concatenated.

That being said, this is confusing and we should document how to do this or make the process easier. Our "isomorphic" method right now is not the greatest.

[2016-06-09 16:59] deontologician commented on #571
@hnordt let me know if including `@horizon/lib/index` helps, if not this is a bug in the build system

[2016-06-09 17:15] jswhisperer commented on #571
@deontologician `const Horizon = require('@horizon/client')` is for on the client is it not?
I don't see it as a build system bug, unless I'm wrong.

He can either use webpack, or browserify or include `<script src="horizon/horizon.js">` to get the client library... but on the client?

[2016-06-09 17:30] deontologician commented on #571
He's trying to create an rest endpoint that stores something in the database. You should be able to use the horizon client in Node if you want to, it should be importable without problems. The stack trace he's getting with minified code indicates the wrong thing is being imported, since minified code is only for the browser.

Whether the endpoint needs to be set up this way, I can't comment on sin

[2016-06-09 17:31] marshall007 commented on #571
@deontologician it looks like the [`main` entry](https://github.com/rethinkdb/horizon/blob/ce05382cbcdc8c152d8b9db6faa2621e85893799/client/package.json#L51) in the `package.json` is still pointing at the old `lib/index.js` which no longer exists. Shouldn't it be `dist/horizon.js`?

[2016-06-09 17:36] deontologician commented on #571
`lib/index.js` still exists, it's built by webpack, not checked in. I am not sure how `main` is used though, it's possible we should change it depending on front/back end to make it less confusing

[2016-06-09 17:54] marshall007 commented on #571
@deontologician where/when does the `lib` directory it get built? When I run `npm run build` I only see the `dist` directory created.

`main` is used by npm to resolve a modules entry point. So currently `require('@horizon/client')` resolves to `@horizon/client/lib/index.js`. If `dist/horizon.js` is bundled as a valid CommonJS module, which it appears to be, also requiring it from Node should be f

[2016-06-09 18:17] marshall007 opened #576 "Proposal: support basic update operations without fetching documents first"
There are a few common cases where I think the query language should be extended to support partial updates on documents without having to fetch their existing values first.

Currently such operations require fetching all relevant documents, assigning the new field(s) client-side, and then applying all the updates to the server via `.replace(...)`.

---
##### `.assign([<field>, <value>] | <object>

[2016-06-09 18:29] danielmewes commented on #5
Thanks for offering your help with this @peterlandry .

The geolocation API is still largely unspecified. The fundamental operation that we would like to provide is an operation to
- store data with location fields (in terms of langitude and longitude values)
- query on a collection for results within a given radius around a location

The first step will be to spec out an API proposal of how this

[2016-06-09 21:00] dalanmiller opened #577 "Add Slack real time API functionality to client"
To my knowledge, most of the OAuth Provider APIs are pretty request/response based but having familiarity with the Slack API, it would be great to allow for some sort of functionality to allow Slack authenticated users to access the [Slack real time messaging API](https://api.slack.com/rtm).

Basically we just need to expose a function in the `currentUser` API which uses their token to make the [i

[2016-06-09 21:08] dalanmiller commented on #576
I think these should be a definitely included for 2.0.

[2016-06-09 21:14] deontologician commented on #576
Should probably not add them directly on collections though, that's basically asking for people to do something crazy

[2016-06-09 21:16] deontologician commented on #577
This would be a really good module. We could get an idea of how third party modules should be implemented.

[2016-06-09 21:25] hnordt commented on #571
@deontologician @marshall007

The feature I need is:
1. Start a Horizon server and use normally with my React apps
2. Enable external APIs to store data in my Horizon server (the way I want to do that is exposing a HTTP API)

So I have started a Horizon server with `@horizon/server` and tried to connect to it using `@horizon/client` with Node.js, but looks like the `@horizon/client` doesn't work w

[2016-06-09 22:58] mglukhovsky commented on #417
The RSS feed is currently available here: https://horizon.io/feed.xml

I'll be adding a more prominent subscription link to the blog soon.

[2016-06-09 23:14] mglukhovsky commented on #435
@dalanmiller: have we removed stale documentation? We should update the README to point exclusively to the official docs.

[2016-06-09 23:25] jswhisperer commented on #571
Guess it's going to be tricky getting a client side auth (JWT) then adding it to Node, presumably hitting a websocket connection from a REST endpoint.

[2016-06-10 00:11] danielmewes opened #578 "Example config file in CLI README has wrong defaults and is outdated"
https://github.com/rethinkdb/horizon/blob/next/cli/README.md#hzconfigtoml-file has multiple issues:
1. It's outdated. The `insecure` flag is now called `secure`, and the `auto_create_table` flag is now called `auto_create_collection`.
2. It has wrong defaults. The default for `secure` is `yes`, `serve_static` is undefined or false by default, and the auto_create options are `no` by default as well

[2016-06-10 00:11] danielmewes commented on #578
@dalanmiller

[2016-06-10 00:29] mglukhovsky commented on #405
I'm a fan of option 1b, and potentially `--framework <generator>`.

I think that having at least one stock app that is easy to spin up from the `hz` tool would dramatically ease the learning curve for new users.

[2016-06-10 00:49] jvorcak commented on #477
@flipace what do you mean by "open for non-webpack programmers"? I'm using Webpack and I still get this issue. What do I do wrong? I just `import Horizon from '@horizon/client';` and get the error. Shall I install some loader package? Is there some workaround you can think of?

I thought installing  `npm install imports-loader exports-loader --save` would help.

[2016-06-10 00:58] mardo commented on #568
@deontologician
I think this PR solves the issue. I tested locally and it stores the session :)

https://github.com/rethinkdb/horizon/pull/579

[2016-06-10 01:02] petermoresi commented on #425
+1 For better documentation. I attempted to integrate the koa example into an existing project to no avail.

[2016-06-10 01:02] #568 closed, assigned to deontologician

[2016-06-10 02:24] hswolff commented on #568
Woohoo! Awesome! TY!

[2016-06-10 06:30] mlucy commented on #576
Adding it directly on collections would be pretty useful if people change their schema and want to add a field to every document (or remove one).

On assign:
- Is there a way to use assign to remove a field instead of setting it to `null`?
- Will `assign` recurse down into objects if you have nested field?  (For example, will `.assign({foo: {bar: 2}})` transform `{foo: {bar: 1, baz: 1}}` to `{foo:

[2016-06-10 09:02] theundebruijn commented on #571
@hnordt this works fine for me using something like

[code]

@deontologician as I understand this "isomorphic" approach should be a valid way of interacting with Horizon. While this is awesome! 🎉, I'm having issues getting this to work over https/ssl/wss.

The node process running the horizon client (in my setup this is a client separate from the node process running the horizon server - not like

[2016-06-10 09:25] flipace commented on #571
@deontologician @dalanmiller the workaround with the webpack import/export loader for fetch should not be needed anymore thanks to a fix in the fetch-everywhere package!

It should be removed with the next version..

https://github.com/lucasfeliciano/fetch-everywhere/commit/a4b540839f18bf7156239e0b0604ae82e96e12ab

[2016-06-10 15:23] deontologician commented on #571
beautiful!

On Fri, Jun 10, 2016, 02:25 Patrick Neschkudla notifications@github.com
wrote:

[2016-06-10 15:55] deontologician commented on #576
A big part of this is performance though, so fetching to the client and running it on every doc is defeating the purpose. I think I agree in principle that it would be nice to have a better primitive, but the most general kind of update is an arbitrary function on the old document. That's too general, since we probably can't enforce permissions effectively on arbitrary functions coming back (mlucy

[2016-06-10 16:44] deontologician commented on #542
Renamed this issue to reflect what the thread has become about

[2016-06-10 16:53] deontologician commented on #276
Since we've gone completely 360 on engine.io since I opened this issue, this seems like a good idea again

[2016-06-10 17:03] deontologician commented on #355
ping @dalanmiller is this still happening?

[2016-06-10 17:35] marshall007 commented on #576
@mlucy we could include a single object argument overload to these terms that would let you do that:

[code]

---

I think that missing primitive is `r.row`, in other words the ability to arbitrarily reference other fields in an update. However, if such a term is added I think you inevitably start down the "ReQL complexity" path (math and logic operators would be necessary too, etc) as you suggest

[2016-06-10 17:59] dalanmiller commented on #571
@flipace I've been watching that other issue unfold. I'm glad it worked out!

[2016-06-10 18:29] danielmewes commented on #576
I think that's impossible with the Horizon permission system as soon as there's any validation function. The round-trip that we could save is the one between the Horizon server and the Horizon client.

I'm a little concerned that this is a premature optimization though.

Another problem with introducing server-side updates is that they are not going to work well with optimistic updates / latency c

[2016-06-10 18:33] danielmewes commented on #425
Related documentation issue: https://github.com/rethinkdb/horizon-docs/issues/77

[2016-06-10 18:48] CoreyTrombley commented on #477
Same, I can't use horizon at the moment. This makes me a sad 🐼

[2016-06-10 19:06] deontologician commented on #576
Would rethinkdb/rethinkdb#5813 allow us to do validation in the db?

[2016-06-10 22:00] danielmewes commented on #576
We discussed this outside of Github, but to mention the gist of it here: That would be difficult right now because validators are JavaScript code and the RethinkDB-side validation functions must be deterministic which `r.js` in general is not.

[2016-06-10 23:51] mglukhovsky commented on #405
We should consider integrating with [Yeoman](http://yeoman.io/) and encourage people to provide Generators for common environments.

[2016-06-11 00:54] mglukhovsky commented on #477
@jvorcak, @CoreyTrombley, @OleksandrBezhan: unfortunately, you're pulling in the source for the client that includes unprocessed Webpack directives. You can try to import the compiled client library with:

We're working on improving the package to make this easier. Sorry you ran into this!

[2016-06-11 00:55] kushalj opened #580 "no such package"
If you have a question,  please open a new topic in Horizon's Help forum:
    https://discuss.horizon.io/c/get-help

If you're suggesting a feature but aren't sure how it might be implemented, we have a more free-form discussion forum for features:
    https://discuss.horizon.io/c/features

If you're reporting a bug please include the following:
- Server version
- Client version

[2016-06-11 00:55] #580 closed, assigned to nobody

[2016-06-11 00:55] kushalj commented on #580
oops

[2016-06-11 00:56] mglukhovsky opened #581 "Change the entrypoint for the Horizon client in package.json"
The entrypoint for the Horizon client is currently `lib/index.js`, which is the unprocessed Webpack configuration, whereas it should probably be `dist/horizon.js`.

We should also figure out why `lib/index.js` contains unprocessed directives.

[2016-06-11 01:13] mglukhovsky commented on #498
After discussing this, we're going to remove the random strings from table names.

This was originally added to prevent multiple Horizon servers (running in development mode with `auto_create_collection`) from entering a race condition on the table names, but we're planning to add a lock on the `horizon_internal` metadata database.

[2016-06-11 01:21] kushalj opened #582 "On install Horizon or a dependency is confused by local Sinopia repo/registry setting"
Node 4.4.3
Npm 2.x.x and 3.x.x

my ~/.npmrc contains my sinopia registry details:

[code]

and this seems to have prevented horizon from installing. I finally removed the lines temporarily. installed Horizon, and put them back.

Not had this before; no idea what is causing it. The debug was no useful except to show me that it was searching my repo and couldn't find horizon.

I once got "no such pa

[2016-06-11 01:34] mglukhovsky commented on #548
This needs a different name than "app schema", but this seems really useful for easy and predictable deployment.

[2016-06-11 02:15] deontologician commented on #582
Is your registry fully synced with the global npm registry? Maybe it doesn't have the packages or is not able to sync scoped packages

[2016-06-11 02:42] deontologician opened #583 "Create Yeoman generators for horizon and for different frontend frameworks"
There was some discussion in #405 about having a scaffolding function in the hz tool, but we decided it was probably better to just have some template generators for an existing tool like Yeoman.

We should probably make a new directory for them like `yeoman/` and put different npm packages in there, so we can keep versions in sync

[2016-06-11 02:43] deontologician commented on #405
Closing in favor of #583

[2016-06-11 02:43] #405 closed, assigned to nobody

[2016-06-11 03:07] deontologician opened #584 "Allow passing a Websocket API compatible object to Horizon"
We should allow the user to provide their own WebSocket implementation to Horizon. This will allow different transports, as long as they are websocket compatible.

Since we're going to move to RxJS's version of websocketsubject (#276) this issue is blocking on that one.

[2016-06-11 06:42] mlucy commented on #576
Wait, so is the goal of this proposal to make these operations easier or to improve performance?

If it's the former, I think we should seriously consider something general like `modify` instead.  The performance would be on par with any write operation you can currently do, since as far as I know the only way to do write operations right now is to issue a read followed by a write, so it wouldn't

[2016-06-11 08:15] jvorcak commented on #477
@mglukhovsky that one I tried, but the problem is probably more complex. Then I start having missing dependencies like `http`, `https`, etc... I'll try to find some time and debug this by forking the repo, hopefully today.

Thank for you all your effort!

[2016-06-11 17:09] cybor0 opened #585 "error when setting config option in toml file"
hz serve --dev
C:\Users..\horizon\src\serve.js:328
      throw new Error(`Unknown config parameter: "${field}".`);
      ^

Error: Unknown config parameter: "groups".

[groups.default.rules.read_current_user]
template = "collection('users').find({id: userId()})"

[2016-06-11 17:26] deontologician commented on #585
This should be in a separate schema.toml file, not in the config.toml

[2016-06-11 17:27] deontologician commented on #567
Also, as part of fixing this, I'll expose the currentUserId as well

[2016-06-11 17:29] cybor0 commented on #585
Ok thx

[2016-06-11 17:29] #585 closed, assigned to nobody

[2016-06-11 19:28] kushalj commented on #582
The registry is from my work place and only has local, private packages. Other packages are fetched from global npm. I have to be honest, I don't know how this works. I just assumed it fetches from npmjs if the package is not found locally on our servers.

[2016-06-11 19:51] deontologician commented on #582
You might want to talk to whoever manages your synopia installation, it looks like scoped packages were added in version 1.0.0: https://github.com/rlidwka/sinopia/issues/104

[2016-06-12 06:25] BITDM commented on #566
I used  [VHiZR](https://github.com/sachinbhutani/vhizr) to test in Microsoft Internet Explorer 10.

The following functions are passed:
- list all collections
- retrieve docs in collection

But operations like insert, remove, update are all failed. The error is located in this line:

[code]

SCRIPT438: 对象不支持“assign”属性或方法。I googled "Object.assign" and found this method is not supported in MS IE 10.

[2016-06-13 15:40] davidroman0O commented on #410
Hi,

I still got the same error on horizon 1.1.1, rehtinkdb 2.3.4, node 6 with importing horizon into my express project on OS X.

I call horizon this way :

[code]

I got a lot of "info: Index metadata synced." every seconds.

I didn't find a lot of documentation about this. :/

[2016-06-13 18:47] danielmewes commented on #566
Trying this out now...

[2016-06-13 19:13] danielmewes commented on #410
Re-opening as it still seems to be an issue.

[2016-06-13 20:07] babakness commented on #527
https://www.built.io/blog/2014/11/websockets-on-aws-elb/

In the comments from link:

Seems like a solid case for when you'd want heartbeats lower than 60 seconds.

[2016-06-13 20:14] danielmewes commented on #527
That's interesting @babakness .

This makes me think that we should consider use a lower default so users don't have to deal with this when running on AWS.

I don't have a great understanding of how much load the heartbeats are actually going to cause. Maybe we should just benchmark their overhead once this is implemented. If the overhead is very low, we might want to go for something like 50 seco

[2016-06-13 21:11] marshall007 commented on #576
Both, really. The goal of this proposal was to avoid having to read documents before performing a write (mostly for simplicity, but also for performance on larger operations). The use-cases are the same as those for `.update(...)` in ReQL. If as a result of validation/permissions checking we're forced to iterate over each document (a la @mlucy's `modify`), I think we should at least try to perform

[2016-06-13 22:03] BITDM commented on #566
There are some discussions on stackoverflow about the Object.assign.  They also give the solution to use this method in browsers like MS IE 10: polyfill.

I check out the source code of horizon client. And I find this file: index-polyfill.js. It seems that polyfill has been used in the client, but actually it has no effect in IE 10.

[2016-06-13 22:36] deontologician commented on #576
I think we should probably implement this as a plugin

[2016-06-13 22:58] danielmewes commented on #566
I ran the Horizon client tests with IE 10 and got two different errors:

[code]

and

[code]

`insert`, `remove` etc. actually appeared to work fine @BITDM have you tried using the Horizon functions directly without VHiZR? I wonder if the `Object.assign` might actually be used from there without a polyfill.

[2016-06-13 23:46] BITDM commented on #566
I made a mistake that the version of IE is 11, not 10.

I tested horizon in a web app written by myself. This time when I retrieve a document, it stopped at this statement:

[code]

This statement is defined in this block:

[code]

It comes from the horizon client code.

This is my code:

[code]

[2016-06-14 01:46] deontologician opened #587 "Move secrets out of config.toml"
It seems reasonable to be able to commit your config.toml file to source control, since configuration is part of your app. But you can't because it has secrets in it. I propose we move secrets out to something like `secrets.toml`, do all the permissions stuff we do now on config.toml, and add do #454 with a .gitignore that prevents it from being checked in.

[2016-06-14 03:59] steelbrain opened #589 "Allow configurable redirection URL"
Some notes about it
- It should be specifiable on the redirect endpoint, ie. not hardcoded in configuration
- It should not allow redirects to any other hosts, so many just `&path=/account`

I saw this as a ToDo on [Docs - Authentication](http://horizon.io/docs/auth/). I couldn't find an existing dedicated issue for this so decided to create one

[2016-06-14 17:40] mglukhovsky commented on #587
Could we name the file `config.secrets.toml`, so it's clear they're secrets related to `config.toml`?

[2016-06-14 18:18] nphyatt opened #590 "Distributed code should not contain webpack specific logic"
There is a require statement in the client https://github.com/rethinkdb/horizon/blob/next/client/src/util/fetch.js#L6 which is webpack specific and therefore when I attempt to build using typescript I come up against the following error:

[code]

[2016-06-14 18:19] mlucy commented on #587
+1 for moving them out.  IMO `secrets.toml` is better than `config.secrets.toml` and plenty clear.

[2016-06-14 18:35] imhoffd commented on #590
Anyone using horizon's `main` entry in `package.json` (`lib/index.js`) and building their own bundle is essentially forced to use webpack with this line.

[2016-06-14 18:52] jvorcak commented on #477
@mglukhovsky is there any workaround you could suggest for now? I'd like to at least experiment and learn till it's ready.

[2016-06-14 18:54] deontologician commented on #477
@jvorcak try importing `@horizon/client/dist/horizon` this has no webpack directives in it

[2016-06-14 18:57] deontologician commented on #590
Hey guys, we're going to fix this as soon as possible. We are a little backed up at the moment, so bear with us.

[2016-06-14 19:02] jvorcak commented on #477
@deontologician thanks for the help. However, this one I tried before and didn't really help. I start getting this error http://pastebin.com/A0J35b9C and the only thing I do is `import Horizon from '@horizon/client/dist/horizon';`

I've also tried switching to different version, modifying the code with no luck.

In React native I get `Unable to resolve module http from .....node_modules/ws/lib/Web

[2016-06-14 20:21] danielmewes commented on #373
Linking the work-in-progress RFC for Horizon plugins: https://github.com/rethinkdb/horizon/pull/588

[2016-06-14 20:56] deontologician commented on #477
Ok, yeah we need to dig more into this still, sorry you're running into this

[2016-06-15 07:10] flipace commented on #590
I'm going to work on this today so it should be fixed with the next release. Sorry for the troubles :(

[2016-06-15 08:29] dortzur commented on #125
@coffeemug  It's mid June. any updates :) ?

[2016-06-15 11:01] flipace commented on #590
here's the pr: https://github.com/rethinkdb/horizon/pull/593

[2016-06-15 15:50] deontologician opened #594 "Ability to incrementally add permissions"
Right now, if you're using stuff like auto-create-collection and auto-create-indexes and want to add permissions, it's very inconvenient. `hz set-schema` will refuse to update permissions until you specify all auto created collections and indexes in the schema.toml file.

We should have a --merge option on the `set-schema` command that only adds things from the schema file that aren't present, but

[2016-06-15 15:52] ericb commented on #594
I think this would be necessary for production mode as well.

For example, let's say you find and bug with your current permissions (perhaps a user can inadvertently read another users data), you would want to be able to update the permissions dynamically, without removing any collection data.

[2016-06-15 15:54] deontologician commented on #594
Good point, I changed the name of the issue

[2016-06-15 15:58] deontologician commented on #125
@dortzur We are working on a plugin system that will allow us to do this cleanly, check out #588

[2016-06-15 16:24] dortzur commented on #125
Awesome! looking forward to it

On Wed, Jun 15, 2016, 18:58 Josh Kuhn notifications@github.com wrote:

[2016-06-15 16:26] NathHorrigan commented on #125
What's the expected timeframe for GraphQL support or is it to early to say?

[2016-06-15 16:50] deontologician commented on #125
@NathHorrigan I don't know a timeline, but the dependency tree goes:
1. Implement plugin system
2. Implement GraphQL plugin (making GraphQL possible)
3. Implement tooling to make it easy create and modify GraphQL mappings

The graphQL plugin is probably not going to be a huge deal, mostly serialization and defining a configuration language to map graphQL queries to reql queries.

Point 3 above req

[2016-06-15 18:04] nphyatt opened #595 "Reconnecting from client doesn't cause another ready event to be sent"
I'm writing something to handle reconnecting to the horizon server in case of disconnect. I listen for dissconnect using

[code]

and then retry connecting a specified number of times using

[code]

however I never recieve another ready event after successful reconnect.
I continue to see error and disconnect events but I only ever see the one ready event.

[2016-06-15 18:52] danielmewes commented on #595
I believe `connect` is lazy in the sense that if a connection already exists, it will not do anything.

If the connection is lost, I too would expect `hz.connect()` to re-establish the connection though. Is that what you're testing?

@deontologician What's the currently implemented behavior for this? Could this be a bug?

[2016-06-15 19:24] nphyatt commented on #595
@danielmewes Basically I'm testing reconnect on loss of connection...particularly on mobile where wifi can be spotty. The horizon client doesn't seem to have a retry policy for reconnecting so I've written a wrapper on my end for now which listens for a `disconnected` event and then retries connecting a set number of times with some backoff using `hz.connect()`. I'm able to bring down the connecti

[2016-06-15 20:10] danielmewes commented on #595
Ok that makes sense.

Point 1 is expected currently. We're planning to solve this better in the future though and handle reconnects transparently without losing subscriptions (https://github.com/rethinkdb/horizon/issues/9)

The fact that a successful reconnect doesn't trigger the `onReady` callback sounds like a client bug to me (unless I misunderstand the expected semantics). We'll look into it.

[2016-06-15 20:17] mlucy opened #596 "Proposal: modify"
Breaking this out of #576 after some discussion yesterday (ping @mglukhovsky).

The basic idea is that if you have a selection like `collection.findAll(...)`, or a single document with a known primary key, you can write something like this:

[code]

With the semantics that we will, for each document in the selection, fetch the document from the server, apply the modification function, and then att

[2016-06-15 20:18] danielmewes commented on #594
There already is a `--merge` option to `hz set-schema`. It's called `--update`:
`--update [yes|no]     Only add new items and update existing, no removal.`.

The "update existing" part of this is based on the group+name pair of a security rule that is specified in the TOML file (i.e. an existing rule is replaced if the user group and rule name match a new rule).

Seems like we'll need to add some

[2016-06-15 20:19] danielmewes commented on #594
...also I vaguely remember that we talked about `set-schema` suggesting the use of `--update` in the error message that it provides when applying a schema would delete data. Presumably that's not currently the case?

[2016-06-15 20:23] deontologician commented on #594
Doh. That's embarassing, I guess I should have looked at the command directly

[2016-06-15 20:24] danielmewes commented on #594
Oh I might have confused that with suggesting the use of `--force` in the error message. I think we should add a mention of `--update` as well. How about:

[code]

[2016-06-15 23:52] deontologician commented on #337
This feature should be implemented as a plugin, see #588

[2016-06-15 23:54] deontologician commented on #468
I think most everything here will be covered by the plugins functionality (#373) see the RFC in #588

[2016-06-15 23:54] #468 closed, assigned to nobody

[2016-06-15 23:57] #590 closed, assigned to nobody

[2016-06-16 00:26] deontologician commented on #596
Related to #23 and #58

[2016-06-16 00:28] deontologician commented on #589
@Tryneus is this the same as #508  ?

[2016-06-16 00:34] #487 closed, assigned to nobody

[2016-06-16 00:40] danielmewes commented on #337
It might be worth making this an integrated part of Horizon in my opinion since easy extensibility is a central feature of Horizon.
Though an initial implementation could be done as a plugin I suppose.

[2016-06-16 00:55] deontologician commented on #337
Just for modularity's sake we should probably split it out, since not everyone will want this. It also seems like it wouldn't require more deep integration into the horizon guts than a plugin can provide, so there's not really much reason to couple it more tightly

[2016-06-16 00:55] steelbrain commented on #589
This is similar, but not the same. That issue describes that the redirection url is forced to https thus it doesn't work on http websites, while this issue focuses more on the implementation for a customizable redirection url

[2016-06-16 01:00] deontologician opened #600 "Remove all polyfills and document which features Horizon uses"
It's been suggested we should just remove all polyfills. The ones we include are convenient (ish) since they allow a user to get started with Horizon without having to also import a bunch of shims, but at the same time it seems like something a library you import shouldn't do for you. In other words, which polyfills to use is probably an app-level decision, not a library decision.

I'm not entirel

[2016-06-16 01:04] danielmewes commented on #418
@ksnyde Sorry for the late response. I think this was addressed by https://github.com/rethinkdb/horizon/issues/554 and should now work automatically as of Horizon 1.1.1.

[2016-06-16 01:08] deontologician commented on #589
Cool, thanks for the clarification

[2016-06-16 03:09] deontologician commented on #552
@segphault ran into this today. This is basically expected behavior currently, we should probably throw an error if you create a template on the argument to remove or removeAll since they're not related to indexes

[2016-06-16 07:40] intellix commented on #600
Stumbled upon this on my travels: https://cdn.polyfill.io/v2/docs/
It supposedly polyfills everything for you automatically as you need. Haven't looked too deep into it though. Just figured it's something easy enough to add to the app-level

[2016-06-16 14:28] abastardi commented on #125
Note, Facebook is now experimenting with real-time update support in GraphQL via the `@live` directive: https://youtu.be/ViXL0YQnioU?t=15m32s

[2016-06-16 16:02] yankeeinlondon commented on #418
Great, thanks.

[2016-06-16 19:17] guilhermedecampo commented on #521
@GenericUK which chat app are you trying to run?

[2016-06-16 19:35] deontologician commented on #600
Yeah, if we do this it would be nice to point app developers at something convenient like that

[2016-06-16 19:48] plievone commented on #366
@deontologician @flipace I could help with this. The build scripts may have changed, but a few months ago the client was built so that:

`client/src` -> `client/lib` was a simple source-to-source babel transform, no webpack, so that the package and its dependencies could be required directly in user's build process, and that one could later switch to using the src files directly if wanted (as that

[2016-06-16 20:36] plievone commented on #584
This seems like a very good idea, for the client side, and possibly also the server side if possible. Immediate use could be in testing client side situations such as errors and reconnections, as mocking the implementation with special error cases would be simpler than building a proxy server that would break the actual websocket connections in reliable ways.

For a baseline implementation, one ne

[2016-06-16 21:04] #533 closed, assigned to nobody

[2016-06-16 21:05] deontologician commented on #366
Hey plievone!

Yeah, we just need to maintain the "no webpack directives in require" invariant going forward (which we broke)

This one is tricky, since we're dependent on a particular version of RxJS. Ideally RxJS would be a peer dependency, and we'd use `::` to avoid modifying the Observable class the app developer is in charge of. In practice, for the near future we'll probably need to monkeypa

[2016-06-16 22:39] dalanmiller commented on #411
I'm late to this party but I take full blame for this @josephg as I was the perpetrator here, I apologize profusely to your hard drive 😭 .

Closing this as we have proper `.gitignore` rules now.

[2016-06-16 22:39] #411 closed, assigned to nobody

[2016-06-16 22:40] #355 closed

[2016-06-16 22:41] dalanmiller commented on #278
Hey all, I just PR'd #603, would love for you all to take a look!

[2016-06-16 23:16] plievone commented on #584
I drafted a quick client side mock with some comments here:
https://gist.github.com/plievone/4ee0987839f1b470a39871f62190c7be

[2016-06-16 23:41] josephg commented on #411
^_^ bugs will come and go. But seeing everyone rally to get all these issues fixed makes me really happy. Thanks for the great work!

[2016-06-16 23:56] deontologician commented on #584
I'm working on #276 at the moment since it'll fix some other bugs in our websocket implementation (probably #595 for example), so this may overlap with this issue too.

How is the mock intended to be used?

[2016-06-17 00:30] plievone commented on #584
That gist is just a barebones websocket mock (but proxying to real websocket, so not really a mock, more like a "Websocket API compatible constructor"), and one can use it in place of ordinary websocket (`new MockWebSocket(path)` etc). It could be passed to those RxJS websocket subjects to be used as a websocket constructor, and tweaked to conform to the actually depended on websocket interface. F

[2016-06-17 01:05] deontologician commented on #584
I saw that comment too, I think it could probably become an operator, it seems I implemented basically the same thing on top of it (we multiplex by the request_id)

[2016-06-17 01:49] Tryneus commented on #560
Hi @jephir, sorry about the delay.  While this is the format you use on the command-line, it is slightly different when specifying via environment variables.  For your example, you would export `HZ_AUTH_GOOGLE_ID=<REMOVED>.apps.googleusercontent.com` and `HZ_AUTH_GOOGLE_SECRET=<REMOVED>`.  I added PR #605 to warn when we are ignoring an auth environment variable when the path doesn't match - and t

[2016-06-17 02:09] Tryneus commented on #564
Fixed by PR #597.  Thanks for reporting this, @alf!

[2016-06-17 02:09] #564 closed, assigned to nobody

[2016-06-17 10:38] alf opened #606 "Horizon doesn't support moment.js"
Client version: 1.1.1

When horizon serializes an object it seems that it first serializes date objects to horizon date objects.

A moment object from http://momentjs.com contains a date object which is converted in the above pass. This causes the moment to be invalid and thus an exception is raised.

[2016-06-19 11:08] akanass opened #608 "Horizon schema validator doesn't fire any event"
Hello,
- Server version => 1.1.3
- Client version =>  version from server at `/horizon/horizon.js`

I create some validators in my schema and I want to store data from client but if my data doesn't match validator, storage will be not performed but no error will be fired from the server.

How I can know that my client data doesn't match with server validator?

Thanks.

[2016-06-19 23:49] deontologician commented on #608
ping @Tryneus

[2016-06-20 04:44] thurt commented on #569
I just ran into this error as well.

What is the `$hz_v$` field for? and is it a safe workaround to add the field with a numeric value from admin tools, as you suggest?

[2016-06-20 19:33] deontologician commented on #422
@dlecan also reported this on the forums: https://discuss.horizon.io/t/horizon-client-doesnt-seem-to-use-host-and-secure-properties/286

[2016-06-20 20:37] dlecan commented on #422
Yes, I have the same issue.
As a temporary workaround, I configured the webpack-dev-middleware to proxy all requests.

[2016-06-21 01:36] danielmewes commented on #569
@thurt It's used to detect when a Horizon document changes between reading it and rewriting it.
Horizon makes use of this when checking validation functions in security rules.

If you insert a new document via ReQL, it's save to set the `$hz_v$` field to any integer (normally 0).

If you modify an existing document through ReQL, I recommend also incrementing the `$hz_v$` field as part of the updat

[2016-06-21 04:28] thurt commented on #569
@danielmewes thank you for the explanation! it sounds like a simple kind of revision control.

Does this mean the value of `$hz_v$` is always checked before committing a write operation from horizon client? and if it is a different value than expected, does it throws an error?

I will try to start poking around the code base some more. Is there a place I can look to understand this behavior?

[2016-06-21 08:19] yankeeinlondon opened #610 "Watch regression in Horizon 1.3"
I have been able to use the `watch()` functionality in Horizon with prior releases but having upgraded yesterday to **1.3** I now am unable to leverage **any** of the "real time" features of Horizon's "watches".

Specifically I have a very simple two table model: "person" and "todo". If I use the web console in either Safari or Chrome and type:

[code]

I would expect to get back the list of chang

[2016-06-21 11:43] hvdklauw commented on #525
Can confirm that this now works with the current master.
Probably due to the removal of engine.io in #526.

[2016-06-21 12:24] hvdklauw commented on #525
Should add that I then ran into CORS issues and after that into the POST simply failing :S

[2016-06-21 15:27] deontologician commented on #610
Hey @ksnyde I'll check this out today

[2016-06-21 16:01] yankeeinlondon commented on #610
@deontologician thanks for giving it the attention but I hope you haven't spent time on it yet as this is a red herring. The browser error was a result of my lack of configuration when I initialized Horizon (specifically the lack of `host` property).

Once I realized the code problem was separate from the web debugger issue I have made some good progress the past hour or two. What remain issues fo

[2016-06-21 16:01] #610 closed, assigned to nobody

[2016-06-21 16:13] deontologician commented on #610
Dang! Nice. Hadn't done anything yet, so we lucked out

[2016-06-21 16:15] deontologician commented on #567
Reopening since @cybor0 on the forums has run into this again: https://discuss.horizon.io/t/index-html-and-currentuser-problem/288/1

[2016-06-21 20:52] danielmewes commented on #569
Yes.

@Tryneus ^^^^^

[2016-06-21 21:03] alf commented on #569
@thurt https://github.com/rethinkdb/horizon/search?utf8=✓&q=version_field

[2016-06-21 21:08] alf commented on #569
@danielmewes Is it by design that horizon refuses to touch documents without a version field? If it is then maybe there could be an option to make horizon add the field on demand?

[2016-06-21 21:10] danielmewes commented on #569
@alf No, we are planning to add a default handler so that documents without version fields can still be updated through Horizon. That's why we're keeping this issue open.

[2016-06-21 21:59] deontologician commented on #276
Things the new websocket subject needs to do beyond the one included in rxjs 5:
- [x] Multiplex by `request_id`
- [x] Send a handshake on opening the socket
- [x] Block requests from being sent until the handshake is accepted
- [x] Send `end_subscription` messages when unsubscribing
- [x] Close the observable if the a `{type: 'error', ... }` response is received
- [x] Complete an observable that g

[2016-06-21 22:56] deontologician commented on #606
This would be nice to implement, but I think moment.js can output plain js Date objects right?

[2016-06-22 03:22] deontologician commented on #276
Current bug is that the handshake is emitted, but the connection gets closed after the handshake, so it's not still open next time you try to use the connection

[2016-06-22 05:03] alf commented on #606
Yes, it's not hard to work around. It's surprising behaviour though. :)

[2016-06-22 12:21] jimthedev commented on #477
Hi @deontologician. I see a commit in the next branch. Is this something that fixes this issue so that we can get back to working with horizon and react native?

[2016-06-22 12:37] flipace commented on #477
@jimthedev still waiting for someone to try and see if this fixes the issue for react native too, yes.

[2016-06-22 18:24] deontologician opened #611 "Build system outputs"
The build system outputs have been confusing, this is intended to make them 100% clear what to use in a particular situation:
- `lib/*.js` are ES5 outputs of Babel, using commonjs for imports. This is for others wanting to include horizon in their own browserify/webpack build. No polyfills
- `dist/horizon.js{.map}` minified, webpacked, no browser polyfills
  - need to switch from fetch to rxjs aja

[2016-06-23 12:40] ghost commented on #192
You shouldn't use lws, I will unpublish it very soon as it has been deprecated for some months now. You should look into uws instead if you are still interested in performant websockets.

[2016-06-23 13:43] adrianbrink commented on #59
Are there plans to develop a iOS SDK for horizon?

[2016-06-23 14:32] deontologician commented on #59
No immediate plans, but once we switch back to websockets it should be
significantly easier to write an ios client.

On Thu, Jun 23, 2016, 06:43 Adrian Brink notifications@github.com wrote:

[2016-06-23 14:42] Rajan commented on #59
If I were leading this, I'd use MQTT.
https://www.quora.com/What-are-the-pros-and-cons-of-WebSockets-versus-MQTT-as-real-time-web-infrastructure-for-the-Internet-of-Things

[2016-06-23 15:40] adrianbrink commented on #59
I am only bringing this up, because parse might not support Swift 3 and hence an iOS SDK would be splendid.

Also, I think a lot of iOS devs would be willing to contribute to an iOS SDK (me included).

[2016-06-23 16:38] dalanmiller opened #612 "Need to add permissions examples into boilerplate config.toml file."

[2016-06-23 19:58] danielmewes opened #613 "Limit the nesting depth and size of documents in Horizon"
RethinkDB should generally be able to handle documents of arbitrary nesting depth and/or size, but I wouldn't be shocked if you could somehow prepare a document that causes a stack overflow when being processed.

Additionally, very large documents could be used by an attacker for DoS attacks by causing high memory consumption on the server and/or slowing queries and other users down significantly.

[2016-06-23 22:03] deontologician commented on #613
This seems like it might want to be a security/permissions feature, but beyond that I don't have a strong opinion.

[2016-06-24 13:51] BLamy opened #615 "Horizon as OAuth Provider"
After #176 there will be a way for Horizon to run in isolation and have it's own set of usernames/password (possibly even 2-factor authentication).
Given this, I would like to be able to allow other applications to delegate authentication to my horizon application.

The use case would be as follows:

1) I pick Horizon for an enterprise based application. Call it (`App A`).
2) `App A` uses username

[2016-06-25 00:30] mlucy commented on #613
If the goal is to avoid stack overflows, note that we should also be careful about array nesting.

[2016-06-25 00:44] dalanmiller opened #616 "Set hub.docker.com/r/rethinkdb/horizon to use 2.x.x"
We need to do this upon releasing 2.0

[2016-06-25 00:49] dalanmiller commented on #548
👍

Now that I finally understand the consequences of this design decision, I think that one should be able to provide a `schema.toml` to `hz serve` which will then setup the proper schemas, indexes, and permissions, before starting to serve the app. I'm not sure I can foresee any alternative when using something like Docker Compose to deploy where the database instance may not exist until you actu

[2016-06-25 01:09] deontologician commented on #548
It's not a super great idea since we can't just modify a toml file and write it back without clobbering comments. If we do #543 this would be an option

[2016-06-25 20:27] bopjesvla commented on #306
Is this as simple as moving rxjs to peer dependencies and adding some documentation?

[2016-06-26 20:06] ericwooley commented on #64
I am brand new to horizon, but this is immediately a pain point for me. I am trying to integrate with battle.net which provides https://www.npmjs.com/package/passport-bnet

There doesn't seem to be any (documented) way to either:
A) Use passport in my own server code and somehow integrate that into hz,
B) Create an oauth strategy that hz understands.

I am not really an expert on Oauth either, but

[2016-06-27 00:11] reactivize commented on #616
What's the ballpark ETA for v2, and an official docker image?

p.s.
Keep up the good work guys.

[2016-06-27 17:18] dalanmiller commented on #616
Hey @reactivize!

We are ​currently only building branches `next` and `1.x.x` which go into image tags ​​`:next` and `:latest` respectively.

If you want bleeding edge, definitely `docker pull rethinkdb/horizon:next`. But I'd also wait until #603 gets merged in and that will be our official image (under `:latest`). Also would love any feedback you have on them!

We want to get Horizon 2.0 out as s

[2016-06-27 17:56] dalanmiller commented on #525
Is this still relevant now that engine.io is out @deontologician?

[2016-06-27 19:12] deontologician commented on #525
Yeah, this can probably be closed.

[2016-06-27 19:12] #525 closed, assigned to nobody

[2016-06-27 23:05] kctpradeep opened #617 "authentication"
If you have a question,  please open a new topic in Horizon's Help forum:
    https://discuss.horizon.io/c/get-help

If you're suggesting a feature but aren't sure how it might be implemented, we have a more free-form discussion forum for features:
    https://discuss.horizon.io/c/features

If you're reporting a bug please include the following:
- Server version
- Client version

[2016-06-27 23:06] #617 closed, assigned to nobody

[2016-06-27 23:07] kctpradeep commented on #617
Sorry, created by mistake.

[2016-06-27 23:57] deontologician commented on #612
This should be in the `schema.toml` file, not `config.toml`. I think this should be done as part of #548 .

[2016-06-28 00:00] dalanmiller commented on #612
Closing this as I didn't realize this at the time.

[2016-06-28 00:00] #612 closed, assigned to nobody

[2016-06-28 00:01] deontologician commented on #379
Moot with engine.io removal

[2016-06-28 00:01] #379 closed

[2016-06-28 00:04] deontologician commented on #552
Fixing this won't be a small bugfix, but a redesign of how the write-methods work. We should probably have a new command for remove/removeAll style queries that allows a search to be specified. i.e. "Find documents with this value in this field, remove them all". Then the templates would be useful for these.

[2016-06-28 00:07] deontologician commented on #435
I think this is fixed

[2016-06-28 00:07] #435 closed, assigned to nobody

[2016-06-28 01:04] deontologician commented on #239
@dalanmiller was this fixed in #565 where the `access_control_allow_origin` flag was added?

[2016-06-28 01:06] dalanmiller commented on #239
Yup, as a baseline this looks good 👍

[2016-06-28 01:06] #239 closed

[2016-06-28 01:18] deontologician commented on #615
This is a good idea, I think we should implement this as a plugin

[2016-06-28 01:49] deontologician commented on #24
Recently a user in slack ran into the issue of specifying validation rules in embedded horizon. We should make sure there's some way to get access to the validation/permissions in whatever middleware solution we end up going with

[2016-06-28 17:23] sjmcdowall commented on #615
This is just my 2-cents : but from a system's architect point of view -- I like the idea of an easy Oauth service based on the horizon security model .. but I for certain would NOT like it to be "hard bundled" in as part of the overall web application.

Being a good micro service advocate, I want to be able to scale / "proxy HA" my Oauth service totally independent on any specific instance of a we

[2016-06-28 17:31] sjmcdowall commented on #613
My question -- what's the contract between the caller and the server if a specific query exceeds either of those limits?  Also -- is the nesting depth that critical or is it really the size that matters? :)  If I nest 256 -- but my overall size is only 250K, is it that big of a deal?  I'm a RethinkDB newbie so not sure if there are implications of nesting depth I am not aware of.

[2016-06-28 17:47] arizonatribe commented on #615
Yeah, some form of this idea would be great. I can't accurately guess the exact reason for only 3rd Party OAuth, but if it's because those providers are following the OAuth 2 specs (whereas a simple username/password store is insufficient for security), the solution suggested here of implementing the OAuth 2 pattern yourselves would solve the problem.

For now, I've forked Horizon, built my own OA

[2016-06-28 18:22] reactivize commented on #616
Thanks @dalanmiller,

I'll wait for that merge then I'll start testing out the Horizon docker image.
I'd like to design and publish a useful end-to-end starterkit template, utilizing, rethinkDB, graphQL, reactJs, and docker, that gets a dev machine up and running quick.

[2016-06-28 18:24] BLamy commented on #615
@sjmcdowall I feel I could make the argument that if you only have 2 applications a full microservices architecture is a little bit overdesign. The scenario I described above would allow developers to slowly scale from one application into an architecture which is suitable for a couple of applications.

Then yes, If your architecture gets more complicated then that you should dedicate a horizon no

[2016-06-28 18:29] sjmcdowall commented on #615
@BLamy -- I never implied there shouldn't be an option (maybe even the default option!) to imbed an Oauth provider as part of the application -- but that there should be an option to make it a separate micro service if desired.  So one can start with the embedded option which maybe perfect for many projects -- then later opt to "split it out" if it makes sense to do so.

[2016-06-28 18:36] marshall007 commented on #563
Firebase allows you to "link" multiple auth providers to a account ([see docs](https://firebase.google.com/docs/auth/web/account-linking)). Once the user is already signed in to one of their accounts you can then link others by doing:

[code]

I think the existing behavior of the OAuth flow always creating a new user by default should remain. I like how linking additional providers is all part of

[2016-06-28 18:58] marshall007 commented on #552
@deontologician instead of adding a new term, do you think we could just support chaining `.remove()` onto `.find(...)` and `.findAll(...)`? We'd have to update the protocol to support "sub-queries" on write operations, but doing so would allow us to support any other terms too.

[code]

[code]

[2016-06-28 19:01] deontologician commented on #552
This is a reasonable solution, we were basically 60/40 in favor of a new
term since it would reduce the amount of polymorphism on remove (it
currently accepts both objects containing an id field, and bare ids). But
using remove again isn't necessarily a bad choice.  ping @mlucy

On Tue, Jun 28, 2016, 11:58 Marshall Cottrell notifications@github.com
wrote:

[2016-06-28 19:28] marshall007 commented on #552
I think being able to chain `above/below`, `limit`, etc before `.remove()` makes this the obvious choice over a new term. Consider use-cases like paging and wanting to delete the entire current "page" of results.

**[edit]:** we could also eliminate polymorphism by only allowing the zero-argument `.find(...).remove()` and `.findAll(...).remove()` alternatives if that's a concern (and maybe even dr

[2016-06-28 20:46] deontologician commented on #552
Oh, yeah I definitely think chaining is the way to go, just whether you should be able to tack on `.remove()` or `.delete()` at the end. It might be less confusing since `.remove()` at the end would be replacing `.fetch()`

[2016-06-28 20:49] deontologician commented on #552
A specific concern is something like, what if users want to do `collection.findAll({...}).remove({some document})`. Also, `hz('tablename').remove()` vs. `hz.remove()` the second would fail, the first would work. It's definitely possible to make it work, but it's a little ugly maybe

[2016-06-28 20:53] dalanmiller commented on #616
For now @reactivize you can just use the `:next` and be okay 👍 . I'll ping back here though once we release a new version of Horizon (and those commits get merged into `1.x.x`)

[2016-06-28 21:00] deontologician commented on #552
I kind of wonder if we should just change the write methods to be terminals, and get rid of the functionality to accept arbitrary objects to dispose. It's not that much extra effort to do `hz('foo').find(doc.id).remove()` rather than `hz('foo').remove(doc)`

[2016-06-28 21:38] segphault commented on #59
I think that an experienced Swift developer could easily build a native client library for Horizon. I put together a working proof of concept implementation very early in the project. The protocol has changed quite a bit since then, but I don't think it'd be hard for somebody to take this and update it to make it work: https://gist.github.com/segphault/abaad8189ab36ce84b1b4837f96af53b

It'd be nea

[2016-06-28 22:13] mlucy commented on #548
So, Chris and I just ran through the "embedding Horizon" flow on the website.  It's extremely non-obvious what to do.  What happened was Horizon connected to RethinkDB and started spamming"error: Connection to RethinkDB terminated: Error: The databases horizon and horizon_internal do not exist.Run `hz set-schema` to initialize the database, then start the Horizon server." over and over.  I ran `hz

[2016-06-28 22:35] dalanmiller commented on #548
There's a couple items out of this I propose:
- `.hz/schema.toml` needs to be a default file from `hz init`
- `.hz/schema.toml` should contain the bare minimum for horizon to operate (at the moment `horizon` and `horizon_internal` and the project name from `.hz/schema.toml`)
  - Else conditions to this from @mlucy in #547:
  - Otherwise, if there is only one Horizon project in the database (which

[2016-06-28 22:48] fallenpeace commented on #600
Why not make them opt-in, opt-out via the Hz CLI?

Seems to be the best world. As I for one have been using horizon, without ever noticing I had to "polyfill" I  like that horizon has it built in sorta how meteor has its polyfills built in for the most part.

Because like you said, the point of horizon is to get started right away.

[2016-06-28 23:13] mlucy opened #620 "We should consider accepting options in camelCase"
I'm reading the docs at http://horizon.io/docs/embed/, and all of the options you pass to the server are in snake_case .  This is annoying because literally everything else in JS-land is camelCase.

We should probably rename these options to be in camelCase.  (Alternatively, we could do what we do in the driver and accept both.)

[2016-06-28 23:26] dalanmiller commented on #578
All good!

[2016-06-28 23:26] #578 closed, assigned to nobody

[2016-06-29 00:09] #569 closed, assigned to nobody

[2016-06-29 00:26] deontologician commented on #620
+1 for just making them camelcase. The mapping in reql is justified since we have to support multiple languages

[2016-06-29 00:26] deontologician commented on #620
I'm assuming this would be something to do once the server is refactored for plugins. @Tryneus

[2016-06-29 00:35] mlucy opened #622 "Inconsistency between `.find.watch` and `.find.fetch`"
When I write this:

[code]

It prints `null`.

But when I write this:

[code]

It prints nothing.  If I use `findAll` instead both `watch` and `fetch` print `[]`.  Ping @Tryneus because he said it might be a bug.

[2016-06-29 00:37] mlucy commented on #548
+1 for the change to `hz schema save` and `hz schema load` defaulting to `.hz/schema.toml`.

I also think that by default `hz serve` should look for `.hz/schema.toml` if there's no schema set, rather than the user having to specify that they want to load `.hz/schema.toml` the first time they start the server.

[2016-06-29 00:38] deontologician commented on #548
this looks good, I think we all intuitively want the same thing

[2016-06-29 00:42] deontologician commented on #622
@mlucy Can you capture the protocol stuff for these two commands? I would tentatively guess either we aren't receiving a complete, or we're mishandling it in the client

[2016-06-29 00:47] mlucy commented on #622
@deontologician --

[code]

(The first is for `watch`, the second is for `fetch`.)

[2016-06-29 00:53] deontologician commented on #622
Ok, looks like a client error as suspected

[2016-06-29 06:05] marshall007 commented on #622
The issue is with this line in [`client/src/index.js#L121`](https://github.com/rethinkdb/horizon/blob/next/client/src/index.js#L121) because `Observable.from([])` isn't going to emit any values. Shouldn't we expect `{ "data": [null], ... }` in the response for a `find` with no results?

[2016-06-29 06:07] marshall007 commented on #622
Looks like server behavior was changed here: https://github.com/rethinkdb/horizon/commit/a2dcd5fbf9f3ebd7fbfe3c93f33b04420a3c79a2#diff-860203edebb57e95b7530efa657e58e6L71

[2016-06-29 10:20] mlucy commented on #552
To be fair, if you have an array of objects then `hz('foo').removeAll(array)` is noticeably nicer than having to map over the array to get the IDs out.

---

My understanding is that the goal of the existing API is that if you get an object with `find` or an array with `findAll`, you can easily delete the resulting rows with `remove` or `removeAll`.  This makes at least a little sense; it's probab

[2016-06-29 18:54] deontologician commented on #622
Awesome, thanks @marshall007

[2016-06-29 19:12] dalanmiller commented on #548
What would be the correct way for `hz serve` to determine that no schema is set versus schema is just out of data with `.hz/schema.toml`? And should this always happen or only in `--dev` mode?

[2016-06-29 19:18] deontologician commented on #548
I think only in dev mode.

It seems like we should either
1. Only set-schema if we detect there is no horizon_internal database (so on first `hz serve`)
2. set-schema every time with `--update`.

[2016-06-30 01:21] deontologician opened #623 "Put version in config file?"
Should we try to lock horizon versions in your config file so you can't silently screw yourself over?

[2016-06-30 01:35] dalanmiller commented on #623
Probably, if at for the very least, warn about version incompatibilities. This would also be a boon to automated database migrations once we have something more solid.

[2016-06-30 15:59] deontologician commented on #314
Rxjs5 support released today: https://github.com/cyclejs/core/releases/tag/v7.0.0

[2016-06-30 17:18] rkochis commented on #501
I'm late to the party but this will disable checking for the token in the first place so you don't have to keep clearing the local storage.

var horizon = Horizon({host: 'hostname', **authType: 'unauthenticated'**});

[2016-06-30 23:57] mlucy opened #625 "Horizon token is left in the URL after OAuth"
If I go to `dev.hzc-dev.io:8181` and authenticate with GitHub, at the end of the chain I end up at `dev.hzc-dev.io:8181/?horizon_token=BUNCH.OF.STUFF` rather than back at the page I started at.  I think after we read the token out of the URL we should remove it.

[2016-07-04 13:52] alikhani opened #627 "Cannot connect when embedding horizon to existing project."
Hi,
Wanted to try out horizon so I'm trying to embed horizon to an existing react/express-project but can't get the horizon-client to connect to the horizon-server due to a socket-issue..?
<img width="1278" alt="horizon-issue" src="https://cloud.githubusercontent.com/assets/1507144/16562608/1900e5e2-41fe-11e6-80c9-62eab9478533.png">

server.js

[code]

client:

[code]

Server version: 1.1.3
Client

[2016-07-05 10:29] sachinsawant71 opened #628 "Express Application"
I am trying to embed Horizon within express application. I used the example server provided here - https://github.com/rethinkdb/horizon/tree/next/examples/express-server.

When I start the app, I get following error

Connection to RethinkDB terminated: Error: The databases horizon and horizon_internal do not exist. Run `hz set-schema` to initialize the database, then start the Horizon server.

I t

[2016-07-05 19:01] bopjesvla opened #629 "Switch to config.js"
This would allow for modularisation of the configuration file and isomorphic, non-string validator functions.

[2016-07-05 20:54] alf opened #630 "Please expose the reduce RxJS Observable operator"
The fetch and watch methods return RxJS Observables. These observables have a handful of useful operators attached. Unfortunately reduce seems to be missing.

[2016-07-05 21:28] alf commented on #630
Since fetch returns all hits in one go and since watch is continous and thus reduce would prevent emitting anything until the stream is closed I guess reduce isn't very useful after all.

[2016-07-05 22:02] danielmewes commented on #552
Can someone explain to me why this template doesn't work, and why it's difficult to support?

Also in which direction does it fail? Does it not match anything (annoying but safe), or does it match too much (unsafe)?

[2016-07-05 22:20] mlucy commented on #552
@danielmewes -- templates only check the query being run, not the data on disk.  For `remove` and `removeAll`, the only field that actually affects the ReQL query we issue is `id`.  I'm not sure how it currently fails, but I think the consensus is that the template should error if you try to specify a field besides `id`.

[2016-07-06 13:30] alf opened #631 "Horizon no longer queues queries run before horizon.onReady has triggered"
According to the [documentation](http://horizon.io/api/horizon/#onready), you don't need to use horizon.onReady before running a query. This worked fine until [this commit](https://github.com/rethinkdb/horizon/commit/ce05382cbcdc8c152d8b9db6faa2621e85893799). After that it seems the queries are silently dropped.

[2016-07-06 14:00] alf commented on #631
I'm currently working around this by wrapping my code in hz.onReady. However for this to work I have to manually trigger hz.connect() otherwise my query gets dropped.

[2016-07-06 20:24] danielmewes commented on #552
@mlucy Ah thanks, I missed that you can't call `removeAll` with secondary indexes.

Just to make sure my understanding is correct: when building a (protocol-level) query from a `removeAll`, we throw away anything except for the `id` fields of the objects? What is the behavior in Horizon when calling `removeAll` with an object that doesn't have an `id` field? Does it error?

[2016-07-06 20:36] deontologician commented on #552
if it has no id field it _should_ error. It also accepts an id value
directly (which we infer if it is anything other than an object)

On Wed, Jul 6, 2016, 13:24 Daniel Mewes notifications@github.com wrote:

[2016-07-06 21:28] mlucy opened #632 "Add a way to use multi-indexes in Horizon"
My proposal is that we add a new `findContaining` command, which behaves like `findAll` but on a multi-index.

So if you have a document `{foo: 'a', bar: ['b', 'c']}`, you could look it up with any of these commands

[code]

---

I ran into the need for this while working on the web backend for Horizon cloud (@mglukhovsky is using Horizon to write the web interface), where every project has a set

[2016-07-06 23:50] mlucy opened #633 "`hz.currentUser().fetch()` doesn't call `connect`"
If you follow the instructions at https://horizon.io/api/horizon/#currentuser :

[code]

It doesn't work, but if you call `connect` first it does.

[2016-07-07 00:26] danielmewes commented on #633
I think this is a duplicate of https://github.com/rethinkdb/horizon/issues/567

[2016-07-07 00:26] #633 closed, assigned to nobody

[2016-07-07 03:54] mlucy opened #634 "Interacting with Horizon's observables is an enormous pain."
The single biggest usability problem I've had getting up and running is working with Horizon's observables.  I had three major problems:
1. It isn't obvious what's defined and what isn't.
   - This was extremely frustrating.  We just link to outside documentation on observables, which is reasonable, but has the unfortunate side-effect that I couldn't actually run most examples because we happened

[2016-07-07 07:30] lcir commented on #31
What is the status of this issue?

[2016-07-07 08:11] alf commented on #630
I do need this on the observables returned by store/upsert however. My usecase is that I need to map the generated ids back to the entities I saved. Since store/upsert currently calls the write callback once for each stored document, I need to first reduce this to a list that I can then map against the input list.

I assume that the write callbacks come in the same order as the input documents.

[2016-07-07 08:13] alf commented on #630
A workaround for people in the same situation is to use lift with the ReduceOperator:

[code]

Edit: This workaround seems to break things mysteriously. That is, I seem to have to add a `.map(x => x)` after the lift operation for the chain not to be broken.

[2016-07-07 13:48] intellix opened #635 "collection.store(object) mutates date values"
Server version: 1.1.3
Client version: 1.1.3

I'm using ng2 and piping a date object into a particular format within my view. Upon using store, the date is replaced by Horizon/RethinkDB metadata within the original object so my view dies. I'm currently getting around this by copying the object with: `Object.assign({}, o)`

Example:

[code]

[2016-07-07 14:57] jeveloper commented on #606
moment can output UTC time and also timestamp very easily , that's probably the best way to store date time without enforcing any particular format

[2016-07-07 15:12] intellix commented on #606
Related to #635. I guess it doesn't have anything to do with moment.js. Problem is that it's mutating date objects into metadata

[2016-07-07 16:03] alf commented on #606
Closing in favour of #635 which cuts to the heart of the problem.

[2016-07-07 16:03] #606 closed, assigned to nobody

[2016-07-07 20:45] danielmewes commented on #630
We've had some discussion internally about which operators to include and which not. The trade-off is that between a larger Horizon client on the one hand, and more operators being available out of the box on the other hand.
We previously added back some additional operators, but not `reduce` I think (https://github.com/rethinkdb/horizon/issues/532) .

I think there's a way to "inject" additional

[2016-07-07 20:48] danielmewes commented on #630
https://github.com/rethinkdb/horizon/issues/634 also mentions some related points. It suggests including `rx-lite` operators by default as a partial solution. However `rx-lite` does not seem to include `reduce`.
The other points in the issue are about making it easier to add additional operators. That should be useful for this one.

[2016-07-07 21:11] alf commented on #630
With rx-lite I guess I can combine `scan` with `takeLast`.

I'll close this issue in favour of #634.

[2016-07-07 21:11] #630 closed, assigned to nobody

[2016-07-07 21:13] alf commented on #634
Could you describe how to add operators when using a build system? Would be nice with a workaround until this issue is fixed.

[2016-07-07 21:21] deontologician commented on #634
Right now, the easiest way if you have webpack or browserify is to import the `rxjs/add/*` modules, which will monkeypatch Observable. So, for example, to add `reduce`, you'd do:

[code]

Alternately, you can grab the bare operators and use them with `.call` or the [function-bind syntax](https://babeljs.io/blog/2015/05/14/function-bind) from babel. The main benefit of this is that it doesn't monke

[2016-07-07 21:28] alf commented on #634
I couldn't get monkeypatching to work. It didn't seem to affect the observables created by horizon. I'll give it another go.

[2016-07-07 21:31] deontologician commented on #634
It's possible we'll need to export our Observable class. Since we webpack stuff, we're probably using a different Observable than if you also require rxjs. We discuss fixing this by making rxjs a peer dependency in #306 . We also discuss different build options in #611 of which some would have more Observable methods for convenience, and others would be more trimmed down. I think the function-bind

[2016-07-07 21:37] deontologician commented on #634
I think we should do two things which would be quick and actually can be done for 2.0:
1. Make rxjs a peer dependency per #306 , so users must bring their own. This will fix the instanceof checks and monkeypatch issues we've seen since the user has full access to the Observable, we aren't compiling it into our library.
2. Export the Observable class in `utensils` to solve number 3 above (I'm assum

[2016-07-07 21:45] deontologician commented on #31
This is still in medium-term plans. We want to do this, but a lot of core things need to be implemented first

[2016-07-07 21:47] deontologician commented on #632
This looks pretty good. I think the name `findContaining` is confusing, but having the ability to look up by tags seems like a really common use case we completely ignored.

[2016-07-07 21:47] deontologician commented on #632
maybe `containing` or `findTag` ?

[2016-07-07 21:54] deontologician commented on #582
Closing since this doesn't seem to be a horizon issue

[2016-07-07 21:54] #582 closed, assigned to nobody

[2016-07-07 21:55] deontologician commented on #584
This is going to be fixed by #276

[2016-07-07 21:56] deontologician commented on #576
Also relevant, #552 has a proposal that we make `remove` and `removeAll` into terminals, and we could probably do the same for the other write ops as well, which would fit well with this kind of thing

[2016-07-07 21:57] deontologician commented on #571
This was fixed by   be83b22

[2016-07-07 21:57] #571 closed, assigned to nobody

[2016-07-07 22:03] deontologician commented on #628
Hi @sachinsawant71,

This is a bit annoying at the moment, we have an issue #548 for making this easier. The mandatory parameter is the path to the schema to use, but you may also want to specify where your rethinkdb instance is:

[code]

Going to close since this is just a question. Feel free to ask on our message board [discuss.horizon.io](https://discuss.horizon.io/c/get-help)

[2016-07-07 22:03] #628 closed, assigned to nobody

[2016-07-07 22:04] deontologician commented on #536
Should be fixed in #619

[2016-07-07 22:06] deontologician commented on #631
This is weird, I am hoping it'll be fixed by #619

[2016-07-07 22:09] deontologician commented on #635
Shoot! Deserialize should definitely not mutate, that was a bad call on my part (trying to be prematurely efficient :/)

[2016-07-07 22:24] deontologician commented on #627
ping @Tryneus

@alikhani do you have any logs for what the server was seeing to cause the socket error?

[2016-07-07 22:32] deontologician commented on #629
Hi @bopjesvla,

We discussed this previously in #84 and settled on toml because it's trivially parseable by languages other than javascript. This applies mostly to the table and index specifications, and is less important for the validators and template permissions (which you need javascript for anyway).

In issue #443 we discuss allowing validators to reference an external js file. Would that sol

[2016-07-07 22:35] deontologician commented on #625
Duplicate of #492

[2016-07-07 22:37] deontologician commented on #613
Since this isn't a breaking change, I think we can put it in post-2.0 for the sake of getting that release out faster

[2016-07-07 22:38] deontologician commented on #613
(This doesn't change the api, but of course it's breaking if people were adding huge documents)

[2016-07-07 23:24] coltonmorris commented on #627
I get a similar error when trying to embed horizon in express.
![screen shot 2016-07-07 at 5 24 02 pm](https://cloud.githubusercontent.com/assets/6676864/16673017/b2c38e12-4467-11e6-82a4-b5059e686f2f.png)

[2016-07-07 23:38] deontologician commented on #634
@alf I think I've discovered the main issue for you with Observable not being the same. We don't define it as a peer dependency, but we also have several builds that don't inline it (leaving it to a global called `Rx` or a commonjs module named `rxjs`). You can try out the version of horizon from `dist/horizon-core.js`, which does not have Observables inlined. You'll need a script tag that sets `w

[2016-07-08 00:02] danielmewes commented on #613
@sjmcdowall The nesting depth is more important than the size of the individual values. Very large values can still be an issue, because they cause high memory consumption.

I have a slight preference for enforcing this even before we apply the normal security rules, since to check the security rules we'll already be processing the data. Who knows if some call in a security rule or in a validation

[2016-07-08 00:14] #625 closed, assigned to nobody

[2016-07-08 00:19] coltonmorris commented on #627
I'm experiencing similar issues.

[2016-07-08 00:25] angelbeltran commented on #627
I'm getting a similar error.

`componentDidMount: function () {
  horizon('messages').order('datetime', 'descending').limit(8).watch().subscribe((messages) => this.setState({ messages: messages }))
}`

![screen shot 2016-07-07 at 6 21 09 pm](https://cloud.githubusercontent.com/assets/12766260/16673952/3500de40-4470-11e6-92dc-1bffa548d88f.png)

[2016-07-08 00:33] deontologician commented on #627
Ah, ok. This is from engine.io. This is fixed on next, see #525 .

We're hoping to release 2.0 soon with this fix, hang in there :)

[2016-07-08 00:33] #627 closed, assigned to nobody

[2016-07-08 00:33] #420 closed, assigned to nobody

[2016-07-08 00:35] deontologician commented on #559
ping @Tryneus

[2016-07-08 00:36] deontologician commented on #560
Closing since this doesn't seem to be a bug

[2016-07-08 00:36] #560 closed, assigned to nobody

[2016-07-08 00:36] deontologician commented on #561
Closing for now since there's not much to go on

[2016-07-08 00:36] #561 closed, assigned to nobody

[2016-07-08 00:37] marshall007 commented on #634
@deontologician this is mostly semantic, but I think for (2) we should just export the entire `Rx` namespace. That way you just have two options:

[code]

If you only export the `Observable` class I think you're likely to still run into issues with `instanceof` checks since people might still try to grab stuff off the "other" `Rx` instance too.

If you're using a build of Horizon that doesn't incl

[2016-07-08 00:42] deontologician commented on #634
I'm poking at this now. I am leaning towards not doing 2 from above. The idea would be to only use the `Rx` global object, which the user would provide, and we'd have no builds which compile in a version of RxJs.

The problem with exposing our `Rx` directly is that even that doesn't allow you to reach everything you can get to through require. For examples, `require('rxjs/observable/dom/webSocket'

[2016-07-08 00:43] joshwnj commented on #627
@alikhani @coltonmorris @angelbeltran hopefully this gets fixed in 2.0, but could you also please try with the following settings and let us know if you still see the error?

[code]

[2016-07-08 00:56] deontologician commented on #634
Ok, nevermind on that. I had a beta.7 version which didn't export dom, but beta 10 does. I think that is a good idea then, we'll re-export `Horizon.Rx`, and remove deep imports from 'rxjs', just using the kitchen sink version available through global Rx

[2016-07-08 00:56] marshall007 commented on #634
@deontologician right because when you `import 'rxjs/add/observable/dom/webSocket'` it now defines `Rx.Observable.webSocket`, correct?

[2016-07-08 00:57] angelbeltran commented on #627
The error persists for me, even with those options.

[2016-07-08 01:00] deontologician commented on #634
`import 'rxjs/add/observable/dom/webSocket'` will add it to `rxjs/Observable`, whether or not there is a global Rx. The entrypoint for the umd version of Rx automatically calls all of the `rxjs/add/*` imports, effectively making `Rx.Observable` a kitchen sink kind of thing (see https://github.com/ReactiveX/rxjs/blob/master/src/Rx.ts)

[2016-07-08 01:04] deontologician commented on #634
To clarify my current proposal:
- Make rxjs a peerDependency in package.json
- Change all deep imports of rxjs modules to just use the global Rx (equivalently, do `import 'rxjs/Rx'` and tell webpack to fetch that module from the global or from commonjs/amd as appropriate)
- Have the default build of horizon bundle the kitchen sink RxJS
- Have the horizon-core build get rxjs as an external

[2016-07-08 01:16] marshall007 commented on #634
@deontologician I think the deep imports are still a good idea. Static analysis tools like [`rollup`](https://github.com/rollup/rollup) allow you to only bundle what you use, but it still requires that you use explicit imports. If the user has `rxjs` as a dependency and uses a tool like rollup, they should still be able to import Horizon without suddenly including all of `rxjs` in their bundle.

[2016-07-08 01:33] marshall007 commented on #634
To clarify, I think our own `client/src/Rx.js` should look a lot like [`rxjs/src/Rx.ts`](https://github.com/ReactiveX/rxjs/blob/master/src/Rx.ts), exporting all the things we use. Internally, we would import from `./Rx` instead of `rxjs/Rx`. We would still have the default build of horizon bundle kitchen sink RxJS for convenience, but this way `horizon-core` users still benefit from static analysi

[2016-07-08 01:38] marshall007 commented on #629
See also #345 which is similar to #443.

[2016-07-08 01:54] marshall007 commented on #632
I don't think the object notation is useful in this case because AFAIK we can't support multiple fields in a single query. I'm thinking something like `.contains(<field>, <value>, [, <value>... ])`, which would check for the presence of _any_ of the specified `<value>`s.

[2016-07-08 03:33] mlucy commented on #632
I'm not super attached to passing an object, but I think the syntax being the same as for `findAll`, `above`, `below`, etc. is probably valuable.  We should probably also support `.contains({field: 'foo'}, {field: 'bar'})` if you want to get everything matching either tag.  (Also, if we wanted to it's totally possible to support `.contains({field: 'foo'}, {field2: 'bar'})` -- we just implement the

[2016-07-08 03:47] deontologician commented on #634
Ok, so long discussion with @marshall007 on slack, we sorted out the various use cases that are happening here:

| target | how to use | es6 polyfills | node polyfills | includes rxjs |
| --- | --- | --- | --- | --- |
| dist/horizon-core.js | script tag | no | no | no |
| dist/horizon.js | script tag | yes | no | yes |
| lib/* | webpack 1.0 | no | no | no |
| src/* | rollup/webpack 2.0 | no | no |

[2016-07-08 04:27] marshall007 commented on #632
@mlucy 👍 good call, I'm sold on the object notation then. It's a little clunky in the case where you already have an array of values (i.e. `.contains(field, values...)`), but I'm not sure if it's worth overloading or not.

[2016-07-08 07:10] alf commented on #634
@deontologician I guess relevant information is that I'm using horizon as a linked npm module (I need to build it from source until #507 has landed).

I'm importing Horizon like the following and run everything through webpack.

[code]

[2016-07-11 01:59] marshall007 commented on #634
@deontologician the more I think about this, the less having a kitchen-sink bundle of `rxjs` makes sense. I think you can really boil it down to two use-cases:
1. Application code only references Horizon public API, no Rx references.
2. Application code also references all or some subset of the Rx API directly.

To meet these use-cases I think we just need:
1. `dist/horizon.js` - I want core and a

[2016-07-11 21:23] deontologician commented on #306
Ok, I am confidently closing this one. My confusion was that the package.json's `peerDependency` had anything at all to do with how webpack decides whether to bundle a module or not. It doesn't, of course.

Making rxjs a peer dependency when it's actually a regular dependency is just a bad idea, since it means an extra manual step when installing on node etc.

[2016-07-11 21:23] #306 closed

[2016-07-11 22:06] deontologician commented on #634
So far we've seen a fair amount of confusion resulting from operators missing. I'd rather not have to second guess which operators we think will be most useful in order to only get a slight benefit in file size. We can include a subset of operators that cover 95% of use cases, but any individual user is likely to need at least one operator outside that set.

As it is, if you just need one extra op

[2016-07-11 22:32] marshall007 commented on #634
@deontologician what I'm saying is that `<script>` tag users don't really benefit from having RxJS bundled with Horizon. If their application depends on Rx, they should already have another script tag in place referencing `rx.js`.

In my view, the kitchen sink Rx build doesn't fulfill any use cases. If you don't think the "core and a minimal subset of Rx bundled for it to 'just work'" is a valid u

[2016-07-11 23:28] mlucy commented on #634
I think we shouldn't continue providing a version which has an essentially random subset of the operators defined.  (Or, at least, I found that decision annoying when using it.)  We should either provide no operators and force people to include Rx before Horizon, or we should provide basically everything.

Assuming there's a way to get at the Observable class inside Horizon, I think bundling it wi

[2016-07-12 01:44] mbroadst commented on #24
I for one would really appreciate the ability to use pieces of horizon in my existing product. It's unlikely that I would switch my entire product to use horizon as a backend at this point, however there are pieces of my stack that share functionality with horizon and I would love to sync up efforts if possible.

As an example, I've rolled my own sort of reql-over-websockets internally and frankly

[2016-07-12 03:34] deontologician commented on #24
I think the roadmap for this particular issue is to get the plugin system (#588) in place which will require some refactoring of the server code. At that point we'll be in a better position to design a middleware api

[2016-07-12 08:07] littleStudent commented on #59
Is there currently any way to connect to horizon from ios / android? other than going through all the handshaking stuff myself. ?

[2016-07-12 09:58] daniel1943 commented on #216
Any progress on this?

[2016-07-12 17:09] intellix commented on #634
just to add a use-case to this:
I've got a navigation of about 20 items, which contain sub-items like:

[code]

I've got an admin interface to change the order of the sports items, to do this I'm altering the array order, adding an `order` property and then doing `this.service.sports.replace(items)`, which is running on about 20 sports items.

Because we can't do joins, inside the sports-navigatio

[2016-07-12 19:27] dalanmiller commented on #216
Hey @daniel1943, Plugins is scheduled for ~~either 2.0 or~~ 2.1 and the expanded OAuth functionality will come in shortly thereafter. We'll keep you posted 👍 and if you'd like to hear right away, definitely follow the Announcements category over at https://discuss.horizon.io.

[2016-07-12 22:51] marshall007 commented on #634
@intellix check out #105 for discussion on aggregating multiple queries like that. In the mean time, something like this should work:

[code]

[2016-07-13 03:34] danvass commented on #477
@deontologician Are there any updates yet on supporting React Native? Would like to use Horizon in conjunction with React Native but can't seem to resolve this issue.

I tried the latest client from the repo and it resolve the import error but now I am getting this issue:
`undefined is not an object (Evaluating ‘window.location.search’) at auth.js:154`. Ended up resolving this as well by adding a

[2016-07-13 03:42] danvass commented on #5
@danielmewes Is there any way to currently work with location and filtering based on distance from a specific location?

[2016-07-14 00:49] deontologician commented on #477
I've removed fetch in PR #619 , so it's possible that will fix at least part of the problem (one less polyfill). window.location.search is not part of this issue

[2016-07-14 00:50] deontologician commented on #200
I'm not sure this issue makes sense without a concrete proposal. I'm going to close it for now

[2016-07-14 00:50] #200 closed

[2016-07-14 00:52] deontologician commented on #631
@alf, can you see if this works for you on the #619 branch?

[2016-07-14 00:57] deontologician commented on #595
Ok! After reminding myself how the websocketsubject works, I realize this needs more of a fix than just #619. We need to actually create a new socket and connect it. Right now this is just subscribing to a dead observable.

That being said, `horizon.connect()` is being a bit misleading here. It wasn't intended to allow reconnection, just to force the socket to connect without having to actually em

[2016-07-14 01:00] deontologician commented on #527
Implemented in #619

[2016-07-14 01:22] danielmewes commented on #5
@DVassilev None that's exposed through Horizon. On bare RethinkDB, you can use `r.table(...).getIntersecting(r.circle(location, distance), {index: "geo_index..."})` to do this.

[2016-07-14 01:45] deontologician commented on #575
Also likely fixed in #619

[2016-07-14 01:58] deontologician opened #637 "Support Rollup's `jsnext:main` in package.json"
It would be nice if we supported rollup. Theoretically, it should be as simple as adding:

[code]

to package.json, but we'd need to try it out with rollup itself

[2016-07-14 02:11] #629 closed, assigned to nobody

[2016-07-14 02:12] deontologician commented on #629
Closing since this was discussed elsewhere, but let us know if you think there's more to consider here

[2016-07-14 02:16] deontologician commented on #608
Since this is a question, I've ported it to the discussion board here: https://discuss.horizon.io/t/getting-errors-from-schema-validators/355 . If a bug is discovered in answering it, we can open another issue for it.

[2016-07-14 02:16] #608 closed, assigned to nobody

[2016-07-14 02:28] Tryneus commented on #559
@download13 - while we could make this change, I'm not convinced it would help in your situation.  If you do not already have your HTTPS proxy running, I imagine you would run into #508 instead.  If you do have your HTTPS proxy running, it should work in either case, as the client is interacting over HTTPS (but if I'm not mistaken it would be vulnerable if we made this change as the cookie could t

[2016-07-14 08:03] alf commented on #631
Tried out the #619 branch and it seems to break everything for me. That is I'm no longer able to fetch data and I'm no longer able to store data.

Just to be sure I tested the correct commit: 16b1c31c6464fe2b85ff42f66a4c9778df17853c

I installed it by running the `test/setupDev.sh` script then running `npm link @horizon/client` and server in my repo before packing and testing my code. Maybe I've m

[2016-07-14 17:32] download13 commented on #559
It seems to me that there is an advantage to making developing with your framework as user-friendly as possible. If someone comes along who can't figure out how to set up nginx on their Windows development machine, that's one more person who just drops Horizon and goes to find another framework.

I'm all for forcing as much security as you can into production mode, but getting devs up and running

[2016-07-14 19:14] deontologician commented on #559
I think the major thing is OAuth providers won't redirect to http, so we can allow it on our end, but it's going to cause a bug. Would it help if we print out an error if you try to use OAuth with --secure=false ?

[2016-07-14 19:24] dalanmiller opened #639 "Embedding Horizon server should immediately fail when trying to make the first connection to RethinkDB"
At the moment, embedding Horizon server will infinitely try to connect to RethinkDB and log no errors when it is unable to connect nor eventually fail after N reconnect attempts.

We need to add two things:
1. In the `Server` class constructor it should immediately throw an error if the first connection attempt fails.
2. We should log failures to connect.

Thank you to @casche for reporting this.

[2016-07-14 19:29] casche commented on #639
thanks 👍 @dalanmiller for helping out!

[2016-07-14 19:41] marshall007 commented on #559
I don't think that's necessarily true. I'm fairly certain at least Twitter and GitHub allow you to specify `localhost` as your `redirect_uri` (without TLS). Providing no workaround for this and #508 during local development seems kinda bad. Consider also that the developer might be mocking out the calls to the OAuth provider for testing purposes.

[2016-07-14 19:51] deontologician commented on #631
Ok, you're correct. It is inexplicably not working on that branch. I had it working locally and with CircleCi, so let me figure out what went wrong. Sorry about that

[2016-07-14 20:08] deontologician commented on #559
Ok, reopening

[2016-07-14 20:38] daniel1943 commented on #477
Also having this issue(not using react native) but [this boilerplate.](https://github.com/ctrlplusb/react-universally)

`{ Error: Cannot find module 'imports?this=>global!exports?global.fetch!isomorphic-fetch'
    at Function.Module._resolveFilename (module.js:440:15)
    at Function.Module._load (module.js:388:25)
    at Module.require (module.js:468:17)
    at require (internal/module.js:20:19)

[2016-07-14 23:11] Tryneus commented on #559
@download13 - in your original post, you indicated you would be running the Horizon server over HTTP behind an HTTPS nginx proxy.  If we disable `secure: true` for the nonce cookie when Horizon is serving HTTP, then this would still be vulnerable in your proposed production setup.  In order to make this safe by default, we would need a separate option that would disable `secure: true` on the nonce

[2016-07-14 23:27] Tryneus commented on #639
So, I'm not entirely convinced this is possible or a good idea.  First of all, the `Server` constructor cannot throw when the first connection attempt fails because that happens asynchronously.  I think the best way to handle this is to get the Promise from `server.ready()`, and timer-supervise it.  We _could_ make this promise error if there is a connectivity issue on the first attempt (but not a

[2016-07-14 23:29] deontologician commented on #631
Alright @alf it turns out the bug was upstream. I needed to use a fixed version of WebSocketSubject, which I opened a PR for here: https://github.com/ReactiveX/rxjs/pull/1831

If you're feeling adventurous you might try building with that, otherwise we can wait and see if/when they merge it upstream

[2016-07-14 23:36] deontologician commented on #639
I remember changing the logs to debug since they would not stop spamming while they were waiting for tables to be ready. Ideally, a connectivity error and a table-not-ready error should be disambiguated, with the former failing immediately and logging an error, and the latter maybe not logging anything until it times out

[2016-07-15 00:21] mlucy opened #640 "Horizon ignores the `host` it was passed when fetching `auth_methods`"
If I write `hz = Horizon({host: SOME_HOST})`, it still tries to read `localhost:8080/horizon/auth_methods` instead of `host/horizon/auth_methods`.

[2016-07-15 00:21] mlucy commented on #640
(This was in 1.1.3.)

[2016-07-15 00:31] mlucy opened #641 "Horizon (at least as of 1.1.3) doesn't give you any way to add middleware"
I need to turn on CORS for access to `horizon/auth_methods`, and as far as I can tell there's literally no way to do it without hacking it in.

It would be nice of Horizon integrated better with Express so that the Express middleware could run before and after it.  (I'm not sure if that's already the plan or not.)

[2016-07-15 01:20] deontologician commented on #641
This is probably subsumed by #24, there's a vague plan to add a middleware api for the server so you can bring your own webstack. In your case it seems like you'd want to use horizon with express and separately use express's middleware

[2016-07-15 01:21] deontologician commented on #641
To clarify, the problem right now is that horizon server is taking over certain http endpoints. As part of implementing plugins, I think we're going to move to using express for the cli and having horizon server expose its own request handler, so you'd have complete control over that

[2016-07-15 01:23] deontologician commented on #640
This is a dupe of #422 which is slated for 2.0 (I'm probably working on this next since #634 is about done) Also @mlucy would you like to review #634?

[2016-07-15 01:23] #640 closed, assigned to nobody

[2016-07-15 01:27] deontologician commented on #24
This might actually be co-requisite with plugins, since we'll likely want to pull out stuff that Express is doing as part of plugins. One of those things horizon-server is doing now is serving `/auth_methods/`, (see #641 )

[2016-07-15 01:27] #641 closed, assigned to nobody

[2016-07-15 01:31] download13 commented on #559
I think you are right about splitting up `secure`.

As I understand it `secure` just tells the client which protocol to use. The client's choice may be completely independent of the server's in the case of a proxy or other intermediary program. For the same reason, the server's protocol choice can be independent of the protocol in the redirect URI.

Here's what I'm thinking:
- An option for what p

[2016-07-15 01:35] marshall007 commented on #559
This is also one of those things that will more broadly be fixed by #24.

[2016-07-15 13:10] jeffijoe commented on #337
I think this makes sense in core.

[2016-07-15 20:05] deontologician commented on #634
Fixed in ~~#640~~ #638

[2016-07-15 20:05] #634 closed, assigned to deontologician

[2016-07-15 20:08] alf commented on #634
Fixed in #638 I suspect.

[2016-07-15 20:13] deontologician commented on #422
Ok, fix for this finally up in #642

[2016-07-15 20:33] deontologician commented on #634
You're right, I'm a chronic issue mis-numberer

[2016-07-15 21:06] deontologician commented on #595
OK, for now I think I'm going to throw an exception if `.connect` is called after the socket closes

[2016-07-15 21:17] deontologician commented on #477
Ok, fetch has been completely removed, along with the webpack directive to make it a global.

[2016-07-15 21:17] #477 closed, assigned to nobody

[2016-07-15 21:18] deontologician commented on #475
#513 should have fixed this

[2016-07-15 21:18] #475 closed, assigned to nobody

[2016-07-15 21:19] deontologician commented on #380
@Tryneus this is done right?

[2016-07-15 21:19] #380 closed

[2016-07-15 21:21] deontologician commented on #230
@dalanmiller @Tryneus is the `auth_redirect` property the fix for this?

[2016-07-15 21:30] deontologician commented on #288
Fixed by #507

[2016-07-15 21:30] #288 closed

[2016-07-15 22:05] mglukhovsky opened #643 "Should --dev override the `secure` option in a config file?"
If the `secure: true` option is configured in a config file,  to enable HTTPS, should `--dev` override this option?

For ease of development it's convenient to use:

[code]

But if you want to develop use HTTPS (for example, when working with OAuth),  you have to always use:

[code]

...which is annoying, because the config file already has `secure: true` and all the certificate details. Since `--

[2016-07-15 22:11] deontologician commented on #643
We had discussed previously making the config file override flags set by `--dev`, but not flags set explicitly. There was some consensus that that might be confusing behavior, but it makes sense in cases like this one.

[2016-07-16 02:23] mglukhovsky opened #645 "`Horizon.authEndpoint('provider')` should include the host name"
I was working with a local Horizon instance, and a remote Horizon instance. I was connected to the remote instance as follows:

[code]

As the documentation suggest, I called the following to redirect my browser to the OAuth endpoint (from the Horizon server):

[code]

I received an endpoint, in this case `/horizon/github`. However, since I was serving my project from the _local_ Horizon instance,

[2016-07-16 02:26] mglukhovsky commented on #645
The docs would have to be updated to suggest using `location.assign` (which replaces the entire location string) rather than simply `location.pathname` (which will just update the pathname, not the host).

[2016-07-16 11:52] casoetan commented on #154
This looks fantastic.

Any updates on this?

[2016-07-16 22:53] mlucy opened #646 "Move the logic where we fetch the user from GitHub into hzc-web-sync instead of hzc-web-backend"
It belongs there because we don't want it to happen twice for the same user if we have multiple web-backends deployed.

[2016-07-16 23:11] deontologician commented on #646
wrong repo?

On Sat, Jul 16, 2016, 15:53 Michael Lucy notifications@github.com wrote:

[2016-07-17 00:38] #646 closed, assigned to nobody

[2016-07-17 00:38] mlucy commented on #646
<.<

[2016-07-17 11:15] michaelwills commented on #337
I agree that this should be in core and (potentially?) automatically reloaded on change with a flag or with `--dev`. Nice to have, definitely not need to have. :)

I am new to Horizon and after the _initial_ wow factor wore off, the _real_ wow factor kicked in. That's when you start asking "Oh and can I…?" questions and I hit limitations. I am about to combine horizon and rethinkdb so that I can k

[2016-07-17 11:32] michaelwills commented on #337
I don't yet know enough of horizon/rethinkdb internals but is there a way to start experimenting with these concepts the way @stellanhaglund mentioned?

[edit]

@stellanhaglund @Tryneus Just confirming if this is what's needed:

[code]

meaning we _do_ have a way to do this sort of thing now without modifying the core.

[2016-07-17 18:19] dim882 commented on #154
Is it possible to use the regular rethinkdb web ui in the meantime while this is in progress?

[2016-07-17 18:29] deontologician commented on #154
yes, when you do 'hz serve' it will show you the port number for your
rethinkdb admin ui

On Sun, Jul 17, 2016, 11:19 Dan Imal notifications@github.com wrote:

[2016-07-17 18:30] deontologician commented on #337
Definitely, check out horizon.io/docs/embed

On Sun, Jul 17, 2016, 04:32 Michael Wills notifications@github.com wrote:

[2016-07-17 18:30] segphault commented on #154
@casoetan: This is still a work in progress. I got past the major architectural hurdles that I described earlier in the thread. My current implementation now actively tracks each horizon instance and can automatically cull records from instances that are no longer sending a heartbeat to the database. I'm currently working on adding support for managing permissions and groups. I don't have any real

[2016-07-17 21:09] StefanSchwartze commented on #420
What is the current status? I still can't use horizon client because of this bug..

[2016-07-17 21:45] deontologician commented on #420
Try the version on the next branch in github. We've removed the fetch
dependency

On Sun, Jul 17, 2016, 14:09 StefanSchwartze notifications@github.com
wrote:

[2016-07-18 00:05] StefanSchwartze commented on #420
How can I install that version? npm install @horizon/client@2.0.0 and git+ssh://git@github.com:rethinkdb/horizon.git#2.0.0 didn't work for me..

[2016-07-18 00:07] deontologician commented on #420
we havent tagged 2.0 yet, you'll probably need to check it out and build it
yourself

On Sun, Jul 17, 2016, 17:05 StefanSchwartze notifications@github.com
wrote:

[2016-07-18 13:58] StefanSchwartze opened #648 "horizon client cannot create new Collection"
I'm trying to get horizon working embedded in my koa.js application. I have integrated it like this:

[code]

It is required from my applications folder because I use the current 2.0.0 version from the next branch. In my client I connected horizon like this:

[code]

In my React application on the top I'm importing Horizon from my library folder and then in the componentDidMount I'm looking if hor

[2016-07-18 14:17] daniel1943 opened #649 "Client doesn't refresh updated row properly ?"
Using latest server/client w/ react.

1: I create new row via Horizon client @ store.

2: Update it via rethinkdb admin or python console, like:

`r.db("database").table("keywords_39c8a6fb745d").get(id).update({"randomField":55})`

3: Keep react app updated:

`horizon('keywords').watch().subscribe((kw) =>
    console.log('kw', kw));`

Line above returns 2 objects, old one(unupdated) and new one(it

[2016-07-18 14:25] StefanSchwartze commented on #648
Okay, finally got it to work after a lot of research. This [http://tutorials.pluralsight.com/interesting-apis/building-a-real-time-application-with-react-react-router-horizon-io-and-oauth](http://tutorials.pluralsight.com/interesting-apis/building-a-real-time-application-with-react-react-router-horizon-io-and-oauth) helped me at the end, because it is the only page where really it is described how

[2016-07-18 15:44] casche commented on #639
How does Horizon behave if the DB connection is ever severed?

I am now using docker-compose to start up my horizon app and RethinkDB.

[code]

Docker compose cannot guarantee the [starting order of these services](https://docs.docker.com/compose/startup-order/) (without a kludge). So far the application starts first and the database second.

[code]

The application does not correctly start due to

[2016-07-18 17:41] casche commented on #639
@dalanmiller pointed out a couple mistakes with my docker compose. He suggested I switch to the v2 syntax and use "depends_on":

[code]

The output in console is similar:

[code]

Could we update #644 to give positive feedback when a connection is secured in an architecture like this?

[2016-07-18 19:15] deontologician commented on #639
@casche Would you mind making a suggestion for exactly what you'd like to see in the comments of #644?

[2016-07-18 19:16] deontologician commented on #648
Glad you got it working @StefanSchwartze . We're planning on changing how embedding works very soon, so we're holding off expanding the docs for the moment. Sorry you ran into troubles, hopefully after the refactor it'll be significantly easier to do

[2016-07-18 19:16] #648 closed, assigned to nobody

[2016-07-18 19:17] deontologician commented on #649
@daniel1943 the id field is literally `-1`? That sounds really odd. @Tryneus any idea on this?

[2016-07-18 19:37] daniel1943 commented on #649
My mistake, didn't mean the actual ID field inside created object... Console screen:

http://i.imgur.com/KK1KJD5.png

It shows new objects, but gives it -1 and keeps old one, until refreshed.

[2016-07-18 19:50] casche commented on #639
Done! Thanks @deontologician 👍

[2016-07-18 22:11] daniel1943 commented on #649
Update: problem is ID being an array - investigating further...

[2016-07-18 22:28] #595 closed, assigned to deontologician

[2016-07-18 22:28] #527 closed, assigned to nobody

[2016-07-19 04:54] FrancisMurillo commented on #477
I am hooking up my react-native app with the horizon server and I am still having the same issues as @DVassilev. Tried using `import "@horizon/client"` and `import "@horizon/client/dist/horizon"` and with the same issues as with the isomorphic fetch and window.location.search.

Using version 1.1.3

[2016-07-19 09:06] jimthedev commented on #477
@FrancisMurillo if I understand correctly, this hasn't been released yet to npm. It is in master and will be released with the 2.0 release.

[2016-07-19 15:18] daniel1943 commented on #649
So I tried new fresh project and horizon client still fails to properly update if array is being used as ID... Pretty sure now that it's a bug in horizon@client, can anyone reproduce problem?

[2016-07-19 19:13] deontologician commented on #649
@daniel1943 could you capture the traffic on the websocket (in chrome in the network tab, there's a WS filter)

[2016-07-19 21:24] deontologician opened #651 "Error on query with end_subscription"
Sending the request:

[code]

Doesn't cause an issue with the client

[2016-07-19 21:36] deontologician commented on #651
This is just a side effect of the way queries are cancelled in horizon, it's never reported to the user, but it'd be nice to avoid throwing the error and sending a message over the network

[2016-07-19 21:50] deontologician commented on #600
I think our current build system solves the problem this issue was opened to fix. We offer `horizon.js` which is the all-in-one package with Rx and polyfills, and `horizon-core.js` is the version where you bring your own polyfills and Rx.

In addition, we got rid of fetch, which was one of the major polyfills we relied on

Closing for now

[2016-07-19 21:50] #600 closed, assigned to nobody

[2016-07-19 21:50] deontologician commented on #611
Superceded by #634, closing

[2016-07-19 21:50] #611 closed, assigned to nobody

[2016-07-19 21:52] deontologician commented on #581
After sorting out the webpack stuff, it turns out lib/index.js is the entrypoint we want. The major issue was that we had a fetch directive in a require statement which is bad.

[2016-07-19 21:52] #581 closed, assigned to nobody

[2016-07-19 21:54] deontologician commented on #538
So, I'm going to close this for now. We periodically update our dependencies, but this is pretty much out of our control

[2016-07-19 21:54] #538 closed, assigned to nobody

[2016-07-19 21:55] deontologician commented on #513
Fixed by #636

[2016-07-19 21:55] #513 closed, assigned to nobody

[2016-07-19 21:57] deontologician commented on #509
Superceded by #638

[2016-07-19 21:57] #509 closed, assigned to nobody

[2016-07-19 22:04] deontologician commented on #63
I think this is superceded by #120

[2016-07-19 22:04] #63 closed

[2016-07-19 22:21] daniel1943 commented on #649
From the EIO... when data changes(vtp is filed added during update):

[code]

Actual websocket frames:

http://i.imgur.com/7LjXv0o.png

And headers if it helps:

[code]

[2016-07-19 22:56] deontologician commented on #649
Ah, could you try out the current `next` branch? A lot of stuff has happened since then and it may have been fixed (we got rid of engine.io which was causing a lot of problems). There was also a fix with how we detect ids that are arrays if I recall correctly

[2016-07-19 23:50] #536 closed, assigned to nobody

[2016-07-19 23:51] #575 closed, assigned to deontologician

[2016-07-19 23:51] #422 closed, assigned to deontologician

[2016-07-19 23:52] deontologician commented on #276
Fixed by #619

[2016-07-19 23:52] #276 closed

[2016-07-19 23:55] deontologician commented on #631
Ok, this fix has been merged into next. The rxjs guys haven't had a chance to look at my patch, so I just hacked it into our implementation for the time being. @alf Any chance you could check this out again? (thanks for your patience)

[2016-07-20 00:05] deontologician commented on #631
This seems fixed

[2016-07-20 00:05] #631 closed, assigned to nobody

[2016-07-20 00:05] deontologician commented on #567
This is more general, no read query is emitted until `.subscribe` is called on the socket (which is what `.connect()` does). So this needs to be fixed still

[2016-07-20 00:58] daniel1943 commented on #649
Unfortunately same issue with `next` branch.

[2016-07-20 01:04] deontologician commented on #622
Fix up for this in #652

[2016-07-20 01:30] marshall007 commented on #649
@deontologician I think [this line](https://github.com/rethinkdb/horizon/blob/3a4ad8f4e02985c8a46d5d62c523861c078070b5/client/src/ast.js#L188) (and the `uninitial` case) just need a deep equality check on `id`.

[2016-07-20 02:06] deontologician commented on #567
Fix is up in #653

[2016-07-20 02:06] deontologician commented on #649
@marshall007 thanks. I'll fix this tomorrow, looks like 2.0 is coming out sometimes early next week, so it won't be long for @daniel1943

[2016-07-20 05:37] alf commented on #631
I'll look at it when I'm back from vacation. I'm sure it's fine however. :)

[2016-07-20 13:43] arthurvi commented on #566
Any progress on this? I get the same error on IE 11.

[code]

Edit: I have found a workaround:

Install core-js for a polyfill

[code]

In your entry js file on top, add the following line:

[code]

But I think we shouldn't need a polyfill to support Internet Explorer 11. We should add the polyfill in the horizon client.

[2016-07-20 18:55] casche opened #655 "Embedded Horizon server should read HZ_ Env variables"
Server version: 1.1.3
Client version: 1.1.3

Hi everyone 😄

While playing with docker compose, I noticed that when I start an express app with an embedded Horizon server it does not read HZ_<> environment variables. Instead I can specify them in the constructor:

[code]

Perhaps this is on purpose, that's ok but it did take me a while to realize it 😳 !

I would however argue that it would make mor

[2016-07-20 19:28] deontologician commented on #655
This is intentional at the moment, all of the config processing is done by the cli app (`hz serve`) not by the server process itself. Ultimately, we want the server to have as few side-effects as possible, so it will interact more predictably with your app.

That being said, we've talked about exposing the logic we use to parse config/env/command line flags, since it would definitely ease the tran

[2016-07-20 19:58] #567 closed, assigned to deontologician

[2016-07-20 19:58] #622 closed, assigned to nobody

[2016-07-20 20:31] deontologician commented on #649
Fix up in #656

[2016-07-20 20:33] deontologician commented on #616
@dalanmiller is this a pre-2.0 todo item or is it an issue that can be closed before the release?

[2016-07-20 20:39] #649 closed, assigned to deontologician

[2016-07-20 21:18] dalanmiller commented on #616
We should do this the moment 2.x.x is available on `npm`, whatever makes sense.

[2016-07-20 22:31] deontologician commented on #616
:+1:

[2016-07-20 22:31] danielmewes commented on #566
The client tests are working in Microsoft Edge btw.

[2016-07-20 23:01] deontologician commented on #655
ping @Tryneus for thoughts

[2016-07-20 23:07] deontologician commented on #584
Fixed in #619

[2016-07-20 23:07] #584 closed, assigned to nobody

[2016-07-20 23:17] deontologician commented on #118
Anyone interested in this still? 2.0 is a good place to change it or to close this issue

[2016-07-20 23:49] danielmewes commented on #118
I still don't like that the current names are not precisely reflecting what they do. I think commands should do what their name suggests, and not subtly differ in edge cases that are easy to forget about until something breaks.

I think we should make both of them exclusive, and add an optarg for putting them into inclusive mode.

Alternatively I'd be ok with having additional commands as you sugg

[2016-07-20 23:59] dalanmiller commented on #454
I'd like to propose getting this in for Horizon 2.0, not everyone uses `git` but is there a compelling reason as to why having a loose `.gitignore` in the directory would hurt? I just refound this issue as I noticed `rethinkdb_data` was being picked up in my horizon test app's directory

[2016-07-21 00:13] deontologician commented on #454
sounds good to me

On Wed, Jul 20, 2016, 16:59 Daniel Alan Miller notifications@github.com
wrote:

[2016-07-21 00:22] mlucy commented on #118
I don't think we should make them both be exclusive.  99% of the time when I'm operating on a range I want inclusive lower bound and exclusive upper bound, and that's what literally every other language's range operations do by default (including ReQL's).  Changing the behavior to an unusual and inconvenient default because it better matches the name we picked seems like a bad option to me.

I wou

[2016-07-21 01:18] deontologician opened #660 "Make aggregates support Promises"
This is a limitation in the current version

[2016-07-21 05:30] deontologician commented on #105
Implemented in #329

[2016-07-21 05:30] #105 closed

[2016-07-21 06:24] noahtallen opened #662 "Extended documentation for the React examples."
I've noticed there's next to no documentation for getting Horizon set up with React, except for the example apps. It'd be great for beginners if there was a more detailed guide on why / how these examples actually work - as opposed to just putting them there. It's difficult to learn a new technology when the examples/documentation aren't applied in a way that discusses why / how to use Horizon's f

[2016-07-21 18:08] michaelwills opened #663 "authType: token fails with Error: Attempting to authenticate with a token, but no token is present(…)"
Server version: 2.0.0 fa365093912cfb4047b393f6ad8065f59798c470
Client version: 2.0.0 fa365093912cfb4047b393f6ad8065f59798c470

This issue surfaced a few days ago but I haven't been able to find what/when changed.

Previously I could do the following:

[code]

Now doing so results in:

[code]

so the app is not able to open up Twitter for authorization to get a new token. This still works with Hori

[2016-07-21 18:22] deontologician commented on #663
Thanks, looking into this now

[2016-07-21 18:30] GeoffreyPlitt opened #664 "Connecting to a database with password"
I'm using ReThinkDB provided by Compose.io.

The connection string they provide has a username/password, i.e.:
rethinkdb://admin:password@host:port

I haven't found a way to properly get this to work with Horizon-- please advise?

[2016-07-21 18:31] GeoffreyPlitt commented on #664
Nevermind, duplicate of #507

[2016-07-21 18:31] #664 closed, assigned to nobody

[2016-07-21 19:16] GeoffreyPlitt opened #665 "Can't install non-global?"
I'd like to run the server on Heroku, with the latest code in branch "next" for user/pass connection strings. So I need to install non-globally, and I'm getting some weird errors.

$ npm install github:rethinkdb/horizon#next
npm ERR! addLocal Could not install /var/folders/c2/33k9s6bs35d4p8gldgnl0gxc0000gn/T/npm-43780-79905adc/git-cache-c94d89a5/fa365093912cfb4047b393f6ad8065f59798c470
npm ERR! ad

[2016-07-21 19:38] deontologician commented on #665
This is a problem installing from github, since we don't have a package.json at the root of our project. We have a monorepo, and installing from github directly from a subdirectory isn't [supported by npm](https://github.com/npm/npm/issues/2974#issuecomment-169451651). You'll want to pull down the github repo and build it yourself, possibly using the `test/setupDev.sh` script

[2016-07-21 19:39] #665 closed, assigned to nobody

[2016-07-21 19:54] GeoffreyPlitt commented on #665
Thanks.

Note: I got past this using https://github.com/shama/napa and the following "scripts" entry:

`"postinstall": "napa rethinkdb/horizon#next"`

[2016-07-21 20:31] deontologician commented on #664
Yeah, we really really want to do this. It's coming after #588 is implemented!

[2016-07-21 20:37] danielmewes commented on #664
@deontologician Did you comment on the right issue? This will already work with Horizon 2.0 right?

[2016-07-21 21:00] deontologician commented on #660
Fixed in #661

[2016-07-21 21:00] #660 closed, assigned to nobody

[2016-07-21 21:09] deontologician commented on #664
Oh, I'm sorry, I was thinking of password auth. Totally glossed over the text of this issue :disappointed:

[2016-07-21 21:46] jacekjagiello opened #666 "Multitenancy support on one horizon instance"
I'am bulding multitenancy app, and I want to choose database(in wich all collections will be stored) based on for example, database name decoded from JWT token payload.
According to #43 that's impossible for now. Each horizon instance has only one database, and `project_name === db_name` + internal database.

What do you think about sepearting project name from database name, some way to create da

[2016-07-21 22:05] danielmewes commented on #662
Good point, I opened https://github.com/rethinkdb/horizon-docs/issues/101 in the separate horizon-docs repository.

I'm going to close this for now, as we will track and discuss things in the other issue.

[2016-07-21 22:05] #662 closed, assigned to nobody

[2016-07-21 22:10] deontologician commented on #666
So what kind of isolation are you looking for with a multi-tenancy app? Usually it's not necessary to split everything up by table, but just have some filter on queries by which user/org they are a part of

[2016-07-21 22:48] deontologician commented on #663
Ok, I have a fix up in #667

@michaelwills any chance you could check if this works for you? (there may be further bugs lurking)

[2016-07-21 22:48] sdwlig commented on #125
The Falcor model ( https://netflix.github.io/falcor/ ), the main competitor to GraphQL, is very nice also.  The your data is your API model is appealing on a number of levels.  In several ways, it is easier and cleaner.

[2016-07-21 22:59] sjmcdowall commented on #125
Has anyone looked at Apollo from the Meteor guys?  That's fairly compelling too (at least it looks like it will be!) :) [Apollo Stack](http://www.apollostack.com)

[2016-07-21 23:14] deontologician opened #668 "Change array syntax in aggregates to not union results"
Right now:

[code]

is equivalent to

[code]

Which is a little quirky (see @mlucy's [comments](https://github.com/rethinkdb/horizon-docs/issues/99#issuecomment-234402957)

We should make it so it behaves more straightforwardly.

[2016-07-22 01:18] michaelwills commented on #663
@deontologician Will do and let you know. Thanks much!

[2016-07-22 02:22] stubailo commented on #125
I think Apollo Client will be a great way to get GraphQL data into your UI when the Horizon server/RethinkDB start supporting it! It will be great if all of these client/server implementations can work together, so you don't have to be bound to just one full-stack solution, but can pick from several compatible options.

[2016-07-22 08:22] daniel1943 commented on #308
Is this still in plans? Any idea when rdb2.4 and related horizon goodies will be released :)?

Any good temporary solutions? Best I could come up with:

Watch data from 2 collections and let middleware re-combine data from both whenever 1 updates.

[2016-07-22 09:30] michaelwills commented on #663
Unfortunately @deontologician I still get the same error. I'll have to see if I can get into the source to see the cause some time.

[2016-07-22 11:21] intellix opened #670 "Entities with NULL ids"
So I've got a TS class like:

[code]

When I want to store it in Horizon, I do something like:

[code]

but nothing happens, not even an error (I'm sure I had one before though). I either have to give it an ID of undefined or do `delete t.id;` before trying to store it.

Not 100%, but maybe it should be allowed to pass in a NULL id field and treat it as being undefined/missing?

[2016-07-22 17:14] mbalex99 commented on #59
This would certainly make offline first a priority on mobile.

[2016-07-22 19:23] danielmewes commented on #308
Unfortunately changefeeds on joins have been pushed into RethinkDB 2.5. We decided to implement changefeeds on reductions in RethinkDB 2.4 first instead. RethinkDB 2.5 is probably about 5-6 months away.

[2016-07-22 21:39] deontologician commented on #663
@michaelwills Sorry about that. I'm going to try fully replicating today. I had partially replicated it yesterday when I ran into a bug that seemed to cause the same error message.

[2016-07-23 08:47] Grmiade commented on #561
I have the same error: `Unconfigured auth type: facebook`

My `config.tom` file:

[code]

and my code:

[code]

[code]

My @horizon/client version is 1.1.3
I checked `http://localhost:8181/horizon/auth_methods`, it's correct.

[2016-07-23 09:08] Grmiade commented on #561
I found the problem.
Horizon calls `http://localhost:3000/horizon/auth_methods` instead of `http://localhost:8181/horizon/auth_methods`. (Yes, I don't serve my project with `hz serve`)
The `host` option should be used to determine the url, no?

[2016-07-23 15:58] gilbert commented on #508
If you want to force `https` during production, great. But forcing it during development is an unnecessary burden. No other library I've encountered has forced me to use `https` for localhost.

Although you say it's "not too difficult", it is still an unnecessary, de-motivational blocker, especially when you're just trying to see if horizon works _at all_ on your own computer.

[2016-07-24 16:14] anubhavsagar commented on #120
+1
I think the feature in discussion here would be a really powerful add to horizon. I have a use case where I want to use horizon along with my existing stack (a bunch of JAVA based web apps).
This means that while my rethinkdb tables are updated from elsewhere, I want to keep my web app clients in sync.
Without this feature in horizon server currently, I am unable to leverage all the features of

[2016-07-25 18:02] danielmewes commented on #561
@Grmiade I think you ran into https://github.com/rethinkdb/horizon/issues/422 there. That issue will be fixed in the upcoming 2.0.0 release this week.

[2016-07-25 18:21] danielmewes commented on #508
I agree that we should allow for `http` redirect URLs. We can print a warning maybe if we detect it, but I don't see a good reason for forbidding it completely.

As @mindeavor says, forcing `https` just adds another step to getting a test application up. And it's not a particularly intuitive step either (you'll have to look up documentation for how to enable encryption at the very least, plus figu

[2016-07-25 18:23] danielmewes commented on #508
Moving this to first post-2.0 release.

[2016-07-25 21:19] deontologician opened #671 "CircleCI really slow"
It looks like we cache node_modules, then do npm prune --production, but also do .setupDev.sh, which reinstalls everything from scratch and wipes out node_modules. There may be some speed gains to be had if we rejigger this process. Maybe we can cache the package.json from last time, see if it's been modified, and only do a full setupDev.sh if that file has changed.

The build is ~7-8 minutes, but