[2016-07-25 21:27] #316 closed

[2016-07-26 00:14] deontologician opened #675 "Add tests for OAuth setups"
This is kinda tricky, we'll need to do two things we don't do now:
1. Have some secret config not checked into git, since we need to log into twitter etc
2. Use jasmine or phantomjs click through the browser redirect fields.

This is super gnarly, but there's no way around the fact that we have to be able to tell when the OAuth flow breaks (which we can't do easily now)

[2016-07-26 00:24] deontologician commented on #663
I merged the previous fix, but I've not confirmed this issue is fixed, so opened

[2016-07-26 00:25] deontologician commented on #671
Fixed in #673 and #674 by @dalanmiller

[2016-07-26 00:25] #671 closed, assigned to dalanmiller

[2016-07-26 04:45] natew commented on #216
This one is pretty huge for us. Horizon isn't really useable for us without being at least able to tie email back to account, and it seems it also doesn't have support for wiring a 3rd party account system.

[2016-07-26 07:49] mlucy opened #677 "User documents don't seem to have a `providers` or `data` field."
The docs at https://horizon.io/docs/users/ mention that users should have `providers` and `data` fields.  I can see the `data` field not being there since it's for application-specific data, so maybe the client is responsible for setting it the first time, but it seems like `providers` should be there.

[2016-07-26 12:34] sylvainlap commented on #510
+1

[2016-07-26 16:08] deontologician commented on #677
We should definitely fix the docs, those things don't exist

[2016-07-26 16:21] aesedepece commented on #533
I'm suffering this very issue with 1.1.3 :sob:

`r.db('vault').table('diffs_b758e0b96b52').info()`

[code]

`Uncaught Error: Collection "diffs" has no index matching ["reader","datetime"].`

[2016-07-26 17:20] dalanmiller commented on #510
Hey @marcus7777 @sylvainlap, when we release our Plugins (#588) implementation, this will issue will be easy to fix and also very customizable to your needs. Hold on tight.

[2016-07-26 18:54] mlucy commented on #677
I think we should maybe continue documenting the `data` field.  It's nice to have a reserved field like that so users have a place they know they can put data without us introducing a conflict if we add more fields to the user object in the future.

[2016-07-26 20:23] deontologician commented on #677
Does the data field exist? I wasn't sure if we talked about adding it or whether it actually was added

[2016-07-26 20:54] mlucy commented on #677
It doesn't exist, but the docs imply that I'm allowed to put whatever I want into it, so it made some sense that it didn't exist yet.

[2016-07-26 21:02] marshall007 commented on #677
`data` should definitely be set to an empty object by default if/when it's supported.

[2016-07-26 21:21] deontologician commented on #677
Right now you're allowed to put whatever you want wherever I think. It would be nice to namespace this, but we should probably support nested indices first

[2016-07-26 21:28] deontologician opened #678 "Send query templates to the client, so we can pre-validate"
This would be really nice. Obviously, validators can't be done this way since they require knowledge of the data in the database, but the query templates could be used to provide client validation.

A couple of questions:
1. Would we want to hide certain query templates from this feature?
2. Should we do this, maybe it doesn't help anyone enough to be worth the trouble

[2016-07-26 21:30] deontologician commented on #668
Fixed in #672

[2016-07-26 21:30] #668 closed, assigned to deontologician

[2016-07-26 22:13] mlucy commented on #678
This sounds like it might not be worth the trouble to me.  It doesn't improve the error messages at all, and it's only a performance gain if queries that don't match templates are common, which they shouldn't be because they should be failing basically 100% of the time during development.  The additional complexity will also make it more likely that we'll do something incorrectly when people chang

[2016-07-26 22:30] deontologician commented on #216
I bumped this up to post 2.0 release

On Mon, Jul 25, 2016, 21:45 Nate Wienert notifications@github.com wrote:

[2016-07-27 00:39] deontologician commented on #99
I investigated this recently and a couple of issues cropped up:
1. No test groups (aka `describe`) You have to group tests by file
2. Ava is a bad mix with mocks, since they are sometimes global modifying and ava runs everything concurrrently. You'd have to do setup and teardown synchronously in the test itself
3. Ava doesn't support running tests in the browser

[2016-07-27 03:25] shantanubhadoria commented on #186
Agree with @danielcompton's solution. If you are storing files to CDN it might be useful to have a mechanism to send the file directly to CDN from the client using access control headers like the slingshot project on meteor. We must protect the server from having to deal with the load of accepting image uploads and transfering them to a CDN this way.
https://github.com/CulturalMe/meteor-slingshot

[2016-07-27 10:08] aesedepece commented on #533
Forget what I said, I'm just an idiot. I was not setting "reader_datetime" index properly. :sweat_smile:

It simply works with:

[code]

[2016-07-27 18:16] LawJolla commented on #176
My business sells to many older, rural buyers.  While everyone in Silicon Valley may have a Twitter account, please consider the large swath of America that lives on the farm and not online.  Many of my customers don't subscribe to social media (or GitHub!).

I cannot deploy Horizon without some kind of password authentication.  I hope this issue gets escalated.

[2016-07-27 19:42] dv336699 commented on #176
@LawJolla that's a very good point from you and the reason why we're still holding on to use horizon.io. We develop internal backend applications (ERP, CRM, user management, etc) and we can't force the user to have a social account.

Also looking forward to this.

[2016-07-27 19:48] danielmewes opened #680 "SSL option for RethinkDB connection"
https://github.com/rethinkdb/horizon/pull/507 added support for RethinkDB's user and password options, but didn't add a way for enabling SSL for the RethinkDB connection.

We'll need an option to pass the location of the RethinkDB SSL certificate to Horizon, and Horizon has to pass the certificate's file path to `r.connect` through the `ssl` option if specified.

This is required for connecting di

[2016-07-27 20:42] luandro commented on #663
By adding `authType: 'token'` when initialising Horizon I get the error:

 `Attempting to authenticate with a token, but no token is present`

Is this part of this same bug or am I doing something wrong? Shouldn't by app at least initialise in order for the client to get a token?

[2016-07-27 21:00] deontologician commented on #663
You have to check for an authKey, redirect to oauth if there isn't one, and
connect if you have one. This bug is where you check explicitly for
.hasAuthKey, it says yes, so you connect and the server says no actually you dont
have an authKey

On Wed, Jul 27, 2016, 13:42 Luandro notifications@github.com wrote:

[2016-07-27 22:21] luandro commented on #561
So until 2.0.0 there's no way to have a front-end app separated from the horizon server? Shouldn't any of these issues be kept open until this is fixed?

[2016-07-27 22:57] sjmcdowall commented on #176
For FWIW -- we are in the same position.  We offer enterprise s/w that sits behind dozens of firewalls etc. (think SAP, PeopleSoft, etc) and obviously having to use a social OAuth mechanism is a total non-starter.  We need both the option to use the end customer's LDAP/AD system and/or self-contained user/pw management (and roles too of course) .

[2016-07-28 00:26] #548 closed, assigned to dalanmiller

[2016-07-28 00:46] lirbank opened #682 "[User system] Proposal: Support multiple OAuth providers of same type"
I am a long time Meteor developer and I was looking for alternative account systems when I found Horizon. A huge drawback with Meteor's Accounts/Users system (or actually the data model behind it) is that you can only have one OAuth provider of the same type per user.

Horizon has made the same design decision, so just wanted to give you a heads up before it's too late (or much harder) to change i

[2016-07-28 00:53] deontologician opened #683 "hz serve last minute bugs"
- [ ] If schema.toml is not present, `hz serve` bombs out
- [x] `hz serve --help` is missing a space in: `--schema-file=.hz/schema.tomland` in the `--dev` description
- [x] Getting this when creating a new app and using `hz serve`

[2016-07-28 00:57] dalanmiller commented on #683
Is this with using `--dev`? Because I added `--schema-file` to `--dev`.

[2016-07-28 01:16] deontologician commented on #683
Yeah, this is with `--dev`

[2016-07-28 01:20] deontologician commented on #682
@Tryneus

[2016-07-28 01:23] dalanmiller opened #684 "Complete transition of hz schema load => hz schema apply"

[2016-07-28 01:51] dalanmiller commented on #683
Double table creation fixed with 5227bde

[2016-07-28 13:15] maoycn commented on #510
＋1

[2016-07-28 13:29] luandro commented on #422
I'm running into this, is it really fixed? In #561 @danielmewes stated it would only be fixed in upcoming 2.0.0 release. Shouldn't this issue remain open until fixed?  Is there no way to have a front-end app running in a separate server from horizon?

[2016-07-28 13:50] stephenwil commented on #648
That link has gone - can you give a bit more advice, as I'm experiencing this exact issue.

[2016-07-28 13:55] StefanSchwartze commented on #648
@stephenwil I've updated my comment, the reference behind the link was not correct. Unfortunately, I can't give more advice because I kicked it because of experiencing too much errors and bugs.

[2016-07-28 13:58] stephenwil commented on #648
@StefanSchwartze Thanks

I _want_ to like it, as I like the fact we can consume RxJS subscribables, but the massive differences between the hz serve and embedding the server is wasting lots of time at the moment.

[2016-07-28 16:41] deontologician opened #686 "Plugin for checking credits on a user account"
See https://discuss.horizon.io/t/is-it-possible-to-update-two-collections-at-the-same-time/405

The idea is a plugin that would introduce a new terminal to modify a second table and abort the query if not enough resource is available.

[2016-07-28 17:05] LawJolla commented on #510
As a work around for data ingress, I opened an endpoint on my current server and used r.http from the Rethink Admin Console to ingest the data dump.

[2016-07-28 17:11] deontologician opened #687 "Add a `.without` or `.pluck` term to the horizon query language"
Numerous users have reported issues with sending large documents over the wire. The nosql-y way to do things is to jam as much into a table as possible since only single document actions are atomic, but we need to give them relief from sending everything over the wire.

Problem is... we currently have an invariant where everything streamed to horizon is a full document with an id etc. I think we s

[2016-07-28 17:14] hrj commented on #176
In response to @mattsoftware :

Here's a proposal that doesn't require private key to be shared:
- During registration, the user's password is used to generate a public & private key pair on the client. This can be done by using the [password as a seed for a PRNG](http://crypto.stackexchange.com/a/1665).
- The public key is sent to the server which stores it in DB.
- The private key is not stored

[2016-07-28 17:17] deontologician opened #688 "Full text search plugin"
Lots of different options for the backend, but this would be an excellent thing to have available for horizon.

As a plugin, it'd need a new terminal (e.g. `.lucene({ ... })`), some process for syncing a subset of horizon tables to the search backend.

[2016-07-28 18:08] deontologician commented on #648
Hey @stephenwil, we're working on this gap at the moment. We know it's a huge pain, so we're looking to make the transition a lot easier in the coming releases.

[2016-07-28 18:41] danielmewes commented on #686
Note that this isn't easily possible with ReQL. You'd have to implement multi-document transactions, e.g. with the technique outlined here: http://rystsov.info/2012/09/01/cas.html
The problem is that you not only have to check the credits in the user document, but also decrement them. If something goes wrong after decrementing the credits, the user would lose their credits without having been able

[2016-07-28 20:18] marshall007 commented on #688
See also http://lunrjs.com, which is particularly helpful for offline support.

[2016-07-28 20:40] rnenjoy commented on #337
It would be truly awesome if i could use the horizon socket system to make an call to my backend, and not only being able to do advanced reql queries, but doing anything. I could do validation with joi, throw errors, connect to other systems etc.

[2016-07-28 21:20] danielmewes commented on #561
@luandro We usually close issues once the implementation is done and they have been merged into one of the main branches (in this case the `next` branch, which is going to be the basis for Horizon 2.0.0). This allows us to use issues to keep track of what work still needs to be done before a release.

[2016-07-28 21:52] luandro commented on #561
Oh ok, got it.

[2016-07-28 22:04] mlucy commented on #687
Would it be unreasonable to tag plucked documents (say by adding something special to the `id` field, which is supposed to be opaque anyway), and then when people write them back with `replace` we don't remove fields that weren't plucked out initially?

[2016-07-28 22:19] dalanmiller commented on #687
Is there anyway we could merge these into a single command for terseness?

Would it be unwise having an API similar to [$project](https://docs.mongodb.com/manual/reference/operator/aggregation/project/)?

[code]

[2016-07-28 22:31] deontologician commented on #687
@mlucy I thought about this, and it's definitely do-able (we have Symbols in js now). I sort of fell on the side of it being too much work to keep a developer from making a programming mistake. If you pluck a large document and then use `.replace` instead of `.update`, that's just a regular oversight kind of bug. I don't think preventing it is probably worth a ton of trickery in horizon unless it

[2016-07-28 22:34] danielmewes commented on #687
Horizon currently doesn't have an equivalent to ReQL's `update`, does it?

Did we decide not to have `update` because of concerns about optimistic updates being harder to implement if you don't have the full new document when doing a write?

[2016-07-28 22:34] deontologician commented on #687
@dalanmiller I think the project style makes sense. Especially since we probably want to move towards the graphQL style of query where you're explicit about which fields you want to get back. Having worked with rest apis in the past, it's nice to know exactly what's fields are coming in your query and project

[2016-07-28 22:36] deontologician commented on #687
@danielmewes We have `update`, (https://github.com/rethinkdb/horizon/blob/next/client/src/ast.js#L316) it appears to be missing from the docs though!

[2016-07-28 22:37] danielmewes commented on #687
@dalanmiller Maybe I don't understand how `$project` works, but it seems to me that it's identical to our `pluck`, just with a more verbose syntax. The only field you can suppress in `$project` is the `_id` field, since that's otherwise included by default.

[2016-07-28 22:38] danielmewes commented on #687
@deontologician Woah I didn't know that. I'll open a docs issue.

[2016-07-28 22:43] mlucy commented on #687
It might be reasonable to just add `pluck`, it definitely gets used way more than `without`.

[2016-07-28 22:49] dalanmiller commented on #687
Ahh yup @danielmewes, the only thing I wish it had is the use case where I only provide `false`s, I'd want `.pluck` to act as a filter rather than having to explicitly list out everything _I do_ want.

This is useful where I want everything _but_ one field, and in this case `.pluck` is more verbose than `$project`. Everywhere I want one or a couple fields out of many in the document `.pluck` is su

[2016-07-28 22:53] danielmewes commented on #687
@dalanmiller I don't think `$project` supports that. If you only specify `false`s, you'll get an empty document (except for `_id` if you don't explicitly `false` that too).

[2016-07-28 22:56] danielmewes commented on #687
I agree with @mlucy that `pluck` probably covers most use cases.

I can't come up with a good syntax that combines both `pluck` and `without` into one command right now. We could do what `$project` does with the additional property that if _all_ specifications are `false`, then we behave like `without`. But that might be slightly surprising, and also makes the syntax in the `pluck` case more annoy

[2016-07-28 22:57] deontologician commented on #687
One thing I think we should change from raw `pluck` is the ability to force fields to exist even if they aren't in the original document. So:

[code]

If field `b` doesn't exist, it should be added

[2016-07-28 23:13] mlucy opened #689 "Proposal: have fewer types of writes"
Based on a conversation with Marc, my understanding is that our existing writes (ignoring `remove`) have the following behaviors:
- `insert`
  - missing: INSERT
  - present: ERROR
- `store` (note that these semantics are what we call `replace` in ReQL)
  - missing: INSERT
  - present: REPLACE
- `upsert`
  - missing: INSERT
  - present: MERGE
- `update`
  - missing: ERROR
  - present: MERGE
- `repl

[2016-07-28 23:13] mlucy commented on #689
(If we do this we can still support the old commands for backwards-compatibility, and just remove them from the docs.)

[2016-07-28 23:19] dalanmiller commented on #687
I stand corrected, I meant projection in `find` or [`findOne` queries](https://docs.mongodb.com/manual/reference/method/db.collection.findOne/#definition).

---

If we change the functionality of `.pluck` at all I think we should rename it to not be confusing. "Pluck" by itself sounds like you are grabbing specific fields from the whole. If we do any modification or assurance that a field exists,

[2016-07-28 23:21] danielmewes commented on #689
`update`s default semantics would change though. We can avoid that by keeping it under the name `upsert`, which might actually be closer to what people expect.

If we keep the name `upsert`, I'd slightly prefer having three commands I think, `store`, `update` and `upsert` (plus the described `ifMissing` and `ifPresent` options for `store`).

I personally think having either two or three commands a

[2016-07-28 23:22] Tryneus commented on #498
This has been fixed by #685.  Now there is a race condition in the case of multiple horizon servers for the same project with `auto_create_collection` enabled, but that will be addressed once rethinkdb/rethinkdb#5987 is available in ReQL.

[2016-07-28 23:22] #498 closed, assigned to Tryneus

[2016-07-28 23:32] marshall007 commented on #687
@deontologician how do you come up with a default value for `b` without some sort of schema definition on the collection?

[2016-07-28 23:33] deontologician commented on #689
I don't have a strong opinion, except to say that we discussed this to death at the time, so I'm not eager to bikeshed this again

[2016-07-28 23:35] deontologician commented on #689
Also, I consider "undocumented for months and nobody complained that it was missing" to be fairly weak evidence, since most people are still learning horizon and there are bigger issues to deal with.

[2016-07-28 23:36] mlucy commented on #689
I think it's fairly strong evidence that the set of write operations without `update` or `insert` was feature-complete enough that it wasn't stopping anyone from writing what they wanted.

[2016-07-28 23:49] encryptio opened #691 "`hz make-token` is broken in `next`"
As of 81402f8:

[code]

[2016-07-28 23:55] dalanmiller commented on #691
Should be `serve.read_config_from_secrets_file` as that is where `token_secret` is now stored.

[2016-07-28 23:55] danielmewes commented on #691
We should probably have a CLI test for this too.

[2016-07-29 00:13] deontologician commented on #687
@marshall007 I guess we could either do null or something else... Hmm. Maybe I'll take this back. I think pluck is probably explicit enough and we can deal with schema like issues separately. `without` is the one where you're left wondering which fields will come through, so it's probably fine

[2016-07-29 00:45] #454 closed, assigned to nobody

[2016-07-29 14:33] Alanz2223 opened #692 "Client event notifications on the server."
I have asked and scanned the documents for a way to obtain events about for things like client connection/subscription but was unable to find anything. As it currently stands it seems there is no way to take collateral action for when a client subscribes to a feed from the server side. Let me give you an example of why this would be a great feature. Suppose you have a forum collection where each d

[2016-07-29 18:23] marshall007 commented on #687
@deontologician I think you have the right idea though, something like `.pluck('a', 'b', 'c').defaults({ b: true })` might be pretty handy.

[2016-07-29 20:11] deontologician commented on #692
@Tryneus

[2016-07-29 20:35] deontologician commented on #692
From my perspective, this seems reasonable, but maybe there's a way to do this as middleware instead of events. #24 is about middleware changes coming relatively soon.

I personally like the middleware concept better than event hooks because there's a well-defined ordering specified by the app programmer

[2016-07-29 21:30] deontologician opened #694 "Google app engine plugin"
See #693

Essentially, it'd be nice to have some adapters for app engine that aren't a part of the core

[2016-07-29 22:09] mlucy commented on #692
You could also do this with a plugin that watches the RethinkDB jobs table.

[2016-07-29 22:21] Alanz2223 commented on #692
@deontologician While middleware does seem like a more flexible solution, I personally don't think there is anything wrong with events, and as far as implementation goes I believe it could be relatively painless. I will try to code something up this weekend.

@mlucy I am not too familiar with RethinkDB but how would this solution fare within a clustered environment? Also I feel like this isn't a p

[2016-07-30 02:26] Alanz2223 opened #695 "Connection errors with hz tool and rethinkdb"
Server version:1.1.3
Client version:1.1.3

I am trying to embed horizon into my express app but I am having trouble getting up and running. Before launching my app.js (express app), I attempt to start the rethinkdb server with `rethinkdb --http-port 8282` and it boots up just fine. The trouble comes whenever I start my app, as I receive a

`error: Connection to RethinkDB terminated: Error: The dat

[2016-07-30 02:39] eh3rrera commented on #534
Hi, I wrote a tutorial about how to integrate React, React Router, Horizon.io with OAuth authentication, and Express. Maybe you can find it useful:
http://tutorials.pluralsight.com/interesting-apis/building-a-real-time-application-with-react-react-router-horizon-io-and-oauth
The Github repo:
https://github.com/eh3rrera/react-horizon

[2016-07-30 02:48] eh3rrera commented on #514
I wrote a tutorial about how to integrate React, React Router, Horizon.io with OAuth authentication, and Express:
http://tutorials.pluralsight.com/interesting-apis/building-a-real-time-application-with-react-react-router-horizon-io-and-oauth
The Github repo:
https://github.com/eh3rrera/react-horizon

It's not exactly a boilerplate but it's a simple app and using Koa or Hapi instead of Express shou

[2016-07-30 09:55] niieani commented on #687
The thing is, when a field is missing in JS evaluating it defaults to `undefined`, so I don't see any benefit of _automagically_ adding the missing fields, unless it's with something like @marshall007 proposed, with a separate `defaults` method chained.

[2016-07-30 21:02] intellix opened #697 "Server: connect with rethinkdb as hostname fails"
Server version: 2.0.0

So I'm using Docker and linking `rethinkdb` into my horizon container.

`hz serve --dev --connect rethinkdb:28015 --secure=no --bind all --allow-anonymous=yes /usr/app` throws:

[code]

`hz serve --dev --connect rdb:28015 --secure=no --bind all --allow-anonymous=yes /usr/app` works fine though

Dumping the rdb_uri from `url.parse(connect)` I get:

[code]

[2016-07-30 22:52] ghost opened #698 "Swap ws -> uws"
Hi,

If you're interested in getting a major scalability boost you could consider swapping to uws instead of ws. Deepstream.io and SocketCluster have already done so with success and good results and I think you could benefit from this as well.

You can check out more info here: https://github.com/uWebSockets/uWebSockets

[2016-07-31 00:01] sjmcdowall commented on #687
I'm rather new here -- but -- the idea of introducing a new .defaults() method seems .. wrong?  ES6 introduced default values for various things (most notably function arguments) .. it would seem like a good idea, IF we want default values, to follow somehow in the same footsteps?  Or at least in the same vein .. Just seems like we can figure out a syntax for .pluck() that would allow the defaults

[2016-07-31 08:11] michaelwills commented on #663
Missed notifications on this @deontologician. I hadn't seen the updates but came to the same conclusion you noted.

I think it's a bit counterintuitive in that the check for `hasAuthToken` is on the _instance_ of `horizon` as opposed to the main `Horizon` object. This means we have to attempt instantiating the token invocation, and if that fails with a try/catch, instantiate the anonymous version,

[2016-07-31 08:35] michaelwills commented on #663
@deontologician so we can do the following now

[code]

If a token is not present we can get one via the Oauth sequence, otherwise we can `connect` as usual. The docs example:

[code]

fails with an uncaught error which prompted the `try/catch` implementation above. Am I correct in saying we can't and shouldn't use this `authType: "token"` methodology then?

[2016-07-31 08:50] michaelwills commented on #687
I like the conciseness of @sjmcdowall's `{}` style defaults but that seems to mean explicitly requiring all values to have a default so I prefer @marshall007's idea of adding the defaults.

That said, a pluck, and with defaults, is definitely valuable. @deontologician's initial observation is spot on with large documents.

Once plugins land I know I'd want to figure out how to lodash style "deep g

[2016-07-31 11:52] mtford90 commented on #627
+1

I was facing this but the following allowed me to get started:

index.html:

[code]

embedded server:

[code]

[2016-07-31 12:10] bgits opened #699 "Add authentication support for Linkedin"
It seems currently there is no support for LinkedIn auth. Anyone building any kind of business focused application would likely use LinkedIn as the first point of authentication.

[2016-07-31 17:14] ubergarm commented on #510
+1 for REST transport on Horizon services.  Since `rethinkdb` users/permissions are different than `horizon` users/permissions, if I want to user Horizon for my webapp then my "sources of truth" for security is Horizon.  Goodbye ReQL... :(

Possibly some sort of http://feathersjs.com/ integration might work well e.g. `feathers-horizon`...

I took a crack at an example showing how to run the horizo

[2016-07-31 20:06] luisherranz commented on #176
Another vote here.

[2016-07-31 23:49] thinklinux commented on #176
Here is what the meteor guys have done:

[Hackpad](https://meteor.hackpad.com/SRP-bcrypt-J5mdBojeVfe)
[accounts-password package](https://github.com/meteor/accounts/tree/master/packages/accounts-password)

[2016-08-01 18:36] danielmewes commented on #698
Looks pretty convincing.
It might be worth a try if we can just swap `ws` out for `uws` without changing any code.

[2016-08-01 18:39] danielmewes commented on #697
Hmm is `0.0.109.111` a valid IP address? (@encryption ?)

[2016-08-01 18:46] ghost commented on #698
That's the idea at least. There might be some small quirks and incompatibilities but most projects swap without even knowing anything changed (until they benchmark at least). If you encounter any issues you can just report them and I will see what we can do about it.

[2016-08-01 18:49] danielmewes commented on #695
@Alanz2223 Thanks for reporting your experience. This is very valuable feedback.

I think the issue is that `hz apply`  without additional configuration starts its own RethinkDB server. That's why you see `rethinkdb_data` being created.

However since you are running RethinkDB yourself, you have to make sure that `hz apply` connects to the same existing RethinkDB server. Try
`hz apply --connect lo

[2016-08-01 18:49] intellix commented on #697
The actual IP address that rethinkdb was resolving to was:

[code]

I believe the problem is the parser picking up the `rethinkdb:` from `rethinkdb:28015` as a protocol.

The IP comes from 28015 as a hostname as can see via ping:

[code]

[2016-08-01 19:22] encryptio commented on #697
Seems like that's what's happening. You can work around it by using a full URI with protocol, like `rethinkdb://rethinkdb:28015`.

I think this can be fixed in horizon by requiring [`rdb_uri.slashes` in serve.js](https://github.com/rethinkdb/horizon/blob/65ea3c550bb32ec1f6aab1628dbde426d109c09a/cli/src/serve.js#L325) to be true to accept a `rethinkdb:` protocol, which is only the case if the full

[2016-08-01 20:22] Alanz2223 commented on #695
@danielmewes You were right, the rethinkdb server was being started since I did not specify the `--start-rethinkdb no` flag when applying the schema to an already running rethinkdb server.

I tried to do it the other way where I made sure there were no running rethinkdb instances and then ran `hz schema apply --start-rethinkdb yes .hz/schema.toml`, which prints out
`Initialized new application met

[2016-08-01 20:23] deontologician opened #701 "Move Auth0 support into a plugin"
Right now Auth0 is kind of an escape hatch for authentication methods (since we only support a few). But it's a third-party commercial offering and probably should be moved out into a plugin once plugins happen.

[2016-08-01 20:26] deontologician commented on #695
@Alanz2223 Are you using `next`? That's the only place where the `hz schema apply` command exists. If so, and you have 1.1.3 for the client/server versions they won't be compatible. That might be part of the problem

[2016-08-01 20:26] Alanz2223 commented on #695
Or perhaps its only meant to start the server, apply the schema, and then immediately shut it down? In which case it is assummed the dev will then have to restart it passing it the `--directory` flag specifying the date directory it just created.

[2016-08-01 20:26] danielmewes commented on #695
@Alanz2223 This is expected. `hz schema apply` with `--start-rethinkdb yes` starts up the server, performs its modifications, and then shuts it down again. The assumption behind that is that you use `hz serve` to run the Horizon server with the same option. In that case, `hz server` will also start up its own rethinkdb server, which will use the same `rethinkdb_data` directory that contains the me

[2016-08-01 20:27] dalanmiller opened #702 "Translate Joi validation errors to be a bit more helpful"
@Alanz2223 had an issue where he was accidentally adding `auto_create_table` to the Horizon constructor:

From Slack:

[code]

But the error he was getting back wasn't so informative that `auto_create_table` isn't an actual option for Horizon server:

[code]

Now this error is pretty clear that it isn't a valid property, but maybe it could be something like:

[code]

This could lead more people to

[2016-08-01 20:28] Alanz2223 commented on #695
@danielmewes got it, thanks for your help.

[2016-08-01 22:06] deontologician opened #703 "Client-side joins"
I detailed the manual technique needed to accomplish this with observables [here](https://discuss.horizon.io/t/advanced-queries/171/3?u=josh). It would be nice to have some convenient syntax for expressing query dependencies like this.
### Syntax

Cribbing the example from the link above, we are watching a user's list of subscribed channels. We want to get changes to which channels are subscribed

[2016-08-01 22:28] deontologician commented on #670
Hi @intellix,

This looks like a bug to me, we should probably be throwing an error. I think in TS this should be implemented as an optional field most likely. RethinkDB throws an error if you try to store something with an `id` of null, so I'm not sure what's happening. @Tryneus do you know what the server does when it gets a null id?

[2016-08-01 22:30] deontologician commented on #699
This is a good point, but I think instead of implementing this we should get it when plugins/passportjs land. So this is superseded by #64

[2016-08-01 22:30] #699 closed, assigned to nobody

[2016-08-02 00:46] danielmewes opened #704 "2.0 migration (meta issue)"
Horizon 2.0 changes the metadata format.
- [x] `hz migrate` to migrate existing Horizon metadata in a RethinkDB server #705
- [x] `hz schema save` and `hz schema apply` should switch to a new structured format to specify indexes in the schema.toml files #706
- [x] `hz schema apply` needs to detect old index definitions and interpret them, so that users can still import existing schema files #707
-

[2016-08-02 00:48] danielmewes opened #705 "`hz migrate` for 2.0"
Add a new command `hz migrate` to the CLI, that connects to an existing RethinkDB server (or starts one, depending on command line arguments), and then migrates the metadata in RethinkDB to the new 2.0 format (renaming indexes, deleting the internal DB at the end etc.).

When it's done, it should tell the user that it migrated the schema and suggest running `hz schema save` to save the new schema.

[2016-08-02 00:50] danielmewes opened #706 "New index specification format for `hz schema`"
Currently a schema `.toml` file contains index specifications as strings. We decided to start using a structured index specification in Horizon 2.0, to make these easier and more explicit to write and read.

@Tryneus can you post some details on the new format please for reference once you have a full spec?

[2016-08-02 00:51] danielmewes opened #707 "Backwards-compatibility for `hz schema apply`"
`hz schema apply` should be able to interpret pre-2.0 index definitions.

[2016-08-02 00:53] danielmewes opened #708 "Server: detect outdated metadata"
For 2.0, the Horizon server should detect existing outdated Horizon metadata in RethinkDB and print a helpful error message (suggesting `hz migrate`).

For the future, we should try to add a version number somewhere in the metadata table(s).

[2016-08-02 17:55] nphyatt opened #709 "Add a max-connections flag, config setting to server"
For my use case I'd like to lock down the number of simultaneous client connections the horizon server will accept. I could see this perhaps being useful for others as well and I looked around the issues a little but didn't see any discussion of this as a possible flag or config.toml setting. I haven't dug into the code too much but was curious if others think this would be useful. I'm thinking ab

[2016-08-02 19:22] deontologician commented on #684
@dalanmiller is this done?

[2016-08-02 20:03] deontologician commented on #547
@dalanmiller do you know if

is still the case for `schema apply` ?

[2016-08-02 20:03] dalanmiller opened #710 "`hz schema save` shouldn't overwrite previous schema.toml"
![giphy 3](https://cloud.githubusercontent.com/assets/863286/17343224/746dc688-58b1-11e6-8f04-36cdf5f27752.gif)

[2016-08-02 20:04] geddski commented on #680
+1

[2016-08-02 20:19] dalanmiller commented on #684
It'll be good with #696

[2016-08-02 21:09] dalanmiller opened #711 "eslint should be run in the tests and be required for pass"
Based on #696 branch.

Currently in `/server` with `eslint .`:

[code]

`/client` with `eslint ./src` all tests pass!

`/cli` with `eslint .`:

[code]

[2016-08-03 04:55] nphyatt opened #712 "In the next branch if server errors and closes connection on handshake client error is not called"
I was looking into making a PR for #709 and it seemed the easiest course of action would be to close the connection with an error on the handshake if the connection limit had been reached. However I noticed if the handshake responds with an error and closes the connection the client observables error function doesn't actually get called anymore. I'm guessing it's coming from the refactor on [this

[2016-08-03 18:24] danielmewes commented on #712
Sounds like a bug. Thanks for reporting this and for the PR.

[2016-08-03 20:02] deontologician commented on #711
damn right.

[2016-08-03 20:28] dalanmiller opened #715 "Add hz schema save --force option to enable overwriting"
Starting state 1

[code]

Option 1:

[code]

Option 2:

[code]

This should also work with `hz schema save --out-file` which will **_require_** `--force` before overwriting the specified output `toml` file and will error out without it specified.

[2016-08-03 20:47] dalanmiller commented on #691
Just ran this using #696 and it now causes this error:

[code]

[2016-08-03 20:50] dalanmiller commented on #683
The first issue in your list still occurs on #696

[code]

What should be done if `schema.toml` doesn't exist while using `--dev`? We should probably just skip it in that case.

[2016-08-03 20:52] danielmewes commented on #715
How about `--overwrite` instead of `--force`? `--force` can mean anything.

[2016-08-03 20:53] danielmewes commented on #715
... on the other hand, I think we have `--force` for `schema apply` though?

[2016-08-03 20:55] danielmewes commented on #691
Independently of the bug, why does `make-token` even start RethinkDB? Is that actually necessary?

[2016-08-03 20:58] deontologician commented on #691
it checks that the user exists. we could skip that step since it doesnt
really need it

On Wed, Aug 3, 2016, 13:55 Daniel Mewes notifications@github.com wrote:

[2016-08-03 21:01] danielmewes commented on #691
Hmm not sure. Let's leave it in for now.

[2016-08-03 21:24] mardo commented on #64
+1

[2016-08-03 21:53] #684 closed, assigned to dalanmiller

[2016-08-03 22:47] ericodom commented on #6
We just started prototyping with Horizon, and would love the ability to hook into some type of presence API.

[2016-08-03 23:57] deontologician opened #717 "Allow specifying users in schema.toml"
Right now, we only allow specifying groups in schema.toml. We should allow users too, so the admin user won't be implicit and other users with different permissions can be created in a brand new app.

This would probably require being able to specify their user id

[2016-08-03 23:59] deontologician opened #718 "make-token should not connect to rethinkdb"
Right now make-token checks that the user exists before creating the token. While this might prevent simple mistakes, anyone getting a token for a user that doesn't exist will get an error when they connect. It complicates the make-token command and doesn't provide much benefit (now you need to specify all rethinkdb connection options and you have to worry about a rethinkdb database that's already

[2016-08-04 00:19] deontologician opened #720 "When the server runs with a random rdb port, it should create a file stating that port"
The idea is to create a file with the port number in it while the server is running on localhost on a random port. This is because dev mode starts its own rethinkdb instance and binds to a random port. In all other cases the user should specify the host:port in the flags or config file, so we don't need this.
### hz serve --start-rethinkdb
1. In the cli code that starts a rethinkdb instance, creat

[2016-08-04 00:36] encryptio opened #721 "CLI should search for .hz in parent directories"
I often `cd` into subdirectories to edit stuff, and not being able to run `hz serve` (et al) from any directory in my project slows me down and is inconsistent with the other "project" commands I use (`git` mostly.)

**Proposal:** The Horizon CLI should use the `.hz` directory in the closest parent of the current directory for configuration (and place its `rethinkdb_data` files next to that `.hz`,

[2016-08-04 00:41] mlucy commented on #721
+1, I've made the "try to run things from a subdirectory" mistake before.

[2016-08-04 00:51] deontologician opened #722 "Refactor cli arg parsing"
Right now there's lots of duplicated copy/pasted code, and it's hard to follow. The ideal situation would be specifying in one place for each option:
### Option specification
1. The argument name
2. All argparse options
3. the default value
4. A namespace if necessary (`--rdb-*`, or `--auth-*`)
5. a function for any special post-processing
   - `bind=all` turns into `bind: [ '0.0.0.0' ]`
   - `con

[2016-08-04 00:54] deontologician commented on #721
This seems like a good idea to me

[2016-08-04 01:10] #710 closed, assigned to dalanmiller

[2016-08-04 05:52] mlucy commented on #715
I'm not sure the behavior for option 2 is good.  I think maybe it should let you specify a file to save to, and error out if there's a conflict.  Otherwise people will do things like `hz schema save; hz cloud deploy` and deploy the old schema rather than the one they just dumped.

[2016-08-04 06:03] danielmewes commented on #715
[code]

[2016-08-04 10:53] telemmaite commented on #6
Well my company thought it would be the simplest use case to integrate into our applications.

Unfortunately I have been hitting walls after wall on how to handle this properly. When the user just alt+f4 his browser my only options seems to catch the window.upload event, BUT any async operation afterwards will just get cancelled.
If I send synchronous AJAX to my back end then It is no longer "writ

[2016-08-04 12:05] BenjaminFaal opened #724 "Express server example with own website content"
Server version: 1.1.3
Client version: 1.1.3

Node/Express server code:
`'use strict';

const PORT = 80;

const express = require('express');
const path = require('path');
const horizon = require('@horizon/server');

const app = express();
app.use(express.static(path.join(__dirname, '../dist')));

const http_server = app.listen(PORT);

var options = {auth: {token_secret: 'my_super_secret_secret'}};

[2016-08-04 13:35] ericodom commented on #6
@telammaite: what about creating a simple "heartbeat" solution for each user.  When they have logged in to your application, send a ping to Horizon with a timestamp.  Then you could write a simple query for users with a heartbeat ping in the last 30s (or minute)?  This should satisfy to situation when the browser is closed.

Just a thought...we're looking at some kind of presence API as well.

[2016-08-04 13:58] telemmaite commented on #6
@ericodom  Thanks a lot for the nice idea!
I guess your point is to write the heartbeat update query on the frontend.
I guess it will send the user browser timestamp? To get updates I will watch for a timestamp with some offset as a changefeed let say 30 seconds.

What will happen if **user A** and **user B** browser timestamps are different more than 30 seconds.
My guess **user A** could never se

[2016-08-04 15:56] thinklinux commented on #6
@telemmaite If you want to rely on the client timestamp convert it to universal time and that way it's gonna be the same. Otherwise you said that you are making extra routes for that - can't you take a timestamp from the server? @ericodom it's a pretty good idea actually 👍

[2016-08-04 19:58] ejsuncy opened #725 "Documentation: client constructor hostname and port"
The client `Horizon` model has a constructor that takes an object of option keys and values, one of which is `host`. It is not apparent from the [docs here](http://horizon.io/api/horizon/#constructor) that the `host` option is a string that includes the port number if applicable. Perhaps providing an example or two there such as `'host'`:`'localhost:8181'` would be more helpful, as I had to dig in

[2016-08-04 20:16] danielmewes commented on #725
Thanks for the feedback @ejsuncy . I moved your suggestion to the special documentation issue tracker: https://github.com/rethinkdb/horizon-docs/issues/107

[2016-08-04 20:16] #725 closed, assigned to nobody

[2016-08-05 00:49] deontologician opened #726 "port cli to typescript"
So, it's node, we don't have a build system at the moment, but I think it would be really nice to be able to refactor the cli code freely, and right now it's a pain.

[2016-08-05 02:24] deontologician opened #727 "Move rdb_password to secrets.toml"
It's a secret

[2016-08-05 02:55] deontologician commented on #705
This is like 90% done. The other 90% is fixing bugs and testing it, which I should finish up tomorrow

[2016-08-05 20:59] Linicks commented on #680
+1 For me as well.  Unfortunately, this became a non-starter for me because my company has a secure protocol only policy.  Hopefully, this can be addressed soon, because I can see allot of promise in Horizon.

[2016-08-06 00:34] danielmewes commented on #211
I believe this got fixed by https://github.com/rethinkdb/horizon/pull/604/files .

[2016-08-06 00:34] #211 closed

[2016-08-06 02:13] deontologician commented on #683
Fixed

[2016-08-06 02:13] #683 closed, assigned to deontologician

[2016-08-06 10:06] duncanfinney commented on #566
Object.assign is polyfillable. Add it to the consuming project and you should be good to go.

[2016-08-06 10:21] BITDM commented on #566
@duncanfinney  How?

[2016-08-06 10:52] zalmoxisus commented on #566
@BITDM,

Install `object-assign` and include

[code]

in your `index.js`. Or just include `babel-polyfill`, which will do the same, but also will add other polyfills.

Of course, better if horizon client lib would use babel's `transform-object-assign` plugin or the runtime plugin.

[2016-08-07 12:31] sjmcdowall commented on #566
Another solution that maybe more elegant is using [polyfill.io's](https://polyfill.io/v2/docs/) browser's include at the top of your main html file..

`<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>`

The advantage is that the above will only Polyfill what's needed (i.e. missing) from the browser the user is running.. so if it has support then no extra code, etc.

Just an idea.

[2016-08-08 19:11] deontologician commented on #724
This is very likely fixed in 2.0. We got rid of engine.io

[2016-08-08 22:44] #691 closed, assigned to Tryneus

[2016-08-08 23:53] Tryneus commented on #706
The format should look like this, for an example collection 'foo' with two indexes, one on the nested field 'a.b' and regular field 'c', and the other on the fields 'bar' and 'baz':

[code]

Working on a PR now.

[2016-08-09 12:30] niieani commented on #176
An optional 2FA would be great, there are some very good yet small JS libraries for generating the codes. Would would be a lovely alternative to 2FA is support for **passwordless login approvals** (e.g. mobile push "accept button").

[2016-08-09 18:24] BenjaminFaal commented on #724
Hello, any idea when 2.0 will be released? Or how i can use it already because i can see the code is already there.

[2016-08-09 18:35] zalmoxisus commented on #724
@deontologician, maybe publishing `2.0.0-alpha-1` to npm?

[2016-08-09 18:37] deontologician commented on #724
Beta will be out today come hell or high water!

On Tue, Aug 9, 2016, 11:35 Mihail Diordiev notifications@github.com wrote:

[2016-08-09 18:41] BenjaminFaal commented on #724
NICE! cant wait haha, will test immediately and report back!

[2016-08-09 23:26] #705 closed, assigned to deontologician

[2016-08-09 23:28] #708 closed, assigned to Tryneus

[2016-08-10 00:23] #727 closed, assigned to nobody

[2016-08-10 00:24] #706 closed, assigned to nobody

[2016-08-10 00:25] #707 closed, assigned to nobody

[2016-08-10 00:26] Tryneus commented on #718
Fixed by #729.

[2016-08-10 00:26] #718 closed, assigned to nobody

[2016-08-10 05:19] BenjaminFaal commented on #724
I see version 2.0.0 beta 3 now but it's not yet on npmjs?

[2016-08-10 05:41] deontologician commented on #724
it is on npm, just install horizon@beta

On Tue, Aug 9, 2016, 22:19 BenjaminFaal notifications@github.com wrote:

[2016-08-10 06:20] BenjaminFaal commented on #724
Hey i got it to work kind of, i just have this error now:

`error: Connection to RethinkDB terminated: Error: The database horizon does not exist.  Run`hz schema apply`to initialize the database, then start the Horizon server.`

When i run hz schema apply it does not work and just prints all the required arguments but i dont know what to fill in to be honest.

[2016-08-10 06:33] danielmewes commented on #724
@BenjaminFaal It expects a schema file name. Check http://horizon.io/docs/permissions/ for how to write a schema file.
If you instantiate the server with the `auto_create_collection` and `auto_create_index` options (only use these for development + testing), you can probably just pass an empty file to `hz schema apply`, since all the collections and indexes will be created later on first access.

[2016-08-10 06:33] deontologician commented on #724
So a couple questions:
1. Are you migrating an app from 1.0, or making a new 2.0 app?
2. are you embedding or using `hz serve`?

On Tue, Aug 9, 2016, 23:20 BenjaminFaal notifications@github.com wrote:

[2016-08-10 07:21] BenjaminFaal commented on #724
@danielmewes Thanks i think i get it now!

@deontologician its a new 2.0 app and im embedding with the express server example

[2016-08-10 07:35] BenjaminFaal commented on #724
Thanks everyone, 2.0.0-beta-3 seems to fix the issue with websockets this issue can be closed now!

[2016-08-10 07:35] #724 closed, assigned to nobody

[2016-08-10 09:58] niieani commented on #726
When porting the client to TS I could also do this in one go. Just let me know when.

[2016-08-10 18:03] LawJolla opened #735 "2.0.0-beta-3 Error: Observable.timer.map.publish is not a function"
Server version: 2.0.0-beta-3
Client version: 2.0.0-beta-3

I tried a clean upgrade from 1.1.3 (no migration, deleted Rethink tables).

I'm using Webpack Dev Server, host: 'localhost:8181' in the Horizon constructor.

Webpack builds without error.  But the web browser instantly errors out with this stack trace..

`
bundle.js:42181 Uncaught TypeError: _Observable.Observable.timer(...).map(...).publi

[2016-08-10 18:25] zubair-io commented on #735
I believe this is related to #734

[2016-08-10 18:27] LawJolla commented on #735
Would to believe that I did a search and didn't see it.  I need to level up my Github.  Thanks!

[2016-08-10 18:45] zubair-io commented on #735
You can try adding `require('rxjs/add/operator/publish');` to line 41 of   node_modules/@horizon/client/lib/socket.js

[2016-08-10 19:00] LawJolla commented on #735
Beat me to it, thank you.  Temp fixed worked.

[2016-08-10 21:19] zubair-io opened #737 "TypeError: stats.is_directory is not a function"
Server version: 2.0.0-beta-3

TypeError: stats.is_directory is not a function
    at fs.lstat (/usr/local/lib/node_modules/horizon/src/serve.js:183:26)

The function name was incorrect

[2016-08-10 21:20] zubair-io commented on #737
I created a pull request #736

[2016-08-10 21:47] GeoffreyPlitt commented on #680
+1 I thought 2.0 was going to support SSL?

[2016-08-10 21:55] danielmewes commented on #680
We should put this into Horizon 2.1.0 (or maybe even still add it to 2.0.0 before we release the final version?)

[2016-08-10 22:00] GeoffreyPlitt commented on #680
Cool!

[2016-08-10 22:06] dalanmiller commented on #715
This is correct.

I think this is a good addition for explicit clarity.

[2016-08-10 22:15] tomdegoede opened #738 "Resubscribing to a watch() Observable causes duplicated data"
Server version: 1.1.3
Client version: 1.1.3

Unsubscribing and then resubscribing the same watch() Observable will cause records to be added to the collection even when they are already present.

[code]

[2016-08-11 08:09] Rajan opened #739 "Error on connection to RethinkDB: Error: write EPIPE"
debug: Received request from client: {"type":"store","options":{"collection":"betausers","data":[{"datetime":{"$reql_type$":"TIME","epoch_time":1470902434.534,"timezone":"Z"},"email":"aa@aa.com"}]},"request_id":9}
debug: Received request from client: {"request_id":10,"type":"end_subscription"}
debug: Sending response: {"data":[{"id":"3667de9f-2190-4e41-8d97-98102a20a9db","$hz_v$":0}],"state":"comp

[2016-08-11 19:16] #704 closed, assigned to nobody

[2016-08-11 23:11] dalanmiller commented on #737
Fixed with #736

[2016-08-11 23:11] #737 closed, assigned to nobody

[2016-08-11 23:17] dalanmiller commented on #735
This is now fixed in beta 4 with #734

[2016-08-11 23:17] #735 closed, assigned to nobody

[2016-08-12 00:57] bartekus commented on #534
@eh3rrera thank you for making this wonderful example however it is no longer operational as recent changes cause it to throw `e is not a constructor` and `WebSocket Ctor is not a constructor` error on Messages screen.

[2016-08-12 01:02] bartekus commented on #698
I think going with uws is not only the right choice here but also the most performant and cost-effective in terms of the implementation cost and overall memory use footprint.

[2016-08-12 01:39] deontologician opened #740 "Rxjs beta-11 is out, remove hack code"
This method overload can be removed:

https://github.com/rethinkdb/horizon/blob/next/client/src/socket.js#L201

Now that beta-11 merges the pull request to fix WebSocketSubject

[2016-08-12 04:33] kuil09 commented on #678
I'm not sure about query templates. Can you share me the concept?

[2016-08-12 04:58] daniel1943 opened #742 "2.0.0-beta-4 webpack problem?"
Using [this boilerplate](https://github.com/ctrlplusb/react-universally)

Keep getting:

`ReferenceError: WebSocket is not defined
    at Horizon (/home/home/dev/react-universally/node_modules/@horizon/client/src/index.js:25:19)
`

I installed from NPM, cleared cache, tried compiling from source... always the same.

[2016-08-12 05:34] deontologician commented on #742
You'll need to polyfill WebSocket, it expects it to be a global

On Thu, Aug 11, 2016, 21:58 daniel1943 notifications@github.com wrote:

[2016-08-12 08:09] transcranial opened #744 "client websockets keepalive doesn't appear to be working"
Server version: 2.0.0-beta-4
Client version: 2.0.0-beta-4

I'm having an issue with the socket connection timing out with AWS ELB (see comment https://github.com/rethinkdb/horizon/issues/527#issuecomment-225693019). Looking at the websockets frames in chrome devtools, it doesn't look like any messages of type `keepalive` is sent.

Submitted PR #743. These changes fixes the issue for me.

[2016-08-12 14:39] eh3rrera commented on #534
Thank you @Bartekus, I'll update it.

[2016-08-12 17:52] dalanmiller opened #745 "Horizon tests should be run on multiple versions of Node"
Talked with @deontologician about this yesterday, and while it's not a high priority and all of our code is babelified to ES5, there could be deprecating changes in the Node APIs that could eventually cause an issue.

To not nullify all the test time reductions we've made, we should either switch from CircleCI to something with more VM horsepower or make use of CircleCI's `parallel` test features.

[2016-08-12 19:18] dalanmiller opened #747 "[2.0.0-beta-4] token verification failure"
Reported by @vramana whose setup is here => https://github.com/vramana/horizon-webpack,
while trying to follow [this yet unpublished guide](https://github.com/rethinkdb/horizon-docs/blob/horizon-2.0/permissions.md#making-an-admin-auth-token-admin) in the docs.
You can repro this by using one of the example directories:
- `cd examples/vue-chat-app`
- `hz init`
- `hz make-token admin`
- `hz serve --

[2016-08-12 19:21] dalanmiller commented on #747
Also we should probably have a test for this that creates a new token and tries to connect with it if we don't already.

[2016-08-12 22:28] bartekus commented on #747
[code]

The current configuration checks for the token right away but I'd reckon that this would do:

[code]

Reason for it is that we are working with client side and as a new user arriving at the service, you would not have a token to begin with but still would want to be able to access the site.

[2016-08-13 00:23] vramana commented on #747
@Bartekus I don't understand what you are saying correctly but the problem here is not that. #748 is the correct fix. A command line default was overriding the token-secret from `secrets.toml` and that is causing the issue.

[2016-08-13 00:42] bartekus commented on #747
@vramana I'm sorry, I didn't understand the underlining problem correctly so obviously my answer is incorrect in that respect. That being said, thank you for providing the context for me to grok the issue at hand.

[2016-08-14 09:35] #742 closed, assigned to nobody

[2016-08-14 09:40] daniel1943 opened #749 "2.0.0-beta-4 currentUser only works with .connect()"
[code]

Above works, **without hz.connect()** it does't, but it should right? From docs:

[code]

[2016-08-15 18:41] danielmewes commented on #749
Thanks for reporting this. It should indeed work without `hz.connect()`, and I thought we had fixed it in https://github.com/rethinkdb/horizon/issues/567 . But apparently the issue came back.

Pinging @deontologician

[2016-08-15 21:29] deontologician commented on #738
Hi @tomdegoede could you try out the 2.0.0 beta? We changed how the watches work, they should be reference counting their subscribers now

[2016-08-15 21:31] deontologician commented on #739
Hi @Rajan does this happen every time? What were the conditions in place when this occurred?

[2016-08-15 21:33] #747 closed, assigned to Tryneus

[2016-08-15 21:35] deontologician commented on #744
Fixed in #743

[2016-08-15 21:35] #744 closed, assigned to deontologician

[2016-08-15 21:42] deontologician opened #751 "Run client tests in browser/node/react native/with and without Rx.js bundled"
Right now CircleCI is only running our client tests in node. Our test setup varies slightly between node and the browser, and it's possible to fail in one and not the other (and it has in the past). We should run the client/integration tests in four different environments:
1. Browser with horizon.js
2. Browser with horizon.core.js and RxJS as a global
3. Node (from lib/, not from dist/horizon.js)

[2016-08-15 23:37] deontologician commented on #663
Alright, I finally replicated and got to the bottom of this in #752 . So the docs need to be updated to use `window.location.replace` to go along with this.

[2016-08-16 01:03] deontologician commented on #749
Ok! I figured this out. Turns out we got burned by rxjs changing its behavior for `.take(0)`. Before it would subscribe and complete immediately, now it's special cased so that it never subscribes to the underlying observable. Arguably better for performance, but we were relying on the side-effect in our code.

I'll have a PR up shortly, I also found another undiagnosed issue that I fixed at the s

[2016-08-16 02:12] #663 closed, assigned to deontologician

[2016-08-16 02:19] #740 closed, assigned to nobody

[2016-08-16 02:19] #749 closed, assigned to deontologician

[2016-08-16 03:10] deontologician opened #754 "Consider moving packaging from webpack to rollup"
Since we're in es6 (soon to also be typescript) it would be nice to take advantage of rollup's benefits in bundle size.

Right now it's not too feasible since we'd want rxjs to come along for the ride, and their `add/operator/*` modules aren't handled properly by rollup at the moment: https://github.com/ReactiveX/rxjs/issues/1671

Adding this to Proposed so we can consider it later

[2016-08-16 03:26] michaelwills commented on #663
Thanks much @deontologician. I'll be able to continue again shortly.

[2016-08-16 08:02] intellix commented on #754
Webpack 2 has tree shaking, thoughts on that?

[2016-08-16 13:46] deontologician commented on #754
I have webpack 2 working in my typescript branch, it's probably fine for
the medium term. The way we use our libraries, tree shaking isn't a huge
benefit. The bigger benefit of rollup is that it gets rid of the entire
module loading system and puts everything into the same scope. It cuts down
on import overhead which webpack 2 still doesn't do

On Tue, Aug 16, 2016, 01:02 Dominic Watson notificati

[2016-08-16 18:54] doefler opened #756 "Gracefully handle parse errors in config.toml"
Hi I just did npm install -g horizon@2.0.0-beta-5
Now I am trying to run hz migrate which is not working for me.
I am running the command from the my project folder.

I have tried a lot of variations which haven't worked for me. Can you point out what I am doing wrong:

hz migrate
hz migrate myhorizonapp
hz migrate --project-name myhorizonapp
hz migrate -n myhorizonapp
hz migrate -n "myhorizonapp"

[2016-08-16 19:07] danielmewes commented on #756
Pinging @deontologician

[2016-08-16 20:45] vramana commented on #754
Webpack has plans to implement the rollup functionality.  See https://github.com/webpack/webpack/issues/2873

[2016-08-16 20:54] deontologician commented on #756
@doefler Could you go into the project directory, do `hz migrate` and paste the output? That's likely all you need to do if you already have `project_name` set in your config

[2016-08-16 20:55] deontologician commented on #754
That would be really sweet if they did that. There's definitely a lot more of a community behind webpack

[2016-08-16 21:00] doefler commented on #756
Hi @deontologician
Thank you for looking into this 😄

The output from running `hz migrate` in the project directory is:

[code]

[2016-08-16 21:19] deontologician commented on #518
This was done in #601  and #733

[2016-08-16 21:19] #518 closed, assigned to nobody

[2016-08-16 21:20] deontologician commented on #645
This was done (including the docs update to use location.assign)

[2016-08-16 21:20] #645 closed, assigned to nobody

[2016-08-16 21:26] deontologician commented on #756
Would you mind pasting your config.toml here? It looks like a syntax error when parsing it (though we should be catching the error and failing more gracefully). (I should mention you should be sure to delete any secret tokens from the config before pasting, we've moved secrets out to `secrets.toml` in 2.0 for this reason)

[2016-08-16 21:30] doefler commented on #756
Here you go @deontologician

[code]

[2016-08-16 21:31] deontologician commented on #756
Ok, looks like you need to just put quotes around `"0.0.0.0"`.

I'll add some exception handling in the migrate script so it doesn't bomb out so horribly

[2016-08-16 21:36] doefler commented on #756
@deontologician

[code]

I have just been using the rethink server that horizon creates automatically. That db changes port all the time, and I guess it is looking for port 28015 here?

[2016-08-16 21:46] deontologician commented on #756
Oh yeah, the default assumes you already have a RethinkDB server on a known port (maybe a bad assumption, not sure). But you can have it start RethinkDB for you with `hz migrate --start-rethinkdb`

[2016-08-16 21:48] doefler commented on #756
@deontologician

Running: `hz migrate —start-rethinkdb`

Returns:

[code]

[2016-08-16 21:49] deontologician commented on #756
`hz migrate --start-rethinkdb --project-name=MyAppName`. Usually it is in your config.toml file, so you can also set it like

[code]

[2016-08-16 21:53] doefler commented on #756
It is also in the config.toml 👍

Running `hz migrate --start-rethinkdb --project-name=myhorizonapp`

Returns:

[code]

[2016-08-16 22:14] deontologician commented on #756
Alright, so you can either install the python driver to allow it to do a backup, or you can add `--skip-backup` option (check out `--help`). If you don't need to move your data to a new machine, you can also just do `cp -a rethinkdb_data rethinkdb_data_backup`

[2016-08-16 23:35] doefler commented on #756
@deontologician
Now the migrate tool completed. Thank you.

[2016-08-17 02:24] #756 closed, assigned to nobody

[2016-08-17 19:37] b-d commented on #680
This was a problem for me as well, it's a quick fix to add a `rdb_cert` option in the `horizon()` constructor and then add
`ssl: {
                    ca: this._cert
          }`
to the `r.connect()` call in
https://github.com/rethinkdb/horizon/blob/next/server/src/reql_connection.js

[2016-08-18 05:54] mlucy opened #761 "We should give a better error if you run `hz serve` without a PEM file."
Currently we produce this output:

[code]

It would be nice if we gave an error that:
- Explains more clearly what went wrong if you don't know what a PEM file is.
- Recommends running with `--dev` during development.
- Possibly tells you how generate a self-signed cert for testing?
- Possibly links to a page explaining what certificates are and how to generate a self-signed one for testing?

[2016-08-18 06:46] deontologician commented on #761
we have a make-cert command too we could recommend

On Wed, Aug 17, 2016, 22:54 Michael Lucy notifications@github.com wrote:

[2016-08-18 07:24] mlucy opened #762 "Bad error message when trying to use `hz schema save`"
After `hz serve`, I tried to run `hz schema save` in the same directory, and I got this error:

[code]

What I needed to do was pass `-c localhost:<port horizon printed on startup>`, but the error message didn't do a good job of leading me toward that.

We should probably also consider dumping the currently running host/port into a file or something when `hz serve` starts so that commands like `hz

[2016-08-18 07:26] Tryneus commented on #762
This looks like a duplicate of #720.

[2016-08-18 07:29] mlucy commented on #762
Closing as a duplicate.

[2016-08-18 07:29] #762 closed, assigned to nobody

[2016-08-18 07:55] mlucy opened #763 "Validators on writes don't work in the newest 2.0 beta."
`src/endpoints/writes.js` references `context` without defining it.

[2016-08-18 08:10] mikeifomin commented on #9
Hello guys. Some question regarding the client reconnection.

Do I need to create a new instance of the Horizon in case of reconnection attempts?
What is the better way to destroy just disconnected instance with all subscriptions (I guess they all safety clear according to RxJS docs)?
Is is save just `delete hzInstance`?

I can do all this with the redux-saga but maybe  @deontologician suggest a a

[2016-08-18 14:21] danielmewes commented on #761
This is probably important because it's literally the first thing (I think) one gets when running `hz serve` without further configuration.

[2016-08-18 21:45] Tryneus commented on #763
Fixed by #764.

[2016-08-18 21:45] #763 closed, assigned to Tryneus

[2016-08-18 21:59] Tryneus commented on #739
This appears to be during shutdown, notice the `^C` - the problem is likely that a connection to RethinkDB was still open when we kill the server, and so it gets an error when writing.  I revamped server shutdown in `v2.0.x`, so it's possible this is no longer a problem.

[2016-08-18 22:13] deontologician opened #765 "Add an option for Access-Control-Allow-Headers in hz serve"
Right now CORS is stymied because we can't do this:

https://discuss.horizon.io/t/problem-with-enabling-cors/472

This should be fairly straightforward, and CORS won't work without it, so putting in 2.0

[2016-08-18 22:23] deontologician opened #766 "Make Horizon.hasAuthTokens() check whether the token is expired"
Right now when a token expires, a page refresh is pretty much needed. We don't give any way of hooking into the event to detect a failure to authenticate, so the experience is really bad.

We should make `Horizon.hasAuthToken()` check whether the jwt is expired. Without including the server public key in our JWTs (which we don't) a user could spoof the expiration date in the jwt, but in the worst

[2016-08-19 00:28] deontologician commented on #9
Right now, I think it's safe to create new queries with an existing Horizon connection after reconnecting. It's not going to handle old queries that are already running correctly (it may re-use request_ids which will be buggy). This can get kind of messy, so I wouldn't blame you if you just created a new Horizon instance on each disconnect.

If you're willing to polish this up a bit, I'm going to

[2016-08-19 03:00] deontologician commented on #739
I'm going to close this for now since there's not enough to go on. @Rajan if you run into this again, or have time to provide more details we can reopen it

[2016-08-19 03:00] #739 closed, assigned to nobody

[2016-08-19 03:05] deontologician commented on #738
I'm adding this to the next release. We at the very least should have a test for this behavior

[2016-08-19 03:06] deontologician commented on #742
Mentioned this issue in https://github.com/rethinkdb/horizon-docs/issues/111

[2016-08-19 03:10] deontologician commented on #482
This was resolved in Horizon 2.0.0, we no longer add hashes to the end of table names

[2016-08-19 19:51] lirbank commented on #255
The horizon client seems to work with react-native 0.31.0 (android+ios) and the the latest `next` branch of horizon, as long as I remove the babel config (as pointed out here https://github.com/rethinkdb/horizon/pull/750).

[2016-08-19 19:58] deontologician opened #769 "Allow "ejecting" a horizon app"
In the next big release, we're adding plugins (#373) and middleware (#24) which includes moving to express for hz serve. Since our stack is becoming more modular, as people move from frontend only to writing a backend, it makes sense to provide something along the lines of create-react-app's [eject](https://facebook.github.io/react/blog/2016/07/22/create-apps-with-no-configuration.html#no-lock-in)

[2016-08-19 20:03] deontologician commented on #255
That's good, I can probably move the babel config back out to a separate file. I forget exactly why I moved it in

[2016-08-19 20:18] sjmcdowall commented on #769
Why express and not Koa?  The (supposed) successor to express?  I'm using it quite nicely (especially V2)

[2016-08-19 20:26] deontologician commented on #769
Right now Express has a wider install base and a larger ecosystem. So, for instance, to use Passportjs ( #64 ) we'd need several extra shims to adapt it to koa. Since both koa and Hapi have shims for express stuff, it's a better target.

That being said, once you eject, you are free to swap out express and switch to koa. I would say if you have an strong opinion on koa vs. express, you're probably

[2016-08-19 20:38] lirbank commented on #255
Ok, great!

Oh, there is one more things that needs to be tweaked for it to work. Working on a fix. BRB.

[2016-08-19 20:40] sjmcdowall commented on #769
@deontologician -- I am not sure I agree with your reasoning.  Has anyone done any sort of heads-to-heads analysis of Express Vs. Koa?  I mean .. the passportjs example .. how is it more than just a simple use of https://github.com/rkusa/koa-passport/tree/v2.x  ??

I think there is a quite a large set of middleware written for Koa .. and it's pretty easy to write new middleware if needed.. <shrug>

[2016-08-19 20:53] deontologician commented on #769
We'll keep it in mind. Node also doesn't have `async`/`await` yet, so it may be a bit too early to jump to Koa 2.0

[2016-08-19 22:31] vramana commented on #458
I don't see this behaviour in the 2.0.0-beta5 version. Probably this bug is fixed. If somebody else could confirm this, this issue can be closed.

[2016-08-19 23:16] lirbank commented on #255
WRT the babel config, if you remove it then `./setupDev.sh` will not work anymore (eg `SyntaxError: Unexpected token import`).

It is still possible to build the client without the babel conf, with `npm install`.

EDIT: Or, `./setupDev.sh` actually works but the `hz` cli it produces will not.

[2016-08-20 02:31] lirbank commented on #255
Ok, got it working. Assuming you have one project for your horizon app (horizonApp) and one for you react native app (reactNativeApp), the steps as of horizon 2.0.0-beta-7 are as follows:
1. For android to work, apply this patch https://github.com/rethinkdb/horizon/pull/770/files
2. Clone horizon `git clone https://github.com/rethinkdb/horizon.git`
3. Disable the babel preset in `horizon/client/pa

[2016-08-20 12:42] sjmcdowall commented on #769
Node doesn't have import / export either -- so since we're going to use babel it's just a matter of adding :

[code]

Then viola!

It's just that as a new project -- it would be a shame to look backward to "old" technology and not embrace what will be the future ... <shrug>

[2016-08-21 21:46] lirbank opened #772 "Manually reconnecting the web client"
Server version: 2.0.0-beta-7
Client version: 2.0.0-beta-7

Not sure if I am doing this the right way but I can't seem to reconnect to the server after a temporary disconnect. Even though the client can't reconnect on it own, it should be possible to reconnect manually without refreshing the browser. Am I missing something or does it not work?

I run the code below and then close the server and sta

[2016-08-22 04:15] stevenmathews opened #773 "Table id not used as a default index"
Server version: 2.0.0-beta-7
Client version: 2.0.0-beta-7

Used `hz schema apply` to set the indexes on my collections. With only `[collections.houses]` I got `Error: Collection "houses" has no index matching [["id"]].` Adding:

[code]

fixed the issue. However the next collection:

[code]

works without including `['id']`.

Not sure if this is intended but thought I should mention it.

[2016-08-22 17:46] danielmewes commented on #773
Thanks for reporting this @stevenmathews .

I'd expect lookups by ID to always work.

Which Horizon operation exactly gives you the `has no index matching [["id"]]` error?

[2016-08-22 20:07] lirbank commented on #772
Please note, the production release 1.1.3 has the same issue (with slightly different error messages if I remember correctly).

[2016-08-22 20:57] deontologician commented on #772
This is due to the statuses being implemented by a BehaviorSubject, which will replay old states. This is good if you want to ensure you don't miss any states, but it's bad if you ever want to get rid of them.

Right now I'd suggest not manually reconnecting by simply emitting the query again, since there is likely other state that's not being cleaned up. It's best for now to just create a new hor

[2016-08-22 21:04] stevenmathews commented on #773
`Collection.find`. I mentioned that it worked for the tenant collection above but was incorrect. Had just done `Collection.watch` without the `find`.

Trying `fields = [['id'], ['house']]` so that I could do `find` and `findAll` on the tenants collection caused neither of them to work. Same error as above.

[2016-08-22 21:14] lirbank commented on #772
Thanks! But how do I "just create a new horizon instance"? I tried a lot of things but only got it working again after a page reload...

Edit: (as you can see in my code I tried multiple ways to disconnect from horizon and recreate the instance again, but it didn't help)

[2016-08-22 21:22] lirbank commented on #772
Oh, never mind, got it working!

I just forgot to re-init the collection `chat = horizon("messages");` after I created the new instance. This works for now. Thanks!

[2016-08-22 21:37] deontologician commented on #772
Actually, I'm going to try getting this into 2.0.0, since even if you can't seamlessly reconnect, the experience here of reconnecting and re-issuing your queries is pretty bad and most everyone is going to run into reconnection needs. I don't think it should be too hard to fix

[2016-08-22 21:43] deontologician commented on #766
Fixed by #768

[2016-08-22 21:43] #766 closed, assigned to nobody

[2016-08-22 21:58] lirbank commented on #772
Put this together and it seems to work properly:

[code]

EDIT:

1) But it will not work for React Native as the socket errors, etc, can't be caught properly. So will be awesome to have a fix for that.

2) Another related issue, it is very hard to restart the server when the client is trying to reconnect. The server crashes on start so I have to try multiple times before I get it up and running ag

[2016-08-22 22:01] deontologician commented on #772
beautiful, thanks for the example code

[2016-08-22 22:12] lirbank opened #774 "Server crashes when reconnecting"
Server version: 2.0.0-beta-7
Client version: 2.0.0-beta-7

When stopping and starting the server (via cli), to test reconnect (https://github.com/rethinkdb/horizon/issues/772#issuecomment-241564417), I have to try multiple times before the server starts. It seems to be worse when the client is trying (though not sure), eg if I put the retry interval to 10 sec instead of five it seems to go better.

[2016-08-23 11:39] ivan-kleshnin commented on #634
FYI RxJS has `let` operator which basically serves as a way to add new functionality
without monkeypatching.

https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/let.md

I'd prefer `::` but the current proposal is dead AFAK.

[2016-08-23 18:09] dalanmiller opened #777 "Create a Chrome DevTools Extension for Horizon"
Inspired by VueJS [img1](https://cloud.githubusercontent.com/assets/863286/17903834/c0cf34dc-6921-11e6-8eb1-26805e0a3463.png) [img2](https://cloud.githubusercontent.com/assets/863286/17903807/a917ef46-6921-11e6-9a0d-ebd5f5123ea9.gif)

It would be very helpful to see:
- a list of your working `.watch()` queries and what's flowing through them
- see when they actually received information
- the toke

[2016-08-23 18:36] COLABORATI commented on #58
yes, pouchdb like offline sync is absolutely needed in 2016 for any mobile app platform, please work on this so it can be done with rethinkdb, thanks!

[2016-08-23 20:57] danielmewes commented on #774
Thanks for the issue report @lirbank !

Pinging @Tryneus

[2016-08-24 00:20] Tryneus commented on #774
Fix is up in PR #778.  Thanks for reporting this, @lirbank!

[2016-08-24 00:22] Tryneus commented on #773
I believe this is fixed in PR #778 - the primary index was being registered incorrectly, so it wasn't matching any requests.

[2016-08-24 01:17] dalanmiller opened #779 "hz migrate is broken "procPromise is not a function""
On horizon@2.0.0-beta-7 so maybe this was already caught.

Way to repro:
1. Install horizon@1.1.3
2. Go to /examples/vue-chat-app
3. Remove `rethinkdb_data` if it's there
4. hz serve --dev && type random gibberish into app to create collections and indexes
5. Shutdown horizon app
6. npm install -g horizon@2.0.0-beta-7
7. Then attempt `hz migrate`

[code]

[2016-08-24 01:44] #761 closed, assigned to deontologician

[2016-08-24 01:46] deontologician commented on #779
Fixed in #776

[2016-08-24 01:46] #779 closed, assigned to nobody

[2016-08-24 02:03] lirbank opened #780 "order() not working with watch()"
Server version: 2.0.0-beta-7
Client version: 2.0.0-beta-7

When using sort() with watch() the results come back in arbitrary order:

[code]

[2016-08-24 02:24] deontologician commented on #780
Ah yes, we meant to disallow this. Going to close as a dupe of #542

[2016-08-24 04:15] nightlyworker commented on #777
Great idea!

Might be good for inspiration:
https://github.com/rrdelaney/horizon-devtools
![Demo](https://github.com/rrdelaney/horizon-devtools/raw/master/assets/demo.gif)

[2016-08-24 12:28] tvld commented on #754
We integrate tightly using webpack and vue.js - good combo ;)

[2016-08-24 12:31] tvld opened #781 "Can't move config.toml"
I've tried to move config.toml from .hz to project folder, but it does not work even though `--config config.toml`  seems correct...?
Using the dockerfile.yml

[2016-08-24 13:58] ivan-kleshnin opened #782 "Link to server docs is 404"
From http://horizon.io/docs/getting-started/:

Links to
http://horizon.io/docs/server

Which is 404

[2016-08-24 18:20] comerc opened #783 "Clojure support"
How to use Horizon with Clojure?

[2016-08-24 20:50] lirbank commented on #780
Ahh, got it. What about just a quick update to the docs (limit is required for order+watch)?

[2016-08-24 21:08] dalanmiller commented on #782
Fixed with rethinkdb/horizon-docs@4895a5f56fd4cf06c7bced1a84ae7157903c52a7

Thank you @ivan-kleshnin 🎯

[2016-08-24 21:08] #782 closed, assigned to nobody

[2016-08-24 21:09] dalanmiller opened #784 "Providing `redirect_uri` for Auth0 config in secrets.toml dies on Joi validation"

[2016-08-24 22:03] #780 closed, assigned to nobody

[2016-08-24 22:03] deontologician commented on #780
Actually, I have a fix I'll just do

[2016-08-24 23:09] deontologician commented on #783
Hi @comerc,

Right now there is no client for communicating with the server through clojure. But you should be able to write one using a WebSocket library for Clojure and carefully reading the [protocol description](https://github.com/rethinkdb/horizon/blob/next/protocol.md).

I'll leave this in proposed, but it's unlikely we'll directly develop a Clojure driver ourselves.

[2016-08-24 23:50] #542 closed, assigned to nobody

[2016-08-24 23:55] deontologician commented on #542
Ok, so this is resolved in 2.0.0, we basically just set an implicit limit if you give an order but not a limit. Eventually we could implement sorting on the client, but a lot more bookkeeping would be needed

[2016-08-25 00:36] #784 closed, assigned to dalanmiller

[2016-08-25 01:24] #781 closed, assigned to nobody

[2016-08-25 01:32] deontologician commented on #774
Fixed by #778

[2016-08-25 01:32] #774 closed, assigned to nobody

[2016-08-25 02:07] #773 closed, assigned to nobody

[2016-08-25 04:41] deontologician commented on #772
Alright, I've been working on this for 3 days, can't seem to figure out what's going on, so I'm bumping this to 2.x.x

[2016-08-25 05:59] shantanubhadoria commented on #176
I don't think its a good idea to implement authentication mechanisms as a part of horizon framework itself.

This should be a part of plugins. While its fine to have basic user information and logged-in status specified in the framework, how a person can authenticate should be extendible.

I am working on system where authentication can happen with passwords but also with SMS, RFID and nfc(MiFare)

[2016-08-25 07:00] lirbank opened #790 "Project Structure to enable Github npm dependencies"
So, I had this idea it would be nice for contributors/early adopters to be able to depend directly on github repositories. Say I made a hack to fix something for react-native, but it's just a hack so it will never be a PR. Then, if each horizon component (client, server, cli) had their own github repo, so package.json is in the root, it's possible to use a github repo+branch as version in the app

[2016-08-25 08:00] luisherranz commented on #176
If I'm not mistaken we can have password authentication in horizon right now using [auth0](https://auth0.com) (#601 and #733).

It would be great to have it without having to use an external saas, but it's ok. One step at a time :)

By the way, congrats on the 2.0.0 release!

[2016-08-25 15:50] mcbain opened #791 "[2.0b7] Aut0 - authenticate on localhost fails due redirect_uri always is https"
The redirect always contains https protocol - local testing impossible.
The request-protocol or the secure setting from config should be considered to be used.

utils.js

[code]

[2016-08-25 18:36] #616 closed, assigned to dalanmiller

[2016-08-25 19:46] danielmewes commented on #791
Thanks for opening an issue for this @mcbain . This is actually a duplicate of https://github.com/rethinkdb/horizon/issues/508 .

[2016-08-25 19:46] #791 closed, assigned to nobody

[2016-08-25 21:17] lirbank commented on #790
Relates to https://discuss.horizon.io/t/npm-install-current-github-version/308/7

[2016-08-26 00:41] deontologician commented on #790
I think the monorepo concept is just incompatible with how npm wants to deal with github packages. Though I think we could do something like publish nightlies. Incidentally, the number of npm packages we have in the repo is about to shoot up a lot in the plugins release, so I think making them individual repositories isn't great for a few reasons. Not the least of which is that issues spread acros

[2016-08-26 01:21] smkhalsa commented on #255
Thanks @lirbank for the workaround. Unfortunately, I'm getting this error when I try `npm install ../horizon/client/ --save`.

module.js:457
    throw err;
    ^

Error: Cannot find module 'shelljs/global'
    at Function.Module._resolveFilename (module.js:455:15)
    at Function.Module._load (module.js:403:25)
    at Module.require (module.js:483:17)
    at require (internal/module.js:20:19)

[2016-08-26 01:49] deontologician opened #792 "Allow the Horizon client to use the horizon server directly when running in Node"
Right now, if you want to use the horizon client in Node, you have to create a websocket to the server no matter what. This is pretty wasteful for things like pre-rendering markup. It would be nice to be able to send Horizon protocol queries directly into the server without having to create an extraneous websocket connection. In addition, we could probably skip serialization/deserialization by pas

[2016-08-26 02:45] lirbank opened #793 "Google validation of id_token fails"
Server version: 2.0.0
Client version: 2.0.0
1. Sign in with horizon
2. Copy token from address bar or local storage
3. Add token to https://www.googleapis.com/oauth2/v3/tokeninfo?id_token=XYZ123

Response:

[code]

Info: https://developers.google.com/identity/protocols/OpenIDConnect#validatinganidtoken

[2016-08-26 05:55] Tryneus commented on #793
The token in the address bar or local storage is a horizon JWT, not the token from the Google servers.  The Google token is used internally to check the user's Google account ID and correspond it to a horizon user row; it is never sent to the browser.

[2016-08-26 06:03] smkhalsa commented on #255
I just tried it again, and it looks like it worked. I believe the only thing that changed was I reinstalled horizon globally.

[2016-08-26 06:04] smkhalsa commented on #255
@deontologician can we implement this change so react-native can work out of the box?

[2016-08-26 06:07] deontologician commented on #255
Yes, we are going to, and I want to get a proper test setup for react
native so we dont accidentally break it again

On Thu, Aug 25, 2016, 23:04 Sat Mandir S. Khalsa notifications@github.com
wrote:

[2016-08-26 14:52] tony-garcia commented on #337
Exposing a way to run custom ReQL queries through Horizon would be huge. My initial excitement over Horizon was tempered when I quickly ran into the limitations of the current Collections API. The standard response to this that I've seen is to embed Horizon into, say, an express app and implement custom endpoints for doing more complex ReQL. But then that leaves me with two different ways to acces

[2016-08-26 18:52] lirbank commented on #793
Oh, that explains it!

[2016-08-26 18:52] #793 closed, assigned to nobody

[2016-08-26 21:19] deontologician opened #795 "Date validator"
Since we serialize dates to RethinkDB format in the wire protocol, which is what the validators check, we should probably add a convenience `Date` validator that takes similar arguments to the javascript Date constructor, but actually validates a date in reql format.

@Tryneus

[2016-08-26 21:33] deontologician opened #796 "Elasticsearch plugin for full text searches."
This is a pretty critical part of any reasonably complex app, and RethinkDB doesn't provide these capabilities at all, so it'd be nice to have an official elasticsearch plugin

[2016-08-27 00:40] deontologician commented on #521
We probably need to check if this is still the case

[2016-08-27 00:40] deontologician commented on #458
We should add a test for this

[2016-08-27 00:43] deontologician commented on #401
With all of the changes in the server for 2.0.0 we should verify this is still happening

[2016-08-27 00:44] deontologician commented on #410
Need verification this is happening in 2.x.x

[2016-08-27 00:46] deontologician commented on #230
Needs verification this doesn't currently work

[2016-08-27 00:48] deontologician commented on #196
Needs validation this is still happening in 2.x.x

[2016-08-27 01:07] deontologician commented on #278
@dalanmiller was this fixed by #603?

[2016-08-27 01:11] deontologician commented on #228
going to merge this into #576 which is a more general proposal

[2016-08-27 01:11] #228 closed

[2016-08-27 01:13] deontologician commented on #552
I think this is subsumed by #576

[2016-08-27 01:13] #552 closed, assigned to nobody

[2016-08-27 01:14] deontologician commented on #576
Implementing write ops as terminals that accept parameters will also make this work better with template permissions (see the closed #552). I think there are significant advantages to doing this because the template permissions will actually become useful for write ops.

[2016-08-27 01:16] deontologician commented on #219
This may be possible now that we allow cors. Not sure

[2016-08-27 01:17] deontologician commented on #217
Is #794 related to this @dalanmiller @Tryneus ?

[2016-08-27 01:19] deontologician commented on #192
Closing since there's another issue for uws: #698

[2016-08-27 01:19] #192 closed

[2016-08-27 01:19] deontologician commented on #187
This is no longer the case

[2016-08-27 01:19] #187 closed

[2016-08-27 01:21] deontologician commented on #183
This could also be a plugin

[2016-08-27 01:22] deontologician commented on #559
Mentioning #794 and pinging @Tryneus to re-evaluate whether this issue makes sense still

[2016-08-27 01:24] deontologician commented on #547
This needs validation since 2.0.0 rewrote set/get-schema. Maybe @mlucy could comment if your concerns are addressed?

[2016-08-27 01:27] deontologician commented on #546
This was resolved in 2.0.0, we now have `hz_` prefixed secret tables in the app database.

[2016-08-27 01:27] #546 closed, assigned to nobody

[2016-08-27 01:29] deontologician commented on #496
I think the plugins branch has grown a proto-plugin for this.

[2016-08-27 01:30] deontologician commented on #494
We allow you to specify the db name now (the project name), so this is effectively resolved. #120 has the rest of the behavior I think

[2016-08-27 01:30] #494 closed, assigned to nobody

[2016-08-27 01:31] deontologician commented on #471
@Tryneus is this still necessary since we retry writes now?

[2016-08-27 01:32] deontologician commented on #441
We are now tracking this information in the Socket, and will likely have everything we need for this with #9

[2016-08-27 01:33] deontologician commented on #431
This is done in 2.0.0. It handles changing deps

[2016-08-27 01:33] #431 closed, assigned to nobody

[2016-08-27 01:34] deontologician commented on #428
I think #64 is going to make this easier.

[2016-08-27 01:35] deontologician commented on #398
I think this is going to be part of the server refactor for plugins/middleware.

[2016-08-27 01:36] deontologician commented on #388
This is subsumed by #70 and #186

[2016-08-27 01:36] #388 closed

[2016-08-27 01:36] deontologician commented on #378
We have .hz/schema.toml now in 2.0.0

[2016-08-27 01:36] #378 closed

[2016-08-27 01:37] deontologician commented on #368
I think this is subsumed by #311. Closing

[2016-08-27 01:37] #368 closed

[2016-08-27 01:39] deontologician commented on #688
Related to #796

[2016-08-27 01:40] deontologician commented on #651
I've decided this is dumb, so closing

[2016-08-27 01:40] #651 closed, assigned to nobody

[2016-08-27 01:41] deontologician commented on #637
This was done in 2.0.0

[2016-08-27 01:41] #637 closed, assigned to nobody

[2016-08-27 01:42] deontologician commented on #587
This is done in 2.0.0

[2016-08-27 01:42] #587 closed, assigned to nobody

[2016-08-27 01:46] #695 closed, assigned to nobody

[2016-08-27 01:47] deontologician commented on #670
Yeah, I think this just needs to ensure that the id is undefined, rather than being set to null.

[2016-08-27 01:47] #670 closed, assigned to nobody

[2016-08-27 09:17] zalmoxisus commented on #777
Created a connector for Redux DevTools extension: [horizon-remotedev](https://github.com/zalmoxisus/horizon-remotedev).

![mdvbojkek7](https://cloud.githubusercontent.com/assets/7957859/18026444/19d127ea-6c4f-11e6-80e5-d9197f771957.gif)

To use it just specify the horizon instance to monitor like:

[code]

To clarify, [Redux DevTools extension can be used with any architecture which handles the st

[2016-08-28 06:17] CharlesMcKeever commented on #176
I also develop internal systems that can't use social accounts. Having this as part of a plugin/package would good.

I am looking to migrate off Meteor, but can't use Horizon without this. So I will have to explore other options, which is unfortunate because I like the simplicity that Horizon offers.

[2016-08-28 16:54] nardeas commented on #795
Great! Are there any other specific types we should add validators for that we can come up with?

[2016-08-28 17:03] nardeas commented on #795
How about something like `isArrayEqual` or similar for comparing that arrays have exactly the same values? For example if I want to make sure that the user doesn't accidentally modify the default `groups` array in the `users` collection, but allow changing some other fields it would be easy to write a validator that checks `isArrayEqual(newValue.groups, oldValue.groups)`. This is perhaps more like

[2016-08-29 13:40] ivan-kleshnin opened #797 "Permissions in client"
How to check (in browser) if some operation is allowed?
Common need: to hide corresponding UI element.

[2016-08-29 15:07] ruskid opened #798 "Couldn't find preset "es2015-loose""
Fresh install of version 2. Still can't use horizon with React Native.

Error: Couldn't find preset "es2015-loose" relative to directory "/home/demin/startup/client/node_modules/@horizon/client"

Server version: 2
Client version: 2

[2016-08-29 18:34] arthurvi opened #799 "Client connection terminated after few minutes"
# The problem

After upgrading to Horizon 2.0 connection is closed after a few minutes. We didn't have this problem with version 1.x. There is an Nginx loadbalancer inbetween, but because v1.x didn't have any problems and nothing is changed in the Nginx configuration this couldn't be the problem, right?
## Chrome client console output

![image](https://cloud.githubusercontent.com/assets/3864426/18

[2016-08-29 20:33] encryptio commented on #799
Horizon 1.x used engine.io, and Horizon 2.0 switched to using websockets directly; this means there's no fallback to polling when the websocket connection messes up.

I think this is caused by the load balancer you have timing out connections - https://github.com/rethinkdb/horizon/issues/527 added keepalives inside the websocket connection once every 60 seconds, but it looks like nginx's default `

[2016-08-29 20:52] deontologician commented on #799
You can also modify the keepalive in your Horizon constructor `Horizon({keepalive: 15})` if you want

[2016-08-29 21:00] deontologician commented on #798
This could be a babel version issue, do you have babel installed globally?

[2016-08-29 21:05] deontologician commented on #797
There's not a way to do this programmatically, and it's probably mildly less secure than having it. You could do something like:
1. run a test query
2. If the query succeeds or fails, write to the `hz('users').update({id: userId, allowed_to_X: true})`
3. Use `hz.currentUser().watch()` to decide whether to show ui widgets.

This would be susceptible to editing by the user, but since it doesn't chan

[2016-08-30 05:03] shantanubhadoria commented on #176
Perhaps it might be simpler just to use something like passport integrated into horizon? MEAN uses passport as well and passport supports over 300 pluggable authentication strategies including username/password and all others like github, facebook etc. that horizon currently supports.
http://passportjs.org/

[2016-08-30 05:08] deontologician commented on #176
Yeah this is our current plan. We'll replace our current homespun auth
methods with a passport plugin basically.

On Mon, Aug 29, 2016, 22:03 Shantanu Bhadoria notifications@github.com
wrote:

[2016-08-30 05:15] shantanubhadoria commented on #176
@deontologician Awesome! +1 to that!

[2016-08-30 06:38] arthurvi commented on #799
Thank you! I will test the proposed solutions and report back.

[2016-08-30 06:57] arthurvi commented on #799
I found setting `keepalive` to `50` solved the problem without adding too much overhead. Thanks!

[code]

[2016-08-30 06:57] #799 closed, assigned to nobody

[2016-08-30 07:00] deontologician commented on #799
I'd say that's good evidence we should bump down the default

On Mon, Aug 29, 2016, 23:57 Arthur Visser notifications@github.com wrote:

[2016-08-30 07:05] ivan-kleshnin commented on #797
I don't see how it may be less secure. It should be kinda like HEAD HTTP request which pings backend to see what's there. In our case it should ping to see what's allowed.

Method you describe is not general. We can't check for update permissions if versioning is involved. It's a problem to check for remove permissions. All that needs some testing mini-framework, at least, with predefined "safe" s

[2016-08-30 18:15] lirbank commented on #798
@ruskid it doesn't work unless you remove the babel config, see this comment for details on getting it up and running https://github.com/rethinkdb/horizon/issues/255#issuecomment-241173730

[2016-08-30 18:40] lirbank opened #800 "[React Native] Add support for AsyncStorage"
Server version: 2.0.0
Client version: 2.0.0

React Native's version of localstorage is AsyncStorage, it would be great if it was supported out of the box. I spent some time trying to add it to [getStorage()](https://github.com/rethinkdb/horizon/blob/b28efce4ea0b68fb7ecc508065c9674dc98ef203/client/src/auth.js#L37) but I eventually ran out of time and found a possible workaround that I could do in m

[2016-08-30 19:12] danielmewes commented on #797
That sounds like we'll need some kind of `dry-run` functionality for this.

We can't generally test permissions without sending the query all the way through to the database, because there might be validator functions that rely on the actual contents of the documents that are being read or modified.

With a dry-run flag, we would actually perform all operations, except that writes would be turned

[2016-08-30 20:02] marshall007 commented on #797
@ivan-kleshnin it seems like it would be more robust to structure your permission `groups` in a way that reflects which portions of the UI should be visible. Then you can simply check if your user is a member of the group required by that element in the `hz.currentUser()` response.

[2016-08-30 20:08] marshall007 commented on #797
@deontologician we could even expose `hz.isMember('<group>')` as an `Observable<boolean>` if this is a common use-case.

[2016-08-30 22:01] deontologician commented on #797
We really need to figure out a story for dynamic groups. Right now, since they're so tied to permissions, we can't reasonably generate them on the fly, they're kind of like configuration. If we could build dynamic groups and dynamically apply permissions to them (maybe from some predefined pool), it would make it much more reasonable to use group membership to hide/alter elements of the UI.

I do

[2016-08-30 22:10] deontologician opened #801 "Spec out and implement dynamic groups"
Right now groups are static in practice. You must define your permissions by config.toml, and the groups are hard-coded there. Since the group definitions and permissions code are stored in the database, it's theoretically possible to modify groups dynamically, but the ergonomics are horrible.

It's really critical that users be able to create groups as data, and select the permissions that apply

[2016-08-30 22:11] deontologician commented on #801
Putting in medium term since we should wait until after plugins are implemented to do this.

[2016-08-30 22:33] deontologician commented on #797
I opened #801 to discuss dynamic groups. I think I'm leaning against `isMember` since it's implemented as `hz.currentUser().watch().map(u => u.groups.includes(groupName))`

[2016-08-31 09:16] ivan-kleshnin commented on #797
Thanks to all for the answers.
I agree that testing for groups membership should be enough for most UI switching cases.

[2016-08-31 16:52] deontologician commented on #800
This is a good idea, I wonder if we can do it in a point release since it's an interface change (but not likely one people use).

I am hoping to make 2.1 a "react-native works" release

[2016-08-31 16:56] deontologician commented on #510
Talking with @segphault yesterday, it probably makes sense to make a plugin for basejump, since a lot of this stuff has been hammered out already very thoughtfully.

[2016-09-01 06:34] MikeShi42 commented on #798
Yup just disable your babel config. Trying to get this at least noted in the docs in #750...

[2016-09-01 07:11] marcus7777 commented on #510
basejump? link please :)

[2016-09-01 20:18] shlomiassaf commented on #161
The scale of this project and the fact it's OSS is probably the best candidate for TypeScript.

Having TypeScript in you'r project makes it an open book.
No effect on runtime, more readability and navigation for new comers.

TypeScript = Inference + Type annotation
Flow = Inference, less annotations.

TypeScript's inference is miles ahead of Flow but that's not important, if you have type annotati

[2016-09-01 21:45] deontologician commented on #161
Not to single out anyone's comments, but for future commenters, let's not fill up this issue with discussion about flow vs. typescript. It's a big flamewar topic, which you can feel free to discuss on our horizon slack channel :)

[2016-09-02 01:46] #99 closed

[2016-09-02 01:47] deontologician opened #802 "Look into using Jest for testing"
https://facebook.github.io/jest/

It looks like it's got a lot of things we want like built in coverage etc. Also seems fairly mature in terms of capabilities.

[2016-09-02 01:48] deontologician commented on #99
Closing in favor of new speculative testing framework of the week #802

[2016-09-02 13:20] ni1s opened #803 "hz schema apply ignores rdb-user and rdb-password"
the return statement in processApplyConfig filters out rdb_user and rdb_password if set in the options.

[2016-09-02 14:05] jirikolarik opened #805 "TypeError: Cannot read property 'connection' of undefined"
Hi, I'm trying to create express server extending horizon.io following docs. How can I get connection configuration to run rethink query?

I tried

[code]

as it is in a documentation, but it says

[code]

Server version: 2.0.0
Client version: 2.0.0

[2016-09-02 14:12] jirikolarik commented on #805
Got it, it should be called on horizonServer instance and look somehow like this `horizonServer._reql_conn.connection()`.

[2016-09-03 17:51] KnowledgeGarden commented on #796
From https://www.elastic.co/guide/en/elasticsearch/plugins/2.4/intro.html: Deprecated in 2.3.0.
Site plugins and mixed plugins are deprecated and will be removed in 5.0.0. Instead, site plugins should either be migrated to Kibana or should use a standalone web server.  I think this means that, going forward, we need another approach.

[2016-09-03 18:00] deontologician commented on #796
This issue is for a Horizon plugin, so in their rubric above, this would
count as a standalone web server

On Sat, Sep 3, 2016, 10:51 Jack Park notifications@github.com wrote:

[2016-09-03 20:55] KnowledgeGarden commented on #796
Not so sure it's a Horizon server issue; near as I can tell, it might be possible to write extensions to the Java client to communicate with ES; just a conjecture.

[2016-09-03 21:06] lirbank opened #806 "Connecting to RethinkDB with a regular (non admin) user fails"
Server version: 2.0.0
Client version: 2.0.0

DB server set up through AWS Marketplace. Created a user and granted

[code]

I get:

[code]

If I use the rethinkdb `admin` user it works, but feels kinda out of control to let the app use the admin user.

[2016-09-03 21:29] lirbank opened #807 "horizon._reql_conn.connection is not defined"
Server version: 2.0.0
Client version: 2.0.0

See "Accessing the Rethinkdb r object" at http://horizon.io/docs/embed/

`horizon._reql_conn` is not defined, so `const conn = horizon._reql_conn.connection();` fails with `TypeError: Cannot read property 'connection' of undefined`

[2016-09-03 21:37] mdocter commented on #697
Tried @encryptio workaround by using the full URI with protocol as mentioned above, but then the horizon container won't start and still displays the following error:

[code]

Is there any way to work around this error?

[2016-09-03 21:40] mdocter commented on #697
Deleted my prev. comment. After I posted it, I spotted the 'rehinkdb' typo.

[2016-09-04 02:56] gutenye opened #808 "Add a cmd to create collections in production mode"
Production mode does not create collections automatically, so need a way to do it in cmdline. Something like:

[code]

Or add it to `schema apply` command?

[2016-09-04 08:13] gutenye commented on #808
`$ horizon schema apply` already support it :)

[2016-09-04 08:13] #808 closed, assigned to nobody

[2016-09-04 18:23] eprozium opened #809 "Does it work on windows?"
Does it work on Windows? e.g. Win 7 and 8 ?

Thank you.

[2016-09-05 17:38] shalaby commented on #765
any workaround or fix?

[2016-09-06 05:25] alexarsh opened #810 "Moving to horizon 2.0.0 and express"
Hi,

I moved to 2.0.0 and embedded my horizon app inside express and it totally broke my app.
[The errors I see in client](http://slexy.org/view/s2WOIPe8jJ)
In addition, my google login redirect me to:
https://my_site.com/https://my_site.com/horizon/google#/?_k=cuwus9
And my facebook login just fail and brings me to an empty page.

On the server, the only suspicious thing is when I run:
hz serve -

[2016-09-06 07:32] arthurvi opened #811 "Supply self requested oAuth token to Horizon"
Is it possible to supply a valid oAuth token (Github, Twitter, Auth0) to Horizon via the client? I'm asking this because we use Auth0 as provider. We have a web client and react native app and would like to use the custom extra signup fields from Auth0. Currently there is no way to use this with Horizon right?

It would be easier on react-native to use something like https://github.com/auth0/react

[2016-09-06 10:23] arthurvi opened #812 "Specify token manually after horizon is connected"
I work with react native and horizon-react. We use Auth0 as oauth provider. Login happens in a WebView and with some magic I intercept the token from the redirect URL. This token is saved to AsyncStorage and all goes well.
But when I intercept the token, I want to let horizon use the new token. The client is already connected with Horizon. I know I can supply my own token and on reboot this works

[2016-09-06 13:44] altschuler commented on #765
I'm also looking for a workaround :)

[2016-09-06 20:20] danielmewes commented on #809
@eprozium We've only tested the Horizon server on Windows 10, but there it works. You just need to get a recent version of node.js (4.4.0 or higher) and then install Horizon through `npm install -f horizon`.

The `hz serve` tool will look for a `rethinkdb.exe` binary in the current directory, so you'll have to download RethinkDB from https://rethinkdb.com/docs/install/windows/ and place the `rethi

[2016-09-06 20:20] #809 closed, assigned to nobody

[2016-09-06 20:24] eprozium commented on #809
So I guess it's also only 64 bit than :) .

[2016-09-06 20:34] danielmewes commented on #806
@lirbank This is currently a limitation of RethinkDB. We have to wait for RethinkDB 2.4 until using a non-admin user is going to become an option (then you'll be able to grant read permissions on the `server_status` system table to the Horizon user, currently it's not possible to do so).

@chipotle we should make sure to document this limitation for now. Currently only `"admin"` works for the `rdb

[2016-09-06 20:36] danielmewes commented on #809
@eprozium We currently only provide RethinkDB binaries for 64-bit Windows. You can compile RethinkDB from source for 32 bit Windows, but it would be quite a bit of setup work (you'll need a recent version of Visual C++ and Cygwin among others, see https://github.com/rethinkdb/rethinkdb/blob/next/WINDOWS.md ).

[2016-09-06 20:37] eprozium commented on #809
@dalanmiller Thank you for the information.

[2016-09-07 05:33] timothyclemansinsea opened #813 "Feature request: server_time function"
My experience with SageMathCloud has taught me that it is important to use server time not one's client time because people's clients are out of sync.

[2016-09-07 15:02] jimthedev commented on #798
Unrelated to this issue but es2015-loose has been deprecated: https://github.com/bkonkle/babel-preset-es2015-loose

[2016-09-07 15:10] jimthedev opened #814 "Remove babel-preset-es2015-loose. It has been deprecated."
For React Native to work I am attempting to get PRs approved upstream in https://github.com/bkonkle/babel-preset-es2015-loose but ultimately it looks like the project has been deprecated. Does anyone know what necessitates the use of this preset? Would it be worth forking it and maintaining it or could we move off to another preset?

[2016-09-07 18:03] danielmewes commented on #50
How similar is this to https://github.com/rethinkdb/horizon/issues/194 ? Should we consolidate these two issues?

[2016-09-07 18:04] danielmewes commented on #813
Thanks for the feature request @timothyclemansinsea . There has been some previous discussion on this in https://github.com/rethinkdb/horizon/issues/194 , and to a smaller degree in https://github.com/rethinkdb/horizon/issues/50 .

I'm going to close this as a duplicate.

[2016-09-07 18:04] #813 closed, assigned to nobody

[2016-09-07 18:08] danielmewes commented on #50
Actually the final proposal in https://github.com/rethinkdb/horizon/issues/194#issuecomment-214886239 seems to be equivalent to this. Even though this issue is older, #194 has seen some more discussion so I'm going to close this in favor of #194.

[2016-09-07 18:08] #50 closed

[2016-09-07 18:37] lirbank commented on #806
There is a PR from my fellow co-founder @ni1s for the rdb_user with embedded https://github.com/rethinkdb/horizon/pull/804

[2016-09-07 18:40] danielmewes commented on #806
@lirbank The fix for `rdb_user` and `rdb_password` being ignored in the CLI will not help with non-admin users though. I don't think there's much that can be fixed for this on the Horizon side, since Horizon relies on the `table_status` system table which isn't accessible for non-admin users in RethinkDB 2.3 (it will be in 2.4).

[2016-09-07 19:27] lirbank commented on #806
Sure, I got that, was just making a cross reference WRT "[embedded...] which is currently missing the rdb_user argument altogether".

[2016-09-07 19:51] danielmewes commented on #806
@lirbank Ah, thanks. I just meant that the documentation page about embedding Horizon was missing a mention of the parameters. (I've since opened a separate issue https://github.com/rethinkdb/horizon-docs/issues/117 in the documentation tracker for this).

[2016-09-07 19:51] danielmewes commented on #806
For email readers: "wasn't missing" was supposed to be "was missing".

[2016-09-07 22:43] yankeeinlondon commented on #176
Oh that sounds like a good idea but a change in direction. What led to that? And of course, the $10k question, when might that hit the shelves?

[2016-09-08 03:30] tonyxiao commented on #125
One big idea in GraphQL is presenting a single, unified API to the client even though under the hood it might be drawing data from many different sources. Will horizon support that? It almost seems that as application scale you'd want to write your own graphQL server that resolves some queries against RethinkDB and other queries against other data sources (SQL, external API, etc.)

[2016-09-08 06:19] tonyxiao commented on #125
@chrisabrams what's the best way for someone to get started using GraphQL with rethinkdb who needs real time support? Any workarounds until an official solution is available?

[2016-09-08 11:24] chrisabrams commented on #125
@tonyxiao if you want realtime support wouldn't you want websockets?

[2016-09-08 14:37] tonyxiao commented on #125
Possibly yea. Question is how to work with rethink db in this case.

[2016-09-08 23:53] danielmewes commented on #186
We should consider using ReGrid for this and allow storing the files directly in RethinkDB. https://github.com/internalfx/regrid

[2016-09-08 23:59] dalanmiller commented on #186
Either that or it might be simpler to just allow giving Horizon a B2, GCS,
or S3 token and bucket name and we can upload there?

2016-09-08 16:53 GMT-07:00 Daniel Mewes notifications@github.com:

[2016-09-08 23:59] danielmewes commented on #186
I think both are useful for different scenarios.

[2016-09-09 00:18] lavvy commented on #186
I think regrid should be closest to rethinkdb. I guess the team should consider it more especially for one deploying a self contained solution. It will be nice if rethinkdb should consider it the way gridfs is to mongo.

[2016-09-09 02:07] deontologician commented on #812
Not right now, you need to create a new connection with a token. This is since we authenticate with it, so the first message requires it (the handshake). You could abstract over this with Observables, but it would be annoying since any outstanding queries would get killed.

It's probably a good idea though to allow something like this eventually, like an `authenticate` message that upgrades a user

[2016-09-09 02:12] deontologician commented on #811
We talked about something like this, I think the consensus is that this isn't really the horizon client's job, the web app should make ajax requests to Auth0 itself.

That being said, we haven't decided where storing the oauth token should go. Right now that auth information is lost. I think  we should store it provider table and make it available on the user object, but there's an argument to be

[2016-09-09 02:18] deontologician commented on #810
It looks like this is nginx related, sending an http response code for `/horizon` instead of the websocket upgrade.

For reference, there's more discussion on this issue on the forums:
https://discuss.horizon.io/t/moving-to-horizon-2-0-0-and-express/509/12

[2016-09-09 02:20] deontologician commented on #807
ping @Tryneus

As an aside, it was a bad idea on our part to put an underscore prefixed variable into the official docs

[2016-09-09 02:24] #805 closed, assigned to nobody

[2016-09-09 07:43] arthurvi commented on #812
Yes thanks for the response, it would solve the problem with AsyncStorage and react-native and with future platforms that user other kinds of storage mechanisms (Keychain on iOS) for example

[2016-09-09 07:46] arthurvi commented on #811
Yes, sorry wasn't very clear, I also meant that the developer should be able to write custom JS code on the client to request a token with Auth0 or Github or .. and then supply this token to the horizon backend somehow. Because now Horizon server communicates with the oauth provider to request a token right?

[2016-09-09 08:19] Tryneus commented on #807
`_reql_conn` is defined on the server object, not the module (as you could be running multiple horizon servers with different rethinkdb instances backing them), this is incorrect in the docs.

[2016-09-09 11:59] yankeeinlondon commented on #765
Would love to see this get fixed but for what it's worth, i've got a working workaround for authentication that leverages an ajax call to Horizon's `horizon/auth_methods` to pickup the redirect URL:

[code]

[2016-09-09 12:24] yankeeinlondon opened #816 ""clearAuthTokens" not found instantiated on Horizon client"
Server version: 2.0.0
Client version: 2.0.0

I'm noticing that when I try to logout/un-authenticate a user using the documented `clearAuthTokens` I get an error. You can see the error from the Chrome debugger below along with some debugging I did directly afterward with a breakpoint set right before the error.

![2016-09-09_13-17-55](https://cloud.githubusercontent.com/assets/980757/18386711/8d1dc

[2016-09-09 12:25] yankeeinlondon commented on #816
As a temporary work-around I'm just removing the JWT token from localStorage directly but clearly this is quite "hacky".

[2016-09-09 14:54] albertjan commented on #816
Shouldn't you be calling the static function `Horizon.clearAuthTokens()`?

http://horizon.io/api/horizon/#clearauthtokens

[2016-09-09 15:43] yankeeinlondon commented on #816
ahhh. yes that's it. I need more sleep. closing.

[2016-09-09 15:43] #816 closed, assigned to nobody

[2016-09-09 16:02] lavvy opened #817 "horizon on RPI"
hello guys please could you keep an arm compatible docker image for test. A Dockerfile.armhf would be nice. Many of us test rethinkdb on rpi and its pretty fast.

[2016-09-09 16:37] bali182 opened #818 "Who uses Horizon?"
So far I have only been playing with Horizon, but I'd love to see a list of projects that use it in production.

[2016-09-09 17:46] dalanmiller commented on #818
Hey @bali182 you should definitely check out https://discuss.horizon.io/ and join us on slack at http://slack.rethinkdb.com.

There's a few people gearing up to put Horizon applications in production.

[2016-09-09 17:46] #818 closed, assigned to nobody

[2016-09-09 17:47] dalanmiller commented on #817
Hey @lavvy, Docker just released 1.12 with ARM compatibility I think two weeks ago. Do you have experience in building images for ARM? Can they also be hosted on Docker Hub?

I'd love to get this going!

[2016-09-09 18:41] dalanmiller commented on #765
@deontologician would we want to just add another flag for this in the CLI?

[2016-09-09 19:04] deontologician commented on #765
Either that or default to allowing any headers needed for cors by default.

On Fri, Sep 9, 2016, 11:41 Daniel Alan Miller notifications@github.com
wrote:

[2016-09-09 19:26] lavvy commented on #817
Yeah, Daniel its pretty simple. You have to substitute the base os with an
arm substitute.
In this case, it will be
FROM node:5-slim
Will be
FROM hypriot/node:5-slim

And then build in an arm platform like rpi or scaleway ci.

I pretty much built it and it built successfully but i couldn't test it cos
i haven't learnt rethinkdb and horizon too well
On Sep 9, 2016 1:47 PM, "Daniel Alan Miller" noti

[2016-09-09 19:35] dalanmiller commented on #817
Awesome! I'm working on it now actually.

First step is to build a RethinkDB image, there seems to be some support for the `resin/rpi-raspbian:jessie` image as well. I think the Horizon server image will be much simpler.

[2016-09-09 19:37] lavvy commented on #817
Ok cool

[2016-09-09 22:39] deontologician commented on #803
Fixed in #804

[2016-09-09 22:39] #803 closed, assigned to nobody

[2016-09-09 22:45] deontologician commented on #458
Going to close since no one else has reported this

[2016-09-09 22:45] #458 closed, assigned to nobody

[2016-09-10 03:03] lavvy commented on #817
@dalanmiller were you able to build and test it

[2016-09-10 14:21] lavvy commented on #154
Any update?  Is there a feature of adding custom reql queries through the web ui

[2016-09-11 23:53] deontologician commented on #769
https://github.com/benjamn/recast/blob/master/README.md could be nice for generating the code for this

[2016-09-12 13:15] Xample commented on #125
Any information on how a GraphQL server is supposed to broadcast its changes to the client ? AFAIK currently FB has kept this feature private. However, if there is several GraphQL servers / clients which should be cross compatible, there must be a community-driven solution for those push notifications. What is the current status ?
[edit] just found https://github.com/apollostack/apollo-server/issu

[2016-09-12 20:58] danielmewes commented on #125
@Xample That is indeed one of the open questions. We haven't settled on anything there yet.

[2016-09-12 21:33] stubailo commented on #125
We just shipped an initial version of GraphQL subscriptions, it works with any JavaScript backend for frontend: https://medium.com/apollo-stack/graphql-subscriptions-in-apollo-client-9a2457f015fb#.t92z7dsb3

Here's a work in progress package to wire up to Redis: https://github.com/davidyaha/graphql-redis-subscriptions

It would be cool to have something like that for RethinkDB as well!

[2016-09-12 22:26] deontologician commented on #781
Just an update, we closed this since we removed the --config option altogether. There are now several configuration files, and it's better to just have it look in the default location, rather than adding a new flag for each config file.

[2016-09-12 22:31] deontologician commented on #807
Closing since this was basically a docs issue.

[2016-09-12 22:31] #807 closed, assigned to nobody

[2016-09-12 22:31] deontologician commented on #810
Going to close since it looks like this was sorted out

[2016-09-12 22:31] #810 closed, assigned to nobody

[2016-09-12 23:42] marshall007 commented on #769
@deontologician see my comment on using `yeoman` for this kind of stuff [here](https://github.com/rethinkdb/horizon/issues/117#issuecomment-184515025). I also kind of think this issue is just a dupe of #583. If we're still considering providing generators for front-end code I don't see why we would generate backend/plugin code differently.

Furthermore, instead of a separate command, `hz eject`, I

[2016-09-13 06:57] Xample commented on #125
@stubailo I just saw it this morning, excellent! Yes definitely a RethinkDB based example supporting subscriptions would be awesome.

[2016-09-13 07:03] cometta commented on #125
you mind want to have a look at https://github.com/mattkrick/cashay  , similar like Apollo but with more features. Yes, it has subscriptions as well.

[2016-09-13 09:54] simoncarpinter commented on #637
See https://github.com/rethinkdb/horizon/pull/820 :)

[2016-09-13 14:35] jeveloper commented on #125
Hey folks, i thought RethinkDB team mentioned that GraphQL was meant to go into 2.0 version which shipped.
Is there anything in 2.0 that can do graphql?

thanks

[2016-09-13 14:37] deontologician commented on #125
No graphql yet, though it is not forgotten. We need to get some
foundational work in first (plugins)

On Tue, Sep 13, 2016, 07:36 Serge Bornow notifications@github.com wrote:

[2016-09-13 18:36] segphault commented on #510
@marcus7777 the github repo is here, but there isn't much documentation yet: https://github.com/segphault/basejump-router For more details, you can check out the YouTube video of a presentation where I demoed an early version of it: https://www.youtube.com/watch?v=UxFgkCUiRAI

[2016-09-13 19:56] deontologician commented on #255
Just an update, this isn't dead. I'm trying very hard to get react native up and running (endless configuration troubles). I now understand why you react native people are so persistent, it's a gauntlet getting the default app to work.

_Update_: It works!
![selection_093](https://cloud.githubusercontent.com/assets/1366/18490525/3d7eea5e-79b7-11e6-9b84-2409afb675b0.png)

[2016-09-13 20:22] deontologician commented on #769
@marshall007 There's a couple of things going on here:

You're right, we should use yeoman for this stuff, since they've spent a lot of time making the generator experience nice and we're now actually accumulating a good amount of generators.

I disagree, I think this particular use case warrants its own issue, since it needs to do some things differently than a from-scratch generator. It needs to

[2016-09-13 20:33] dalanmiller opened #822 "Embedding examples are now out of date with Horizon 2.0"
Need to revamp following examples:
- [ ] express
- [ ] hapi
- [ ] koa

[2016-09-13 21:25] marshall007 commented on #769
@deontologician makes sense, I agree with everything you said.

One caveat being that I don't think `eject`ing the backend into the same repo is gonna be the common case. I think it's much more likely that once you get to that point, you'll want to manage backend stuff in a separate repo. Managing a project with multiple/nested `package.json` is notoriously painful and I'm not sure we wanna lead p

[2016-09-13 21:41] tvld commented on #781
thanks for the update...  ))

[2016-09-13 22:47] deontologician commented on #769
Right, I think we should let them specify where to eject to, the same directory seems bad for the reasons you mention, people like to keep front/backend code separate.

I can see where you're coming from, but I think the way we have no-magic is by importing the utility libraries explicitly, and having comments in the file saying what they do. For me, magic would be having a framework run my code f

[2016-09-13 23:37] marshall007 commented on #769
@deontologician sometimes it seems like we're trying to solve these problems from both ends. `hz init` could just create `.hz/server.js`, a boilerplate `express` app preloaded with middleware and/or Horizon plugins that implement config parsing and other default behavior. We could generate a more formal, documented directory structure with things split out conventionally too, which might be nicer.

[2016-09-13 23:46] marshall007 commented on #769
@deontologician so tl;dr I'm saying why not have `hz init` generate all the code you're talking about `hz eject` do. Migrating back and forth would be easier if we just had users specify validators and stuff in convention-based JS files rather than as JS snippets embedded in TOML configs (that we may migrate to JS files later anyway).

[2016-09-13 23:55] deontologician commented on #769
The reason I think it's better to have an explicit  eject step is because the code we use in `hz serve` etc is going to be much more general than we'd want to give to the end user.

So internally, we'll likely have code that looks like

[code]

And I think the code ejected should be something like:

[code]

etc. The idea being since it isn't dynamic, we can make config and imports more explicit.

[2016-09-14 00:23] marshall007 commented on #769
@deontologician my thought is that the generated code would have something like `.hz/plugins/index.js` which would just contain:

[code]

At any point I can stop using the dynamic plugin loader and manually load/configure plugins however I want in that file. I can also use the dynamic loader in conjunction with any simple inline plugin definitions I choose to write. I think you were on to somethin

[2016-09-14 00:31] marshall007 commented on #769
I just don't see a compelling reason to lock down the `hz serve` workflow so tightly. All (or at least most) users are developers and I think laying all this out explicitly on the filesystem would make things more approachable, not less. If you were already the type of user that treated the `.hz` directory as a black-box then it wouldn't affect you anyway.

I'm just having trouble seeing why we sh

[2016-09-14 01:52] deontologician commented on #769
There's an issue of surface area we're exposing as well. So you mentioned above the issue of changing the internal representation. If we keep the code of hz serve an internal detail, we're free to modify it. If we explicitly expose it and say "write whatever js you want here", we have less flexibility to make changes. If we keep the phases separate, we can maintain backwards compatibility even if

[2016-09-14 02:04] deontologician commented on #255
Ok, a fix is up in #823 if anyone wants to try it out. Be aware that if you do, you need to build the package and install it, you can't just `npm link` it since it will still pick up the babelrc file

[2016-09-14 02:28] marshall007 commented on #769
As far as I can tell, the public surface area is roughly the same in both cases. As I hinted at, you'd probably want the generated code to produce something like `Config.loadDynamicPlugins()` because you should still get dynamic plugin loading behavior after you `eject`. That means the "configurator" stuff has to be part of the public API anyway. Moreover, the dynamic plugin loader just produces a

[2016-09-14 20:35] meyerzinn opened #824 "Support HOCON for configuration."
In order to make Horizon's configurations DRY (Don't Repeat Yourself) and easier to reason about, I propose a migration to the (HOCON)[https://github.com/typesafehub/config/blob/master/HOCON.md](Human-Optimized Config Object Notation) format.

Here is a comparison of TOML and HOCON:

[code]

vs

[code]

or

[code]

or

[code]

Any valid JSON is valid HOCON, so we could create online GUIs for this.

[2016-09-14 22:54] altschuler opened #825 "Expose skip command"
It would be very helpful to have the `skip` command exposed on collections. I know there is an open issue for a pagination api (https://github.com/rethinkdb/horizon/issues/31), but just having the `skip` command would be useful in itself.

[2016-09-14 23:07] danielmewes commented on #825
The risk with exposing a `skip` command is that someone could use it for performing a DoS attack against a Horizon server.

Currently, all Horizon commands have the property that the cost for executing them on the server is (more or less) proportional to the amount of data that the command returns to the user.
This in principle makes it harder to DoS a Horizon server (even though at the moment thi

[2016-09-14 23:58] KeKs0r opened #826 "FindAll not returning the expected result"
Server version: 2.0.0
Client version: 2.0.0

I am experiencing a very weird behaviour with findAll. I am currently trying to deploy my horizon app.

So to make this easier, I have a local development setup and change my horizon server to either connect to my development or production rethinkdb server.

I am using the following query:

[code]

The weird thing is that it returns a result for my deve

[2016-09-15 00:40] lirbank commented on #255
Yes, https://github.com/rethinkdb/horizon/pull/823 seems to solve the babel-loose problem!

[2016-09-15 09:36] jonatansberg commented on #811
In addition to what @arthurvi is saying, this is needed in order to use something like https://github.com/auth0/lock-passwordless. It would also make it easier to work around the issues with the current auth/user system until the plugin api is released.

[2016-09-16 03:30] almstrand opened #827 "Insert throws Unhandled error in request"
It is not well documented that documents in the `users` table must define a `groups` property. The earlier CLI document (https://github.com/rethinkdb/horizon-docs/pull/106/commits/bcbc1a3de614d9247a223965092d443036ea95da) and several independent sources online suggest adding users like so:

[code]

If a user is added that way, without a `groups` property, and Horizon is initialized as follows ...

[2016-09-17 15:11] altschuler opened #830 "`serve_static` does not respect the directory given"
The `serve_static` option in `config.toml` doesn't seem to respect any other path than `dist`. If I put in for instance `serve_static = "dist/dev"` it serves an error page with `File "dist/index.html" not found`.

I don't get any `Serving static files from ...` in the console output (not with debug mode enabled either), so I'm not sure if the option is being processed at all.

I have the following

[2016-09-17 23:17] zwhitchcox opened #831 "error in examples"
I cloned this repository and tried to run the example for hapi, and I get this error:

[code]

Server version: 2.0.0
Client version: cloned from here

[2016-09-18 01:55] zwhitchcox opened #832 "jspm system import not working"
installed with `jspm install npm:@horizon/client`

import with: `import { client } from '@horizon/client'`

Getting this error:

[code]

Server version:2.0.0
Client version:2.0.0

[2016-09-18 01:55] zwhitchcox commented on #832
It looks like the entire util folder is empty for some reason

[2016-09-18 01:56] zwhitchcox commented on #832
Is there anything I can do short of manually copying these files....why wouldn't they be included?

[2016-09-18 02:05] zwhitchcox commented on #832
Ok, it looks like horizon installs like 3 different directories in the npm packages for whatever reason, and it's looking for the wrong files in the wrong place...is there a fix for this?

[2016-09-19 14:42] zwhitchcox opened #833 "hapi server example doesn't work for me"
The hapi server example doesn't work...it says the web socket connection connection times out...
#### server code

[code]
#### client code

`horizon.js`

[code]

`Home.js`

[code]
#### error

[code]

Server version: 2.0.0
Client version: 2.0.0

[2016-09-20 14:38] samdesota opened #834 "Couple of issues with new typings in @horizon/client"
Hey All,

Thanks for adding typings to the horizon client! Really helps with my workflow.

I noticed a couple of issues, though. First, `fetch()` and `watch()` are incorrectly typed to return `TermBase` when the should return a observable. Like this

[code]

I imagine this is a mistake, but possibly it's an API change?

Also, if I want to create a function that explicitly accepts a `HorizonInstanc

[2016-09-20 19:04] marshall007 commented on #834
@mrapogee thanks, `.fetch()` and `.watch()` returning `TermBase` is my mistake. I threw the typings together really quick and didn't spend much time testing. I'll get another PR up with all the changes you mentioned. Let me know if you stumble across anything else that's missing/incorrect in the public API.

[2016-09-20 20:29] samdesota commented on #834
Hey,

Couple more things.
- Some methods were missing from `HorizonInstance`.

[code]
- You need to add this line to your src index.js

[code]

This is because of the way typescript resolves imports. Typescript basically compiles `import Horizon from '@horizon/client'` to `require('@horizon/client').default`. But,since you are using `export = Horizon` in your index, `.default` will be undefined.

[2016-09-21 00:18] marshall007 commented on #834
@mrapogee is this still true in the latest versions of Typescript? In the project I was working on (using `angular-cli`) the `import Horizon from '@horizon/client'` compiled and ran fine for me.

[2016-09-21 00:19] marshall007 commented on #834
I think Microsoft/TypeScript#5285 may be related (fixed in v1.8).

[2016-09-21 00:31] marshall007 commented on #834
@mrapogee also, `.clearAuthTokens()` is only defined statically. I added the other two missing methods though. Just let me know on the TS module resolution thing and we'll be good to go.

[2016-09-21 00:38] #834 closed, assigned to nobody

[2016-09-21 02:54] samdesota commented on #834
I'm using `typescript@2.1.0-dev.20160826` and it resolves to undefined without it. I think it works if you use the `system` module system with typescript, but many people aren't going to want to change their module system for a package, and for various reasons often can't.

[2016-09-21 03:12] marshall007 commented on #834
@mrapogee if you're not using `system` module for code generation, then shouldn't you be using `const Horizon = require('@horizon/client')` rather than the `import` syntax anyway? I'm not sure you're supposed to expect that to work otherwise. I could be wrong though, can you point to any docs?

**[edit]:** also, did you try using the `--allowSyntheticDefaultImports` compiler option? This seems to

[2016-09-21 03:42] samdesota commented on #834
Checkout https://www.typescriptlang.org/docs/handbook/modules.html

Doing `const Horizon = require('@horizon/client')` won't import types. It just sets `Horizon` as type `any`

But, I can do `import Horizon = require('@horizon/client')` for a module that exports a function directly, but that means you need to change your index.d.ts to `export = Horizon`, as  Microsoft/TypeScript#5285 shows. If you

[2016-09-21 06:55] GeoffreyPlitt commented on #680
Is there an ETA yet on Horizon+Compose compatibility?

[2016-09-21 10:30] nstadigs commented on #522
Saw this presentation about this from elm-conf by @abadi199:
Presentation: https://www.youtube.com/watch?v=fTHHn7NhU3w
Source code: https://github.com/abadi199/elm-horizon

[2016-09-21 10:47] tvld commented on #833
yeah.. .same here... It's mind boggling why it is so hard to simply require horizon/client (I use it on a backend)

[2016-09-22 01:36] coffenbacher commented on #120
This seems like a rather big show-stopper for anyone looking to migrate existing RethinkDb based apps on to Horizon for a rather small issue (automatic index management). I'm surprised this issue isn't more popular...

I'm not familiar with Horizon's architecture yet since I was just starting to look into migrating to it, is it feasible to partially manually manage Horizon's automatic tables in or

[2016-09-22 01:52] deontologician commented on #120
So right now the main things horizon has been focusing on is the new app
experience. Eventually we want to support existing apps but there is a
large amount of work to get there. It's easier if we can assume things are
set up a certain way, so that's why it's like that at the moment.

On Wed, Sep 21, 2016, 18:36 coffenbacher notifications@github.com wrote:

[2016-09-22 18:49] almstrand commented on #31
If rethinkdb/rethinkdb#4909 is implemented, can the existing Collection API be modified to support an `offset` function? For example:

[code]

or perhaps

[code]

[2016-09-22 18:52] sunjay commented on #31
@almstrand Are you looking for `skip()`?

https://www.rethinkdb.com/api/javascript/#skip

Edit: This is referring to horizon, sorry. That's a rethinkdb function.

[2016-09-23 01:00] arden commented on #59
why? there still have no ios/android client sdk?

[2016-09-23 01:42] timothyclemansinsea opened #836 "Ensure Digital Ocean One-Click Install Image is up to date"
I stupidly used the Digital Ocean One-Click Install Image. Now I'm dealing with the pain of my stuff having been unknown to me created with a very old version of Horizon.

Server version:
Client version:

[2016-09-23 17:11] lirbank opened #837 "Non 'id' primary key should not requires a secondary index too"
Server version: 2.0.0
Client version: 2.0.0

I have a table where the primary key is `address` instead of the default `id`. When querying the table I can't use `find({'some address'})`, since it will then query the `id` field, which doesn't exist. Fair enough, `find({'address': 'some address'})` will do the trick.

Now Horizon complains that there is no index on `[[address]]`, so I have to add a s

[2016-09-24 02:08] rrdelaney commented on #777
Just an update: I added user support in my dev tools (https://github.com/rrdelaney/horizon-devtools)

Im going to start the work to make it more modular this weekend, so hopefully I can put it in the chrome devtools panel.

[2016-09-24 04:02] marshall007 commented on #837
@lirbank did you create your tables manually? There's currently no way to configure the primary key field for a collection. Both the client and server make assumptions in code that `id` is the primary key. I'm surprised if you've had any success at all attempting otherwise.

[2016-09-25 06:27] almstrand opened #838 "request_id missing from handshake error responses"
When a handshake request fails because of the following reasons, the response is missing the `request_id`:
- Unauthenticated connections are not allowed
- Anonymous connections are not allowed
- Unknown handshake method XYZ

For example:

[code]

===>

[code]

I'm tinkering with a Horizon client for Android. Without the `request_id` in the response, it makes it challenging to look up and invoke th

[2016-09-25 20:00] jirikolarik opened #840 "Horizon and Auth0"
Hi, I'm trying to get embedded horizon (express.js) to work with Auth0.

When I use code from readme which redirects me outside, everything works just fine

[code]

But when I try to use popup provided by Auth0 (Auth0-lock 10.2.0) and set token I got in callback like this:

[code]

then I get this error:

[code]

Am I missing something?

Server version: 2.0.0
Client version: 2.0.0

[2016-09-25 21:13] adrianbrink commented on #59
Is there any movement on this? Also, what is the current process to get it to work with an iOS client? Do I have to expose all then desired endpoints manually using express.js?

[2016-09-25 21:22] deontologician commented on #59
If you want to write an ios client, it's fairly simple. You need a
WebSocket library for swift or whatever, and you need to implement the
protocol document located here:
https://github.com/rethinkdb/horizon/blob/next/protocol.md

In the js client we use observables, but you'd be free to implement
whatever interface seems most natural for ios

On Sun, Sep 25, 2016, 14:13 Adrian Brink notifications@

[2016-09-25 21:46] mbalex99 commented on #59
I think it will be critical to offline data with something like RealmDB
On Sun, Sep 25, 2016 at 2:22 PM Josh Kuhn notifications@github.com wrote:

[2016-09-26 11:19] jirikolarik commented on #840
Found it, horizon uses `HS512` algorithm but AuthLock is using `HS256` and then secret code used to verify the token is not taken from auth provider, but from horizon server options.

To keep horizon compatible with default auth0, we should allow to change algorithm on horizon or auth0-lock side

[2016-09-27 03:42] carlospliego opened #841 "metadata from OAuth providers"
As per the documentation: http://horizon.io/docs/auth/1

"Currently, no metadata from OAuth providers—for example, friend/following lists— can be requested. In the near future, Horizon will support authentication scopes for selected providers to request access to these details, and returned metadata will be stored in the Users table."

I deeply need support for this. Any idea on when this will be

[2016-09-27 04:17] zoshe commented on #176
May want to consider grant. Much smaller and cleaner
https://github.com/simov/grant

[2016-09-27 16:25] vignestion opened #842 "How to Watch particular record in Horizon ?"
`
messages.find({name:'liveit'}).fetch().watch().subscribe(function (sl) {
            this.setState({
                live:sl.text
            })
        }.bind(this))
`

[2016-09-27 16:27] deontologician commented on #842
Just take out fetch, you want .find().watch()

On Tue, Sep 27, 2016, 09:25 Vignesh Warar notifications@github.com wrote:

[2016-09-27 17:01] #842 closed, assigned to nobody

[2016-09-28 05:14] darkyen commented on #840
I am curious is it not possible to specify the signing algorithm on horizon side?

[2016-09-28 08:38] AilisObrian commented on #840
yeah, why don't we just pull out these two values as a option?
[cli/src/make-token.js#L58](https://github.com/rethinkdb/horizon/blob/73b8281b0f0348e03b781cb32d923d7b5eca4ef0/cli/src/make-token.js#L58)
[server/src/auth.js#L17](https://github.com/rethinkdb/horizon/blob/40623f43fe3fc3ed05c97167b6f0885316289ec3/server/src/auth.js#L17)

[2016-09-28 14:47] amborle commented on #666
We need multi-tenancy without a custom back-end to realize our app.  Do you guys know where to take this feature or do you need some additional input?

With regards to isolation, we would expect separate Rethinkdb databases per organisation.

[2016-09-28 19:56] eliezedeck commented on #508
This is actually kind of a roadblock for development thru proxy.

I created a Vue.js app, and I'm using Webpack with proxy configuration, where the main Horizon backend act as a normal backend and auth. I'm developing for a Facebook auth right now, and it's forced with a https://127.0.0.1:8181/... `redirect_uri`, whereas my main Webpack app is at http://localhost:8080. The Webpack is important bec

[2016-09-28 20:30] victorosario opened #843 "How to use horizon io with express Node js?"
I am new to rethinkidb and horizon.I just wanna do React app Which use node js and horizon io.This is my First attempt setup this.And I have No idea How to do this.Thanks in advance.There No Error is coming from this code.But this code should store the value Its not working.

server.js

[code]

Main.js

[code]

index.html

[code]

[2016-09-28 20:38] eliezedeck commented on #508
Because I needed to go further anyhow, I can now confirm, that even after HTTPS is enabled, it would still redirect to `https://127.0.0.1:8181/?horizon_error=session%20expired#_=_` with an error.

Not sure if that's a confirmed bug.

[2016-09-29 08:45] tailsu commented on #635
How do we work around this? Is there an easy way to convert this object to a regular Date object? Like, maybe, `new Date(o.created.epoch_time)` ? Or do you suggest that we don't store Date objects, but instead store timestamps, `date.getTime()`?

[2016-09-29 09:01] tailsu commented on #635
Maybe copy the object before storing it, and copy the returned id back to the original copy? Hairy...

[2016-09-29 09:03] tailsu commented on #635
The same problem occurs with `collection.update`.

[2016-09-30 00:35] zwhitchcox commented on #833
Great support.

[2016-09-30 02:33] zwhitchcox commented on #831
For anyone else confused by this, you have to do `require('@horizon/server')`

[2016-09-30 02:33] #831 closed, assigned to nobody

[2016-09-30 02:50] zwhitchcox commented on #833
For anyone else confused by this, you have to specify that you are not authenticating (wish they told you that in the examples!!!)

Anyway, I made a [barebones working express app here](https://github.com/zwhitchcox/horizon-express-example), if anyone else is interested.

[2016-09-30 02:50] #833 closed, assigned to nobody

[2016-09-30 07:11] tvld commented on #833
Sorry about my non-constructive rant... Realizing this might not be a bug but a learning curve my side, I picked the discussion up on [Horizon discuss](https://discuss.horizon.io/t/horizon-client-in-node-js/587/3)  and forget to close it here.

Many thanks for the example, where you include the _server_ and not the _client_   In my case the  solution was to add `global.WebSocket = require('ws');`

[2016-09-30 07:49] abecks commented on #834
Is it possible to include the Horizon Client with type definitions right now? I'm still pretty new to Horizon and TypeScript, but shouldn't this be close?

[code]

Also it appears the NPM version doesn't have the definition file yet, so I copied it into my project manually. Can't get it to recognize the name of the module for the life of me.

[2016-09-30 08:37] alf opened #844 "Please provide more details in onSocketError"
Currently it's impossible to identify the cause of connection errors since this information is swallowed in https://github.com/rethinkdb/horizon/blob/next/client/src/index.js#L50. We do get an error status from https://github.com/rethinkdb/horizon/blob/next/client/src/socket.js#L147, but since there are no details about the reason this does not help us much.

Our problem is related to #248. We wan

[2016-09-30 12:04] zwhitchcox commented on #833
Haha, this was my issue...so you might have one open somewhere else! And I understand the frustration haha... new technologies are hard. That's what I love about open source though, if something is going wrong, you can just fix it yourself. With firebase, you would have to open a support ticket, and wait for someone else to fix it, and you wouldn't learn anything...I actually learned a lot just by

[2016-09-30 14:01] vignestion opened #845 "Uncaught Error: Operation not permitted."
Is this a bug or My mistake I don't know what's going on Just trying to add test values to database
App.js

server.js

[2016-09-30 15:43] samdesota commented on #834
It's working with this `tsconfig.json`. You probably just need `moduleResolution` set to `node` and you can add `"typings": "index.d.ts"` to the `@horizon/client` `package.json`.

[code]

You can import it like `import Horizon from '@horizon/client'`, but you'll need to add `Horizon.default = Horizon` to the end of `@horizon/client/lib/index.js`. That's my current setup and it's working great.

[2016-09-30 17:49] condorman opened #846 "+1"
+1

[2016-09-30 18:40] abecks commented on #834
Thanks for the help. I still can't seem to get it to recognize the import path. I added the `moduleResolution` parameter to my tsconfig.json, which now looks like:

[code]

and my `Horizon.tsx` file:

[code]

I do have `@horizon/client` installed in `node_modules`, and I modified the `package.json` and `lib/index.js` accordingly.

Still getting the error `Cannot find module '@horizon/client'.` Any

[2016-09-30 18:43] #846 closed, assigned to nobody

[2016-09-30 18:53] marshall007 commented on #834
@abecks the typings I've added have been merged into `next` but not released. If you manually `npm install @horizon/client@next` they should get picked up automatically.

[2016-09-30 18:59] abecks commented on #834
Nevermind, I was missing the index.d.ts file still. I copied it over from the master here and now the import is recognized.

Thanks @marshall007 I'll switch to `next` now.

[2016-09-30 22:09] abecks commented on #834
Hey @marshall007, getting the following npm error when trying to install the `next` branch.

[code]

[2016-09-30 23:54] marshall007 commented on #834
@abecks yea, I was wrong. I thought you could use that shorthand, but apparently that only works for actual npm releases, not git branches. @lirbank has a workaround in #790.

[2016-10-01 04:49] vignestion commented on #838
Did you add this in your server side as well as client side authType:anonymous or unauthenticated

[code]

[2016-10-01 19:41] vignestion opened #847 "How to make Multiple indexes for same collections values"
I need indexes like this

`fields = [["vid"]]`

and

`fields = [["ip"],["vid"]]`

My try

[code]

thorws me a error like this

[code]

[2016-10-02 09:18] sprmn commented on #847
Worked for me like this:

[code]

However, in my opinion there should be an easier way.

[2016-10-02 11:02] vignestion opened #848 "TypeError: horizon_server._reql_conn.read is not a function"
How to use reql embed quries with horizon

[code]

[code]

[2016-10-02 20:35] jirikolarik commented on #848
Hey, something like that wouldn't work?

[code]

[2016-10-02 20:37] jirikolarik commented on #845
Set permissions to false, then you don't have to care if operation is permitted or not

[2016-10-03 07:50] sedubois opened #849 "User-friendly GraphQL dashboard"
Does horizon.io intend to provide something similar to graph.cool, a web-based interface to visually configure and deploy a GraphQL backend without the need to install anything?

[2016-10-03 09:24] arthurvi commented on #840
Just changing the signing algorithm wouldn't solve the problem right? Because the secrets are still different.
Can't we just authenticate ourselves with Horizon by supplying an Access Token obtained from Lock instead of the Authorisation Code?

[2016-10-03 09:27] arthurvi commented on #811
Is it ok to add an extra endpoint to https://github.com/rethinkdb/horizon/blob/next/server/src/auth/auth0.js
where we can supply an `idToken` or `accessToken` instead of an `Authorization Code Grant`?

[2016-10-03 10:30] zoshe commented on #849
BaseJump.
https://github.com/segphault/basejump-router/pull/2

[2016-10-03 11:11] sedubois commented on #849
Thanks, will be interesting to follow 😊 But that doesn't provide an all-in-one GraphQL backend-as-a-service, AFAIK.

[2016-10-03 15:47] timothyclemansinsea commented on #131
@deontologician could you please provide the exact code to npm link the server directory?

[2016-10-04 18:53] jhicken commented on #154
@segphault are you working on a branch? or a separate project? Can I help? Is there a list of outstanding tasks?

[2016-10-06 06:43] arthurvi opened #850 "RethinkDB is shutting down (company behind horizon)"
Sad news today :(
https://rethinkdb.com/blog/rethinkdb-shutdown/

Horizon and RethinkDB are both beautiful projects and have lots of potential. We should workout a way to keep the horizon train going. Will there be any update from the team about the current progress? The most notable active projects are Plugins and React Native support right? Any more on this list and the current status?

Thanks!

[2016-10-07 11:48] yankeeinlondon commented on #850
Is there anything the community can do to help out an effort to move this forward without the helpful umbrella of the Rethinkdb company? Will be PR's be brought into the product time effectively? Also wondering, were any conversations with Microsoft had about them contributing $$$? It just feels like they're in a aligned position to get behind this kind of a stack. Their DB story is quite antiquat

[2016-10-07 18:41] marshall007 commented on #850
@ksnyde we're definitely looking for active community members who are interested in contributing to the project going forward. Join us on [#open-rethinkdb](https://rethinkdb.slack.com/archives/open-rethinkdb) in Slack and let us know if and how you'd be willing to help out in the [Google form](https://goo.gl/forms/tFjI4JI4AvIcPi3D3).

[2016-10-08 02:04] segphault commented on #154
I'm not actively working on this feature at the moment. Due to all of the code churn in Horizon, I've had to rewrite the dashboard's backend integration code three times now. I've been waiting for Horizon plugins to land, because I believe that the plugin system will make it dramatically easier to build and maintain the instrumentation and custom queries that are needed to support this kind of das

[2016-10-08 18:26] jhicken commented on #154
@segphault Thanks thats a very helpful update.

On a side note I saw your presentation on basejump. I am super interested in it. But I looks like you have only made the router public. Is the UI not public for the same reasons you mentioned above? specifically... the churn? I would also be interested in pitching in on that ui.

Sorry everyone for kinda veering off topic.

[2016-10-09 15:10] MichalZalecki commented on #848
@jirikolarik Not quite

[code]

@githubitsme Try `_ready_promise` instead of `read()`.

[code]

[2016-10-10 13:36] tailsu commented on #176
Well, the Horizon client can already use JWT's that have been generated by other means with the `Horizon({authType: {token: ...}})` constructor. This means that you can use Passport (or whatever) to authenticate your users, generate the JWT token server-side and pass it to the client app through the login API.

I snatched the code that generates the JWT from the source code of the `hz make-token`

[2016-10-12 04:54] timothyclemansinsea opened #851 "Add to cli a make-secrets option"
When people git clone a Horizon app they typically won't have a secrets.toml. I believe an option to create one should be added to the CLI.

[2016-10-15 23:15] lgastako opened #852 ""Uncaught Error: Operation not permitted" should be catchable"
Server version: 2.0.0-beta-7
Client version: 2.0.0-beta-7

I am executing a query like this:

[code]

And I see "saving..." but then no "ok", "err", or "boom" and then get this error uncaught at the top level:

[code]

NB. None of that is code that is in my control.

I would expect this to come back in the failure branch of the subscription, or at the very least be able to be handled somehow.  The

[2016-10-16 22:25] jirikolarik commented on #840
Exactly, changing algorithm is not enough, secrets are different. If we do both, it still doesn't give us enough informations. Hashed response from `horizon.authEndpoint` contains also horizon's users id (and it also creates new user, when he doesn't exists). This is missing when authenticating directly with auth0-lock. This is important also for React Native, there is no possibility to authentica

[2016-10-17 07:30] arthurvi commented on #840
@jirikolarik We use a WebView on React Native for now, but for a good user experience this has to be solved. It would be better if we add an extra endpoint to horizon server where you can specify an auth0 token instead of an auth0 code for authentication.

[2016-10-17 12:35] jirikolarik commented on #840
How does that work with WebView? I know that horizon on web takes parameters automatically from url on redirect back, but I couldn't image how would that work with React-Native, I have to try this approach temporarily.
Yes, for sure, I'd have to take a deeper look on horizon, how to achieve that, but unfortunately I have to move on with application and not spend hours/days with authentication. I'l

[2016-10-17 13:03] arthurvi commented on #840
Bit off topic, but in React Native a web view accepts the prop
`onNavigationStateChange={this.handleNavigationChange}`

[code]

Then in `handleNavigationChange` you can extract the token from the URL

[code]

After you intercepted the token, save it in the AsyncStorage

[code]

We reset the app completely after obtaining the token, but there should be another way to prevent reloading the entire ap

[2016-10-17 19:33] jirikolarik commented on #840
Works perfectly, thanks! I'm not sure, what's your reason for reloading entire application, but you can change horizons token on the fly by using `horizon.utensils.tokenStorage.set(token)` and you're authenticated, try `horizon.hasAuthToken()` and you will see, that everything worked as it should

[2016-10-18 07:06] arthurvi commented on #840
Cool thanks! Didn't know about that functionality :)

[2016-10-23 14:03] jonlambert opened #854 "Basic example app not connecting"
When creating a new app via `hz init`, the client fails (silently) to connect.

Steps to reproduce:

[code]

Browse to the Horizon server. The `/horizon/horizon.js` client script is loaded successfully, however the `h1` tag is never populated with the success message. `onReady` is never called, and any attempts to perform actions on the database are unsuccessful.

No errors in the client console,

[2016-10-24 16:16] zwily commented on #6
I really like how Firebase handles presence, so made a quick stab at adding it to Horizon:

https://github.com/zwily/horizon/commit/0b1f169af8d13b733441ef816c1ca890bf55841f

Basically, it lets you specify commands to run server-side when your client disconnects. The commit above includes an example of how to use it in the react-chat example. I'm going to add some tests and submit a PR, but this is

[2016-10-26 07:42] sdwlig commented on #854
I was having the same problem.  Things worked well for a while, then stopped suddenly.
It may be your auth token, anonymous or otherwise.  If so, this cures it.  This is related to total lack of error reporting for certain connection & auth issues.
 Horizon.clearAuthTokens();

[2016-10-26 09:46] jonlambert commented on #854
Thanks for your suggestion @sdwlig, but no such luck. I've tried using the above method both in the console and before calling `.connect()`. This is unbelievably frustrating.

[2016-10-26 16:43] sdwlig commented on #854
We need full trace and logging on both the client and server about what's going on, which steps fail, etc.  I'll work on that if I can get to it.

Also make sure that your schema allows operations for your connection.  This is my wide-open starting point, which got me past another sticking point earlier:
.hz/schema.toml:
[groups.unauthenticated.rules.read]
template = "collection('messages').anyRea

[2016-10-26 23:52] jonlambert commented on #854
Thanks for your suggestion, but unfortunately that hasn't fixed it! Is this a problem you're also experiencing? Or perhaps an issue with my environment?

[2016-10-27 00:05] sdwlig commented on #854
I was just having the expired token problem.  The permissions issue was a few days ago.  I'm OK now, but only because I turned off all security, etc.  The biggest problem I know that I have is using the Horizon integrated mode with Node + Express while also being able to service Express routes (get / etc.) at the same time.  (And really also my own websocket server routes.)  The way that Horizon c

[2016-10-28 03:45] mfferreira commented on #120
For me, it's out of the question migrating the data. There's just too much at risk.
Is there any chance of this feature being completed in the near future?

[2016-10-29 01:41] Rob-pw opened #855 "[Info] Error during WebSocket handshake: Invalid status line"
Hi:

I am new to horizon and have been trying to establish a connection from my front-end. For a while I was receiving this cryptic error, thrown on `horizon.connect()` which could not be caught using a try/catch. I googled and could not find anything horizon specific on this.

Turns out, I was connecting based on this message:
`Connecting to RethinkDB: admin @ localhost:28015`

When I should've b

[2016-10-29 20:06] 32graham commented on #444
It looks like PR #650 says it resolves this issue. Does that mean I can now query on a nested property with `.findAll`?

I'm wanting to do something like this:

[code]

[2016-10-29 22:58] mfferreira commented on #497
Looking forward to a solution for this too.

My use case is very similar to @threepointone's.
The schema is pretty complex and has different layers of access.

[2016-10-31 22:31] marshall007 commented on #444
@32graham yea, IIRC that should work fine now. Let us know if you run into any issues.

[2016-10-31 22:40] marshall007 commented on #444
@32graham IIRC this was released in 2.0 so that should work fine now. Let us know if you run into any issues.

[2016-11-01 11:41] huv1k commented on #508
Hey, friendly ping any news? :)

[2016-11-03 14:02] Penagwin commented on #508
@Huvik If you are looking for a quick fix right now try changing [line 108 in utils.js](https://github.com/rethinkdb/horizon/blob/07dc43e7b2a6e869e332be7b7c6b314db7d95ad1/server/src/auth/utils.js#L108) to what you need

[2016-11-04 07:38] sea129 opened #857 "horizon_token not saved to localstorage"
Server version: 2.0.0
Client version: 2.0.0
[code]
Browser redirect with "horizon_token" in query param and a new user inserted to users table, However, token is not save to localStorage.
Where did I do wrong?

[2016-11-04 11:38] sea129 commented on #857
just figured it out
In the redirection page, I have to instantiate a horizon client to fire the following, which is in the horizon client

[code]

[2016-11-04 11:40] #857 closed, assigned to nobody

[2016-11-04 18:18] corysimmons commented on #125
What's the status of RethinkDB + Horizon now that the company side sank?

If this isn't going to be added anytime soon, can a contrib remove this:

![image](https://cloud.githubusercontent.com/assets/224636/20017332/82bf4018-a299-11e6-8fe8-38d657dd6df7.png)

[2016-11-06 21:58] 32graham commented on #444
@marshall007 I don't think finding by nested field is working.

My `appointment` data looks like this (I have added the `stylistId` at the root of an `appointment` to work around this issue but I would rather not have it there.

[code]

When I try to filter to they nested `stylist.id` I don't get any results or errors. When I use the `stylistId` that is at the root of an `appointment` it works as

[2016-11-06 22:07] deontologician commented on #444
We added syntactical support in indexes, but it's not actually implemented
as a feature.

On Sun, Nov 6, 2016, 13:59 Josh Graham notifications@github.com wrote:

[2016-11-06 22:14] 32graham commented on #444
@deontologician
For now is the best workaround just to put any id's you need to filter on at the root of the object?

Is this a feature the team would like to have added? Is it doable by a project outsider (someone not very familiar with the project)?

[2016-11-06 22:39] deontologician commented on #444
I would say yes, that's the best workaround. We did want to add it, though
I don't think it's the highest priority at the moment. PRs are welcome,
though it may be a big feature given that it touches many parts of the code.

On Sun, Nov 6, 2016, 14:15 Josh Graham notifications@github.com wrote:

[2016-11-07 07:19] seddonm1 commented on #194
hi guys, as this is fairly useful how about this quick approach in `writes.js`:

[code]

The benefit of this approach is the timestamp is added to any write with server time as `createdAt` (using `$hz_...$` to denote system generated field). It is then able to be used as a basic method for validation (`newVal.previousCreatedAt === oldVal.createdAt`) if the client is out of sync with the server (as

[2016-11-10 17:58] marshall007 commented on #125
@corysimmons the former RethinkDB engineers are still settling in at Stripe. @Tryneus just got back from vacation and is still working on the new plugin system for the 3.0 release. It involves a lot of cross-cutting changes, so it's kind of a blocker on most other things. Once we get that release pushed through you can expect more active development and it will be much easier for contributors to g

[2016-11-10 18:07] corysimmons commented on #125
Awesome. I have some cool/secret ideas for this db. :O

Glad it ain't dead.

[2016-11-10 20:16] jeveloper commented on #125
Thanks @marshall007  !

[2016-11-13 19:03] shahabio commented on #125
👍

[2016-11-13 22:56] seddonm1 commented on #176
@tailsu good idea. Have you actually built this pattern and if so do you have a repo?

[2016-11-14 09:50] tailsu commented on #176
@seddonm1, here you go:

https://github.com/tailsu/horizon-custom-login

[2016-11-14 09:55] seddonm1 commented on #176
Thanks @stefan. You should post it in the #horizon slack channel.

On 14 Nov. 2016 20:50, "Stefan Dragnev" notifications@github.com wrote:

[2016-11-14 18:27] tailsu commented on #176
Please post that for me, thanks!

Am 14.11.2016 10:56 schrieb "Mike Seddon" notifications@github.com:

[2016-11-16 20:44] nevf commented on #58
Progressive Web Apps and offline first are gaining momentum. There is real need for _fully fledged_ database capabilities in the Browser that can be used offline, with _sync + conflict resolution_ back to the server when a connection is available again. This could be days or weeks later.

By fully fledged I mean all CRUD operations, so from the user's perspective the app has all the same functiona

[2016-11-17 16:50] paulocoghi commented on #58
This is the point.

[2016-11-18 08:07] SimulatedGREG commented on #799
Just wanted to insert my feedback to say changing `proxy_read_timeout` in nginx to 80 and setting `@horizon/client`'s `keepalive` to 50 resolved my disconnection issues. Hope this helps somebody out there. 😄

[2016-11-18 08:11] seddonm1 commented on #799
Also updating rxjs to rc.2 allows reconnection to work. I have had to manually resubscribe connections for reliability but seems ok so far.

[2016-11-24 04:04] joejordanbrown opened #859 "Bug - ID validation"
### Client version:
**Latest**

When an object is inserted using insert, store and upsert with an empty id shouldn't it generate a UUID?

Example:
[code]

should return
[code]

not
[code]

That's how you'd expect it to work right?

[2016-11-29 21:58] marshall007 commented on #859
`""` is considered a valid primary key value in RethinkDB (as is any `string`, `bool`, or `number`). I don't really think it makes sense to make any special case exceptions on the client to the constraints RethinkDB already imposes.

The server will generate a UUID for the document when no `id` field is provided by the client.

[2016-11-29 21:58] #859 closed, assigned to nobody

[2016-12-06 02:42] j209 commented on #125
Any news?!

[2016-12-12 16:33] tvld commented on #850
I think the community is [picking up nicely](https://docs.google.com/document/d/1f8qODp7voKIqwioQ3si69q3-ruc7h3ncfH0KoHYv_4k/edit)

[2017-01-01 15:09] mrjcka commented on #852
I got the same error and I think it is because of permission on schema.toml on server?

*Sorry that I wasn't able to confirm at the moment

[2017-01-01 15:15] hieunc229 commented on #840
@arthurvi Thanks for the solution, one advice I had is AsyncStorage isn't a great solution as its async characteristic. Most of the time it will return a promise instead of an actual token key.

My solution was using Realm instead (might need to created a customize Realm with schemas as a node modules and import from auth.js and from application, etc.)

[2017-01-03 08:08] beenotung opened #862 "Doc mismatch with Javascript object"
hz version: 2.0.0

In the [doc] (http://horizon.io/docs/users/), there is a code snippet:
[code]
However, the shortcut `horizon.users` does not exist.
Also, the fetched object doesn't have `data` field.

[2017-01-10 02:14] franciscolourenco commented on #58
## Hoodie
A generic backend with a client API for Offline First applications
https://github.com/hoodiehq/hoodie

[2017-01-10 07:49] nevf commented on #58
@aristidesfl Have you actually used Hoodie and if so how did your project work out.

I personally find the Hoodie website and documentation quite difficult to follow, with no clear explanation about what it actually is.

[2017-01-10 19:20] franciscolourenco commented on #58
@nevf I only played with it but the experience was very good. The website however has seen better days I agree. The docs are based on https://readthedocs.org/.

If you jump into their chat you will receive awesome support.

[2017-01-15 16:10] kingdomcreation opened #863 "UnhandledPromiseRejectionWarning"
Server version: 2.0.0
Client version: 2.0.0

[code]
output:
[code]

Press `ctrl+c`

UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Horizon server is shutting down.

DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit code.

[2017-01-18 01:14] theorye commented on #765
@ksnyde

I'm at this same issue and I'm not sure how to fix this with your example.  Where is this.horizonServerURI() coming from?

[2017-01-19 08:20] vignestion opened #864 "Refused to set unsafe header "sec-websocket-version""
I don't know why this poping up and my whole real time functionality is not working  ...
Ok First I got this error websocket not defined I fixed it by setting it global variable And after that i got bunch of errors like this

Loo this screenShot

[Error Screen Shot](http://i.imgur.com/i6EKSSt.jpg)

[2017-01-20 14:54] szimek commented on #687
Are there any updates on this feature? Is Horizon still being developed?

[2017-01-26 23:35] ajarbol commented on #9
I would like to add that to achieve the desired effect with RxJS 5 and my current latest version of horizon (`^2.0.0`) I had to perform the following modifications:
[code]
It will, as mentioned, re-emit the initial state, which isn't a problem in my case.

[2017-02-06 16:33] jumasheff commented on #850
Good news:

"...Cloud Native Computing Foundation (CNCF) purchased the rights to the RethinkDB source code and contributed it to The Linux Foundation under the permissive ASLv2 license..."
https://rethinkdb.com/blog/rethinkdb-joins-linux-foundation/

I think this issue can be closed now.

[2017-02-06 17:46] rnenjoy commented on #850
Pretty awesome news!

[2017-02-10 19:47] nbclark opened #866 "Add more complex filtering using Validators"
Currently using validators for read operations only serve to either validate all documents in the result set or trigger an error. Given the limited server-side filtering support, we've been a bit stuck with how to implement group ownership of documents, and restrict read access those documents only to the owners. The validator is close, but we want the server to be able to filter out documents fro

[2017-02-13 20:17] riyadhzen commented on #866
Hi.
Thank you so much for taking the time to look at the horizon project.

Can you please provide a use case or an example where your addition might help instead of blocking at query time (a simple example will suffice).

One more thing, do you believe that going forward with an option that might have performance implications is a good idea (please try to clarify in your answer).

Thanks in advanc

[2017-02-15 03:32] nbclark commented on #866
Hey Riyadh,

Love the work you've done with horizon. We are looking to implement a variant of a chat application, where we want a conversation between 2 or more people, but want to restrict access to only those involved in the conversation. Typically we would model this as { userIDs: [1,2,3], createdBy: 1 }, or something to that effect.

With horizon, the whitelisting permissions are a bit simple,

[2017-02-18 23:28] riyadhzen commented on #866
Hi. I wonder if the following helps

lets say you have the following schema for users:
[code]
Now you can use the following validator function to allow users only to chat in rooms that they belong to (I assume that value contains name of chat room that it belongs to):
[code]

I believe that this overcomes the following which you mentioned in your reply

this means that you can construct a chat roo

[2017-02-20 09:50] ghost commented on #521
I can confirm the same issue (Docker rethinkdb/horizon:v2.0.0 connecting to rethinkdb:2.3 and also using "latest").

In Safari (I'm on a 10.11.6) when trying the default chat from http://horizon.io/docs/getting-started/ you get a blank page, when trying the Vue chat from https://github.com/rethinkdb/horizon/tree/next/examples/vue-chat-app the HTML text is not rendered and the input box does not re

[2017-02-23 04:50] atomicleopard commented on #457
Is this documented? I can't see it referenced anywhere in the Collections docs

[2017-02-23 06:17] riyadhzen commented on #457
I don't think that I have seen this in the documentation. Thanks for pointing this out though because it is very important to unsubscribe in SPAs.

I haven't looked at the source code, but basically if you keep the subscription open in a single page application that is only needed in a given component, your horizon instance will keep getting data on changes, even when that component is destructed.

[2017-02-24 03:18] tohagan commented on #58
If you're wanting offline sync support you might want to have a look at [Superlogin](https://github.com/colinskow/superlogin/). It's based on Couch/Pouch but adds Node/Express/Passport to do authentication and a feature complete user account management API that can be used side by side with Passport's OAuth for Google/Facebook/Twitter etc.  Great documentation & demo. Includes a nice client side A

[2017-02-24 03:32] juliobetta commented on #58
Couldn't agree more with @tohagan. I've been using pouchdb and superlogin for a while... CouchDB/PouchDB/Superlogin are really awesome!

[2017-02-24 14:27] lgleim opened #869 "Ionic DB - Commercial fork of Horizon/RethinkDB"
Hi, this is especially targeted at @adamdbradley, @brandyscarney, @danbucholtz, @mlynch, @dwieeb, @mlynch, @mhartington, @nphyatt and anyone else working on the commercial [fork](https://www.npmjs.com/package/@ionic/db) of Horizon called [Ionic DB](https://ionic.io/db).

Since RethinkDB [just became part of the Linux Foundation](https://rethinkdb.com/blog/rethinkdb-joins-linux-foundation/) and is

[2017-02-28 19:12] Khalid-Nowaf commented on #869
this is interesting !
I think now many company are interested in RethinkDB, since the Apache License is suitable for them now!

this will make RethinkDB great again <3 !

[2017-02-28 20:35] nphyatt commented on #869
@Igliem Thanks for the message! As far as contributing back what we've done to Horizon/RethinkDB I'd love to contribute back what I can. For RethinkDB itself we are just using it as is with no modification but I have done some work on Horizon. We tried to contribute back what we could easily with a few PR's but we've since diverged somewhat (changing the API a little, auth changes specific to Ioni

[2017-02-28 20:56] riyadhzen commented on #869
@nphyatt Thanks for taking the time to answer this question and I wish you the best with your project.
One thing that caught my attention in your answer is the reconnection logic that you are implementing in your horizon fork. Currently I am doing application level auto reconnects on the client side without modifying the code base. My Implementation has nothing special in it (just watching for sta

[2017-03-01 05:39] sp90 commented on #216
Bump, whats the status on this, anyone working on it?

[2017-03-01 10:29] lgleim commented on #869
@nphyatt Thank you very much for your response. It is great to hear that you are open towards recontributing your improvements to the project and there has actually been lots of interest in just the feature you implemented. It is actually one of the longest standing open issues: https://github.com/rethinkdb/horizon/issues/9

I hope you succeed with IonicDB and can find some time to port your impro

[2017-03-01 10:44] lgleim opened #870 "[Proposal] Support for OpenID Connect (OIDC) Authentication (obliterating own user management)"
I would like to propose support for a generic OpenID Connect authentication adapter. OpenID Connect is a standardized protocol and simply an authentication layer on top of OAuth 2.0.

It is already supported by an increasing number of public identity providers, including Google, Microsoft Accounts, Microsoft Azure AD, Salesforce, Paypal, Amazon Cognito, Auth0 and many more.

Both clients and serve

[2017-03-01 16:28] lgleim commented on #161
Is this still on the roadmap? I would be really interested in seeing this happen soon, especially now that everything about this project is changing anyway. I can tell you as a developer used to typescript code and just going through all the details of the current codebase, having type annotations (especially for options) and inline documentation would make this code sooo much more accessible...

[2017-03-05 23:05] jirikolarik commented on #848
I got it working like this:

[code]

[2017-03-07 01:37] Skintillion opened #871 "debug: Rejecting Client without 'rethinkdb-horizon-v0' protocol()"
Connecting using NativeScript I get this error.

`debug: Rejecting client without "rethinkdb-horizon-v0" protocol ().`

Horizon Command:

`hz serve --dev --debug true --bind all`

Nativescript code:

[code]

https://github.com/rethinkdb/horizon/blob/a11ac62921d44ad951001c511a78b4324aef9bc0/server/src/server.js#L38

the variable is set correctly

`var PROTOCOL_VERSION = 'rethinkdb-horizon-v0';`

It

[2017-03-08 01:38] somombo commented on #201
https://github.com/rethinkdb/horizon/pull/436

[2017-03-10 10:14] lgleim commented on #850
@marshall007 Can you provide some insight into the status of the transitioning efforts? I am currently right at the edge of hard forking to our companies' private repositories... I do think it is despicable not to recontribute but I am not going to spend hundreds of hours maintaining compatibility with an unmaintained project without any plan forward either.

[2017-03-10 10:29] lgleim opened #872 "Roadmap"
@deontologician, @Tryneus, @dalanmiller, @coffeemug, @danielmewes, @flipace
Horizon is currently unmaintained. I think its a shame and would like to get some insight into the status quo:

* Who is/feels currently responsible for the project?
* Who are candidates for future project ownership?
* Is there a roadmap?
* Before RethinkDB shut down there were major refactoring efforts being undertaken -

[2017-03-10 12:08] flipace commented on #872
hi @lgleim, i'm not sure what's the current state of horizon itself and have not been contacted by any of the rethinkdb folks about it too (I have not been a RethinkDB employee)

I could spare some time to work on some issues and help out on the repository if I get some clear picture about where it should go / who's the future lead of this project. I know that there are a couple of other people in

[2017-03-11 02:45] sp90 commented on #872
I would love to join in aswell if i can be of any help i really think its a cool project, and worth keeping alive. Ping me and i will see what i can do

[2017-03-11 02:52] somombo commented on #872
@flipace Thank you for keeping us in the loop. It makes all the difference to know that our messages regarding continuation are even being read. Much appreciated .. small feedback better than none.

This project has great potential.

[2017-03-11 08:21] riyadhzen commented on #870
I totally agree with keeping the user management at a minimum, from my use case I see that auto reconnects and easier server side validation are far more  important at this stage. I say this because I am embedding horizon in my application so adding complex logging is just a usual Express hack, but I don't believe that this would be the case if I was serving my app with horizon (via hz cli). So it

[2017-03-11 08:25] riyadhzen commented on #850
@lgleim Can you give some insights on the things that you worked on in your fork, as this can really be helpful to show how people are working with horizon and the difficulties that they are facing.

[2017-03-11 16:39] deontologician commented on #872
Might want to ping @marshall007 and @mglukhovsky

[2017-03-11 16:42] deontologician commented on #872
The major refactoring is #865 .

[2017-03-11 17:51] riyadhzen commented on #872
pinging @marshall007 and @mglukhovsky. It would be nice to know if anything is on the way with regards to this project.

My personal thought is: this project started on Oct 25, 2015 and after almost one year it became something with big potential (I say this because of the real time functionality that sets this project and rethinkdb apart from other projects yet sadly the company closed). So I tru

[2017-03-13 08:56] lgleim commented on #869
@nphyatt I am going to close this issue. Hope to see your solution to https://github.com/rethinkdb/horizon/issues/9 ;)

[2017-03-13 08:56] #869 closed, assigned to nobody

[2017-03-14 22:50] LawJolla commented on #872
This question was answered over a month ago.

[Linux Foundation Now Governs RethinkDb](https://rethinkdb.com/blog/)

[2017-03-15 01:28] marshall007 commented on #872
First of all, I just want to say I appreciate how passionate everyone is about this project and I feel much the same way. Unfortunately the project is in a pretty weird state right now. As most of you know, there are some key issues that need to be addressed before Horizon can really be considered a "production-ready" and productive development tool.

Most, if not all, of these issues were being a

[2017-03-15 01:35] marshall007 opened #873 "Organizational Meeting (April 5th)"
Hey folks, we're planning on having a technical discussion on Hangouts for addressing current issues and concerns as well as outlining a roadmap for the future of Horizon. We'll have all current members of the leadership team as well as former team members available to answer your questions and discuss how we should move forward. Everyone is welcome!

I will post more details and a link to the Han

[2017-03-15 01:55] marshall007 commented on #850
@lgleim @riyadhzen see https://github.com/rethinkdb/horizon/issues/872#issuecomment-286613366. I'm gonna close this issue in favor of that one just so we can consolidate the discussion.

[2017-03-15 01:55] #850 closed, assigned to nobody

[2017-03-21 13:11] Alphapage opened #874 "Disable websockets option"
Hello,

I don't need constant polling or realtime update for my web app.
Is it possible to disable websockets and use only ajax ?

Thanks in advance for your answers.

[2017-03-21 13:38] somombo commented on #874
I'd say use `fetch` instead of `watch` see API docs. The former is used for
retrieving "pull" based  snapshots of the data  in a way that is
reminiscent of Ajax

See http://horizon.io/api/collection/#fetch

On Tue, Mar 21, 2017, 8:11 AM Alphapage <notifications@github.com> wrote:

--

Somo

[2017-03-21 14:07] Alphapage commented on #874
I agree with you, but I think (maybe I'm wrong) websockets are running when you start the client app.
That's why I'm asking for the question: I want to be sure that my client app will never be "realtime".
I will need to investigate deeper and snif in debugger tools or remove websockets package to see what is happening.

[2017-03-21 17:53] somombo commented on #874
You can simply use `horizon.disconnect` to disconnect a horizon connection (
http://horizon.io/api/horizon/#disconnect)

If polling is what you are worried about.. Note that websocket  is
typically only implemented as a polled Ajax on much older browsers using
polyfill libraries as a fall-back.

On Tue, Mar 21, 2017, 9:08 AM Alphapage <notifications@github.com> wrote:

--

Somo

[2017-03-21 21:09] mkr1481 commented on #873
I am interested. Pls share the details of meeting. Thanks

[2017-03-22 08:34] lgleim commented on #457
I think this should actually not only be mentioned but highlighted in the documentation. While somewhat common sense for anyone used to working with rxjs subjects, it is definitely a potential source of massive memory leaks and wasted network resources.

[2017-03-22 13:14] lgleim commented on #874
Generally I would say that using Ajax is sort of orthogonal to the entire idea of Horizon being "The realtime JavaScript backend". Thus I recommend you look into other Backends, such as http://hood.ie/ or https://pouchdb.com/.

If this answers your question, please be so kind as to close the issue as there are currently no moderators to do it for you.

[2017-03-22 13:48] laurenskvh opened #875 "Typo in embedded server documentation"
In the "accessing the rethinkdb r object" section the code says:

[code]

the read() is wrong as it should say ready()

This is rather confusing as read() looks like a perfectly valid method.

[2017-03-22 14:20] lgleim commented on #870
I have implemented OIDC ID Token auth. See above for details.

[2017-03-25 10:10] huv1k commented on #873
Can you please record it? :)

[2017-03-28 17:52] bodekbeska opened #876 "Error: Operation not permitted."
Server version: 2.0
Client version: running angular 2

import { Injectable } from '@angular/core';
const Horizon = require('@horizon/client');
@Injectable()
export class HorizonService {
 table = Horizon({host: 'ip_address_here:8181'});
  constructor() { }
}

This is what show in the debug scren

? Horizon ready for connections
debug: Client connection established.
debug: Received handshake: {"req

[2017-03-28 18:33] bodekbeska commented on #876
I did some more googling. Found out new property that was not in the original conf.toml document.
addedd permission=false and it worked. apologies.

[2017-03-30 01:15] ForsakenHarmony commented on #876
close this?

[2017-03-30 01:53] bodekbeska commented on #876
Yes pls

On Mar 29, 2017 6:15 PM, "Ashley" <notifications@github.com> wrote:

[2017-03-30 02:10] ForsakenHarmony commented on #876
you can close it, not me

[2017-03-30 02:20] #876 closed, assigned to nobody

[2017-03-31 18:44] marshall007 commented on #873
@Huvik you bet. I think we'll just be using "Hangouts on Air", so if you don't join the Hangout, you should still be able to stream the event live or after the fact on YouTube. Should be under the official RethinkDB account, but either way I'll make sure the link gets posted here.

[2017-04-03 22:31] somombo commented on #873
@nphyatt, As a follow up to #869, it would be really great to have you or anyone else from Ionic at this important meeting! We hope you can make it.

cc: @adamdbradley, @brandyscarney, @danbucholtz, @mlynch, @dwieeb, @mlynch, @mhartington

[2017-04-04 00:54] theckman commented on #873
@marshall007 Do you know if a time has been chosen for the meeting? We're down below 48 hours until the meeting is supposed to happen, and I'd like to block my time on the calendar if possible so that I can attend.

Also, congratulations on the wedding!

[2017-04-04 02:28] marshall007 commented on #873
@theckman thanks! Yea, right now the plan is April 5th, 6:00PM PST / 8:00PM CDT. I'll post a link to the stream as soon as we generate one.

[2017-04-04 05:47] marshall007 commented on #873
https://www.youtube.com/watch?v=EG0aucGzJE8

[2017-04-10 14:00] allain opened #877 "Let's Encrypt untrusted cert"
Server version: 2.0.0
Client version: 2.0.0

It would appear that let's encrypt needs me to specify the chain.pem file as well as the private key and cert.

When configuring apache all 3 files need to be specified:
SSLCertificateFile /etc/letsencrypt/live/$DOMAIN/cert.pem
SSLCertificateKeyFile /etc/letsencrypt/live/$DOMAIN/privkey.pem
SSLCertificateChainFile /etc/letsencrypt/live/$DOMAIN/chain.pem

[2017-04-11 00:50] allain commented on #877
I've confirmed that passing in ca resolves the issue when using horizon in an embedded context.

[2017-04-11 08:15] lgleim commented on #873
Thank you for recording the session! It has just been another week and I would like to know what your plans are. In the talk you said you wanted to clean up the https://github.com/Tryneus/horizon/tree/grey_plugins branch by @Tryneus within a week or two which I hardly find plausible.
I really would like to work on fixing up stuff but the lack of documentation on that branch is stunning. Basically

[2017-04-12 01:59] changalberto commented on #176
If Horizon's goal is to take the pain out of the initial scaffolding, this basic password authentication feature has to be built-in. There is no reason why we should be customizing this. Firebase, Loopback, FeathersJS, MeteorJS, ServerlessJS etc... They all offer this as an option. If you guys don't want to have the burden of taking on this basic authentication system, the community would at least

[2017-04-12 02:21] HailiaxInfinity opened #878 "iOS Websocket fatally fails when sending a frame over ~40kb"
Server version: 2.0.0
Client version: 2.0.0

On all iOS devices (Andriod untested), horizon simply throws and error and disconnects when trying to send a frame over about ~40Kb and is unable to recover. Receiving large frames are fine and there are no problems on any desktop I have tested. The error object thrown from `.watch().subscribe()` is `{"isTrusted":true}`, but I don't think this error mes

[2017-04-14 05:05] KylinWu commented on #521
@isaacuribe Awesome! It works for me.

[2017-04-18 13:34] #874 closed, assigned to nobody

[2017-04-20 12:59] lgleim commented on #872
Polishing and documenting https://github.com/rethinkdb/horizon/pull/865 is not really an easy feat for anyone but the author of all of the changes. People are waiting for this. Can you, the original developers,  please just take a day and provide some reasonable documentation. I'm happy to commit to the project and I think there are quite a few others.
You are blocking all progress by saying nobod

[2017-04-22 17:42] beenotung opened #879 "[bug] "find" is required"
## Version Info
Server version: 2.0.0
Client version: 2.4.0

## Desc
It receives error message `"find" is required` from the server when using order() and below() after findAll().

## Sample Code
[code]
## Error Message
`"find" is required`

[2017-04-22 18:01] beenotung commented on #879
It turns out it's my mistake on the below() usage:
`below()` take a filterObject, not a string

## Sample Fix
`below('salary', 'closed')` should be changed to `below({salary:123}, 'closed')`

However the error message is misleading...

[2017-04-22 18:01] #879 closed, assigned to nobody

[2017-04-24 16:17] syu93 opened #880 "Support for programmatic search filters in findAll method"
Server version: 2.0.0
Client version: 2.0.0

Is it possible to add the possibility to pass a list of filters to the findAll method, so we can programmatically add multiple filters to the request ?

It's possible just by changing the method signature and check the type of the parameter (if iterable), if not, fallback on iterate over the argument object.

[code]

[2017-05-03 15:01] rguillome opened #881 "Using "rethinkdb" as an alias for the hz serve CLI connect options would failed"
Server version: 2.0.0

I tried to run a dev environment from the current docker-compose.yml and get the following error when the horizon server started :
[code]

After several tests, i figure it out and It seems that the CLI hz replace the word __rethinkdb__ by and empty String when using it with the `--connect` option.

I fixed it by replacing the alias of the rethinkdb container : __rethinkdb__

[2017-05-04 03:20] anhtuank7c commented on #255
@smkhalsa How do you pass these error?
I repeat `npm install ../horizon/client/ --save` again and again, still stuck.
I have horizon install global already.
:(
![screen shot 2017-05-04 at 10 19 47 am](https://cloud.githubusercontent.com/assets/3163410/25689539/3ff09b44-30b3-11e7-9ffa-9a1c2726ce02.png)

[2017-05-16 00:31] sdebaun commented on #337
@deontologician I don't see any mention of add_request_handler there?  im still confused as how you can do pagination with this.

[2017-05-16 21:23] developer-tahir-saleem opened #882 "/usr/app doesn't contain an .hz directory"
I am run rethinkdb / horizon  docker image by using command

docker run -e RETHINKDB_URI=localhost:28015 -v /usr/app/ rethinkdb/horizon
show error
/usr/app doesn't contain an .hz directory

OS Ubuntu 16.4

[2017-05-18 09:24] syu93 commented on #882
If I recall right, you have to create yourself an .hz directory and put the config inside. It'll then be shared with your container and Horizon will use it to launch the application with your configuration

[2017-05-18 14:48] shahalam786 commented on #882
Trying to but wont be able to

[2017-05-18 22:21] sp90 commented on #125
@marshall007 @Tryneus what is the status on all of this - seems like its dead which i personally thinks is sad :(

[2017-05-18 22:57] corysimmons commented on #125
Rethink lives on, but this project seems dead guys...

[2017-05-19 06:38] rnenjoy commented on #125
I personally think horizon can die as long as rethinkdb lives on. What would benefit the whole realtime community was if someone could write an awesome plugin for apollo graphql server that would make graphql subscriptions easy peasy thanks to rethinkdb changefeeds.

[2017-05-19 08:34] Urigo commented on #125
@DxCx

[2017-05-23 06:00] kourindouhime commented on #255
@anhtuank7c
    cd ../horizon/client
    npm install
    cd yourapp
    npm install path-to-horizon/client --save

[2017-05-27 21:04] markusfalk commented on #697
Changing the docker-compose.yml to the workaround until fixin would have saved a lot of time too :-/

[2017-05-29 23:24] boustanihani opened #883 "Project dead ?"
Is this project dead?

The last commit was on Nov 3, 2016.

[2017-05-31 03:52] threefoldo commented on #883
This implementation is quite limited, only a few simple queries are supported. Maybe they are working on something more general.

[2017-05-31 06:37] nosykretts commented on #883
#850

[2017-06-05 21:09] coolcorey commented on #872
I'm game to contribute!

[2017-06-08 21:12] emeagenciadigital commented on #154
is this dead?

[2017-06-08 21:14] emeagenciadigital commented on #883
any news from the team?

[2017-06-09 07:51] luke-robertson commented on #176
Any update on this ?

[2017-06-27 04:53] Extarys commented on #883
They shut down but Linux Foundation took over the RethinkDB company
I really hope the project will continue <3

[2017-07-05 01:08] prateekvarma commented on #883
:worried:

[2017-07-20 15:14] ItsEcholot commented on #883
For anyone trying to access the official project website http://horizon.io (without https) works.

Can anyone from the core contribution / dev team take a stand on the projects future?

[2017-07-21 07:45] sp90 commented on #883
So sad to see this die out.....

[2017-07-23 09:06] rnenjoy commented on #125
What do you guys think of this?

https://github.com/apollographql/graphql-subscriptions/issues/93

[2017-07-25 03:49] ghost opened #886 "Website id down from last few days"
Server version:
Client version:

[2017-07-26 04:29] #886 closed, assigned to nobody

[2017-07-28 16:45] luisca-dev commented on #125
Any update?

[2017-07-29 01:53] cevarief commented on #883
This is cool. Someone does not maintain this any longer?

[2017-07-29 04:04] justsml commented on #883
So sad... such good tech. 😿

[2017-07-31 18:00] sjmcdowall commented on #125
Isn’t Horizon rather a dead project ??

[2017-08-05 07:37] magoomby commented on #852
launch with permission checking off in dev. `hz serve --dev --permissions no`

[2017-08-05 11:23] simonlc commented on #852
@magoomby That clearly does not solve his problem.

[2017-08-11 00:52] davidroman0O commented on #255
Hope one day it i'll be fixed and we won't have to make all of this tricky hack! :)

[2017-08-16 00:05] richardbarabe commented on #59
I'm thinking about using Horizon for a project so I stumbled on this thread.  I see it's been around a year now so I wondered if something had moved or if someone out there have made something since.  Is there news ?

[2017-08-25 02:35] shigurenimo commented on #883
I hope development will resume.

[2017-08-27 01:02] Extarys commented on #883
@ItsEcholot "Can anyone from the core contribution / dev team take a stand on the projects future?"

@deontologician @neumino @Tryneus any idea who we can tag/ask? :D

[2017-08-27 04:32] neumino commented on #883
The project is basically community driven now (as any other RethinkDB projects)

cc @marshall007 @KittyBot

[2017-08-27 07:42] Extarys commented on #883
Thanks for dropping by @neumino, I knew you would know who to mention in this to get people their answers.

Yes it is quite sad :(

[2017-08-29 03:31] bcw104 commented on #825
@danielmewes
count and skip is frequently-used in many applications. Security can be handled by the users themselfs.
1. skip and count api could be enabled by config in the server side
2. when skip or count api is enabled, we can deal with DoS attack by permission control

[2017-11-20 18:04] LennonSantos commented on #883
quite sad :(

[2017-12-04 13:41] nurmuhammet-ali commented on #883
The official site is no longer works seems like..

[2017-12-05 01:51] deontologician commented on #883
horizon.io is still up

[2017-12-05 02:36] srh commented on #883
Huh, I get
<img width="932" alt="screen shot 2017-12-04 at 6 36 14 pm" src="https://user-images.githubusercontent.com/258437/33587256-10a0925a-d922-11e7-9914-69a7ef6629d9.png">

[2017-12-05 06:29] deontologician commented on #883
Oh, you're right. I had to bust my cache. Whoops!

[2017-12-05 08:32] mmerdes commented on #883
Any chance to turn the documentation site on again or move it elsewhere?

[2017-12-10 09:54] jeremy-wischusen commented on #883
Same question here. Do the docs exist anywhere else?

[2017-12-10 16:26] deontologician commented on #883
I don't know, technically the source of the webpage should be a part of one of the repos for rethinkdb

[2017-12-11 09:11] mmerdes commented on #883
as far as i can tell the sources for the docs are here:
https://github.com/rethinkdb/horizon-docs

[2017-12-11 16:57] srh commented on #883
I'd like to host the docs somewhere, but I have no idea how you're supposed to turn that repo into a website.  Its README doesn't really help.

[2017-12-11 19:42] srh commented on #883
Alright, I figured out how to turn that repo into a website.  I went through and edited all the links to point at .html files and then I made a little static website demonstration script.

I've got the docs hosted at http://samuelhughes.com/rethinkdb/horizon-docs/docs/

If you pester me I might improve the CSS a bit :-)

The source for building the static website is at my fork https://github.com/s

[2018-01-19 17:11] michalvankodev commented on #883
I still hope this project is not dead. At least there could be a statement from someone from rethinkdb org. about this.

[2018-01-19 19:49] srh commented on #883
(Not from rethinkdb org.)  You can evaluate for yourself whether the project is dead or not based on activity.  If you want it to not be dead, you have the power to make that happen.